h1, h2, h3, .h3, h4, h5{
margin: 0 0 15px;
font-family: $secondaryFont;
letter-spacing: 1px;
}
h1, .h1{
font-weight: bold;
font-size: 60px;
line-height: 64px;
    @media (max-width:$mobileBig){
    font-size: 48px;
    line-height: 52px;
    }
    @media (max-width:$mobile){
    font-size: 34px;
    line-height: 38px;
    }
}
h2, .h2{
font-size: 36px;
line-height: 40px;
font-weight: bold;
    @media (max-width:$mobileBig){
    font-size: 28px;
    line-height: 32px;
    }
    @media (max-width:$mobile){
    font-size: 26px;
    line-height: 30px;
    }
}
h3, .h3{
font-size: 32px;
line-height: 42px;
font-weight: bold;
    @media (max-width:$mobileBig){
    font-size: 26px;
    line-height: 30px;
    }
    @media (max-width:$mobile){
    font-size: 20px;
    line-height: 24px;
    }
}
h4{
font-size: 28px;
line-height: 34px;
    @media (max-width:$mobileBig){
    font-size: 20px;
    line-height: 20px;
    }
    @media (max-width:$mobile){
    font-size: 18px;
    line-height: 18px;
    }
}
h5{
font-size: 18px;
line-height: 24px;
}
h6, h7{
font-weight: 300;
margin: 0 0 15px;
}
p{
margin: 0 0 15px;
font-family: $mainfont;
    a:not(.btn){
    border-bottom: 2px solid $corp;
    background-size: 100% 67%;
    font-weight: bold;
    text-decoration: none;
    transition: all .1s ease-in-out;
        &:hover{
        color: black;
        } 
    }
} 
@keyframes link {
  0% {
width: 100%;
  }
    50%{
    width: 0%;
    }
  100% {
width: 100%;
  }
}
a{
//text-decoration: none;
color: inherit;
}
.background{
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
img{
max-width: 100%;
display: block;
}
[class^="align-"]{
display: table-cell;
} 
.align-top{
vertical-align: top;
}
.align-middel{
vertical-align: middle;
}
.align-bottom{
vertical-align: bottom;
}
.inline{
vertical-align: middle;
display: inline-block;
}
.flex{
display: flex;
}
.align-flex-center{
display: flex;
align-items: flex-start;
justify-content: center;
}
.align-columns{
align-items: flex-start;
flex-wrap: wrap;
}
.align-self-center{
align-self: center;    
}
.pull-left{
float: left;
}
.pull-right{
float: right;
} 
.inline-block{
display: inline-block;
}
.padding-left{
padding-left: 15px;
}
.padding-right{
padding-right: 15px;
}
.padding-top{
padding-top: 15px;
}
.padding-bottom{
padding-bottom: 15px;
}
.no-padding{
padding: 0;
}
.margin-right{
margin-right: 15px;
}
.margin-left{
margin-left: 15px;
}
.margin-top{
margin-top: 15px;
}
.margin-top-xl{
margin-top: 35px;
}
.margin-bottom{
margin-bottom: 15px;
}
.margin-bottom-xl{
margin-bottom: 25px;
}
.margin-bottom-xxl{
margin-bottom: 50px;
}
.no-margin-right{
margin-right: 0;
}
.no-margin-left{
margin-left: 0;
}
.no-margin-top{
margin-top: 0;
}
.no-margin-bottom{
margin-bottom: 0;
}
.no-margin{
margin: 0;
}
.hide{
display: none;
}
.text-left, .align-left{
text-align: left;
}
.text-center, .align-center{
text-align: center;
} 
.text-right, .align-right{
text-align: right;
}
@media (max-width:$mobileBig){
    .text-center-xs{
    text-align: center;
    }
    .margin-top-mobile-xs{
    margin-top: 15px;
    }
    .pull-left-xs{
    float: left;
    }
}
.text-orange{
color: $orange;
}
.text-blue{
color: $blue;
}
.text-green{
color: $green;
}
.text-red{
color: $red;
}
.uppercase{
text-transform: uppercase;
}
.w-100{
width: 100%;
}
.h-100{
height: 100%;
}

.color-green{
color: $green;
}
.bg-white{
background-color: #fff;
}

.video-container{
margin: 0 auto;
padding-top: 56.25%;
position: relative;
z-index: 1;
background: #000;
overflow: hidden;
    iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    }
}
.mobile{
display: none;
    @media (max-width:$mobileBig){
    display: block;
    }
}
.hide-tablet-small{
    @media (max-width: 890px) {
    display: none !important;
    }
}
.hide-mobile{
    @media (max-width: 767px) {
    display: none !important;
    }
}

.element-invisible{
display: none !important;
}
.section-block{
margin: 50px 0;
width: 100%;
float: left;
}

.overlay-menu, .overlay{
position: fixed;
top: 0;
left: 0;
width:100%;
height: 100%;
z-index: 96;
background: rgba(black, .3);
visibility: hidden;
opacity: 0;
@include transition(opacity .3s ease-in-out);
    &.active{
    opacity: 1;
    visibility: visible;
    }
}
.authorTitle{
font: 300 20px/30px $secondaryFont;
letter-spacing: 0.4px;
color: $green;
}

blockquote{
border-left: 5px solid $primary;
padding-left: 30px;
margin: 25px;
}
code, kbd, pre, samp{
width: 100%;
}
.big, .lead{
font-size: 24px;
line-height:28px;
    @media (max-width: $tabletSmall){
    font-size: 18px;
    line-height:24px;
    }
}
.extendanimate{
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.column-text-2{
column-count: 2;
    ul{
    margin-top: 0;
    }
    @media (max-width: $tabletSmall){
    column-count: 1 !important;
    }
}

.separator{
display: flex;
justify-content: center;
    &:before{
    content: "";
    width: 1px;
    height: 100%;
    background: #dedede;
    }
}