.pull-menu{
width: 42px;
height: 28px;
display: none;
position: absolute;
right: 120px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
    @media (max-width:$minTablet){
    display: block;
    }
    &.close-menu{
    right: auto;
    left: -100%;
    top: 20px;
        &.active{
        left: 15px;
            span:before, span:after {
            background-color: #000;
            }
                
        }
    }
    .pull-active &{
//    position: fixed;
    }
    &:after{
    content:attr(data-menu);
    text-transform: uppercase;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 5px;
    position: absolute;
    top: 18px;
    opacity: 1;
    @include transition(all 0.2s ease-in-out);
    }
    span{
    @include transition(background 0s 0.3s);
    top: 50%;
    margin-top: -4px;
        &:before, &:after {
        content:"";
        position: absolute;
        @include transition-duration (0.3s, 0.3s);
        @include transition-delay (0.3s, 0s);
        }
        &:before{
        top:-8px;
        @include transition-property (top, transform);
        }
        &:after{
        bottom: -2px;
        @include transition-property (bottom, transform);
        }
    }
    span, span:before, span:after {
    @include border-radius (2px); 
    width: 100%;
    display: block;
    position: absolute;
    content: "";
    }
    span:before, span:after {
    height: 2px;
    background-color: $primary; 
    }
    &.active {
    //right: -100px
    z-index: 104;
    right: 94px;
        @media (max-width:$mobileBig){
        right: 14px;
        }
        span {
        @include transition-delay(0.3s);
        background: none;
            &:before, &:after{
            @include transition-delay (0s, 0.3s);
            }
            &:before {
            top: 0;
            @include transform (rotate(45deg));
            }
            &:after {
            bottom:-2px;
            @include transform (rotate(-45deg));
            }
        }
        &:after{
        opacity: 0;
        }
    }
}