.btn-container{
width: 100%;
margin: 25px 0;
float: left;
}
.btn,
.form-submit,
.button{
text-decoration: none;
border: none;
padding:12px 10px;
line-height: 19px;
font-size: 16px;
@include border-radius(0);
display: inline-flex;
align-items: center;
font-weight: bold;
cursor: pointer;
position: relative;
background: $primary;
color: #fff;
font-weight: 300;
text-align: center;
@include btn-default(#fff, #000, $secondary);
@include transition(all .3s ease-in-out);
overflow: hidden;
    svg, i{
    margin-left:10px;
    display: inline-block;
    vertical-align: middle;
    }
    &.icon-left{
        svg, i{
        margin-right:10px;
        margin-left: 0;
        display: inline-block;
        vertical-align: middle;
        }  
    }
//    &:after{
//    content: "";
//    background:image-url('icons/keyboard-arrow-right.svg') no-repeat center / 15px 13px;
//    width: 50px;
//    position: absolute;
//    right: 0;
//    top: 0;
//    height: 100%;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    @include transition(width .3s ease-in-out);
//    }
    &:hover{
    background: #ccc;
//        &:after{
//        width: 100%;
//        }
    }

    @media (max-width:$mobileBig){
    padding-left: 10px;
    padding-right: 10px;
    }
}
.icon-big{
font-size: 28px;
}
.btn-primary,
.button--primary{
@include btn-default(#fff, #000, $secondary);
}
.btn-secondary{ 
@include btn-default(#fff, $green, $primary);
}
.btn-success{
@include btn-default(#fff, $green, $primary);
}
.btn-warning{
@include btn-default(#fff, $yellow, $primary);
}
.btn-danger{
@include btn-default(#fff, $red, $primary);
}
.btn-theme{
@include btn-default($primary, $corp, $primary); 
border: none;
}
.btn-white{
@include btn-default($primary, white, $primary); 
}
.btn-border{
@include btn-default-only-border($primary , $primary, #fff, $primary)
}
.link-icon-arrow{
display: inline-flex;
align-items: center;
    &:after{
    content: "\E800";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    margin-left: 10px;
    font-size: 22px;
    }
    &:hover::after{
    content: "\E804";
    }
}
.btn-link{
background: none;
@include box-shadow(none);
color: $primary;
text-align: left;
padding-left: 0;
padding-right: 0;
    .text{
    display: inline-block;
    vertical-align: middle;
    }
    &:after{
    background-image:image-url('icons/keyboard-arrow-right.svg');
    position: static;
    display: inline-block;
    height: 13px;
    vertical-align: middle;
    }
    &:hover{
    background: none;
    color: $green;
    }
}
.btn-full{
width: 100%;
}


 
.btn-small{
padding: 4px 8px;
font-size: 10px;
}
.btn-list{
display: flex;
flex-direction: column;
align-items: flex-start;
    .btn, .download-button-media{
    margin-bottom: 15px;    
    }
}
.btn-list-inline{
display: flex;
flex-wrap: wrap;
margin-top: 25px;
    .btn{
    margin-right: 55px; 
    margin-bottom: 15px;
    }
} 
.webform-button--submit{
@include btn-default($primary, $corp, $primary); 
    @extend .link-icon-arrow;
}
.download-button-media{


    ul{
    margin:0;
    padding: 0;
    list-style: none;
        .expanded{
        position: relative;
        display: inline-block;
            > a{
            margin: 0;
            }
            &:hover{
                ul.list{
                display: block;
                }
            }
        }
        a{
        display:inline-flex;
        text-decoration: none;
        }
    }
    ul.list{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(black, 0.2);
    padding: 15px;
    z-index: 2;
        border: 1px solid #dedede;
        li{
        margin: 0;
            a{
            display: flex;
            justify-content: space-between;
            padding: 5px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 16px;
            border-bottom: 1px solid #000;
            width: 100%;
                &:hover{
                background: #eaeaea;
                }
            }
        }
    }
}



.section-product, 
.section-sub-category {
    .download-button-media{
        .btn{
        @extend .btn-border;
        }
    }
    .cat-text-media-block {
         .download-button-media{
            .btn{
            @extend .btn-theme;
            }
        }
    }
}
.section-category {
     .download-button-media{
        .btn{
        @extend .btn-theme;
        }
    }
}


.btn-hover-top{
    .download-button-media{
        ul.list{
        top: inherit;
        bottom: 100%;
        }
    }
}
.video-play-button {
position: absolute;
z-index: 10;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
box-sizing: content-box;
display: flex;
justify-content: center;
align-items: center;
width: 32px;
height: 44px;
border: 3px solid #fff;
border-radius: 50%;
padding: 18px 20px 18px 28px;
    &.active{
    opacity: 0;
    }
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: $corp;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}


.video-play-button:hover:after {

}

.video-play-button svg {

}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: .4;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}