.section-category{
    .group-header{
    width: 100%;
    float: left;
    margin-bottom: 50px;
    }
    .group-content{
    margin: 0 0 80px;
    width: 100%;
    float: left;
        .row {
        display:flex;
        flex-wrap: wrap;
        }
    }
    .group-right{
        > h3{
        font-weight: normal;
        }
    }
    .group-footer{
    margin-top: 50px;
    width: 100%;
    float: left;
    }
    &.section-category-subparent{
        #block-kundentestzentrum{
        background: #dedede;
        }
    }
}
.section-sub-category{
    .group-header{
    background: #dedede;
    padding-top: 50px;
    padding-bottom: 50px;
        .row{
        display:flex; 
        flex-wrap: wrap;   
        align-items: center;
        width: 100%;
        }
        .col-r{
        text-align: center;
            .field--name-field-kategorie-images{
            display: inline-block;
                img{
                max-height: 370px;
                width: auto;
                }
            }
        }
    }
    .group-content{
    margin: 0 0 50px;
    width: 100%;
    float: left;
    }
    .related-category{
    margin-top: 80px;
    position: relative;
    }
}
.sub-categories-section{
margin-bottom: 100px;
}

.header-landing-category{
    .col-r{
        img{
        max-width: 600px;
        height: auto;
        display: inline-block;
        }
    }
}
.title-inline{
    > * {
    display: inline;
    }
}
.rel-cat{
    .field{
    display: inline;
    }
}
.pdf-thumnail {
margin-bottom: 15px;
    img{
    box-shadow: 0px 3px 6px rgba(black, .16);
    border: 1px solid #EAEAEA;
    }
}