/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto-condensed-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-condensed-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-condensed-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-condensed-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-condensed-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-condensed-v19-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto-condensed-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-condensed-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-condensed-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-condensed-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-condensed-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-condensed-v19-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}