
input::placeholder {
font-size: 12px;
font-style: italic;
font-weight: 100;
color: #7a7a7a;
}
.search_product::placeholder {
font-size: 16px; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0; 
}
select::-ms-expand {
display: none;
}

form {
margin: 0;
}

fieldset {
@include reset-box-model;
border:1px solid #dedede;
padding: 15px;
width: 100%;
margin-bottom: 15px;
margin-top: 15px;
}

label {
font-weight: 300;
cursor: pointer;  // Indicate that 'label' will shift focus to the associated form element
display:block;
font-size: 14px;
line-height: 22px;
font-family: $secondaryFont;
text-transform: uppercase;

}
.form-item .description {
font-size: 0.85em;
font-family: $secondaryFont;
}
.form-actions {
margin-top: 15px;
margin-bottom: 15px;
display: inline-block;
width: 100%;
}
.form-item{ 
margin: 0 0 15px;
    input, 
    textarea, 
    select,
    select.form-select{
        .form-white &{
        background-color: #fff;
        color: $primary;    
        }
        .form-black &{
        background-color: #4a4a4a;
        color: #fff;    
        }
    }
}
span.form-required{
color: $red;
}
.form-inline{
    label{
    display: inline-block;
    vertical-align: middle;
    }
}
legend {
border: 0;           // Correct color not inheriting in IE6/7/8/9
*margin-left: -7px;  // Correct alignment displayed oddly in IE6/7
padding: 0;          // Since we've removed the fieldset border, margin, and padding, we remove the default padding on legend to avoid unwanted horizontal whitespace.
white-space: normal; // Allow text to wrap in Firefox 3.6
font-size: 18px;
text-transform: uppercase;
font-weight: 600;
line-height: 20px;
    @media (max-width:$mobileBig){
    font-size: 14px;
    line-height: 18px;
    }
}

button, input, select, textarea {
font-size: 100%;           // Correct font-size not inheriting in all browsers
margin: 0;                 // Remove margins in FF3/4 S5 Chrome
vertical-align: baseline;  // Define consistent vertical alignment display in all browsers
*vertical-align: middle;
outline: none;
}

button, input {
-webkit-appearance: none;
border-radius: 0;
line-height: normal;  // Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;             // Display hand cursor for clickable form elements
-webkit-appearance: button;  // Allow styling of clickable form elements in iOS
*overflow: visible;          // Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
}

button.disabled, input.disabled,
button[disabled], input[disabled],
button[readonly], input[readonly] {
cursor: default; // Re-set default cursor for disabled elements
background:#ccc;
opacity: .8;
}

input[type="checkbox"],
input[type="radio"] { // Consistent box sizing and appearance
padding: 0;
*width: 13px;
*height: 13px;
}
input, 
textarea, 
select,
select.form-select{
border:none;
background: none;
border-bottom: 1px solid #eaeaea;
    &.error{
    background: #ead4d4;
    @include box-shadow(0 0 1px $red);
    }
    &:focus{
    border-color: $corp;
    }
}
textarea{
border: 1px solid #eaeaea;
}
/*
.js-form-type-textfield, 
.js-form-type-email,
.form-item-e-mail,
.js-form-type-tel,
.form-item-telefon{
    .form-white &{
    align-items: center;
        .form-item{
            input, 
            textarea, 
            select,
            select.form-select{

            }   
        }
        label{

        }
    }
}
*/
@media (min-width:$mobileBig){
    .js-form-type-textfield, 
    .js-form-type-email,
    .form-item-e-mail,
    .js-form-type-tel,
    .form-item-telefon{
    display: flex;
    align-items: flex-end;
        label{
        border-bottom: 1px solid #eaeaea;
        padding: 0;
        white-space: nowrap;
            .form-white &{
            padding-left: 10px;
            display: flex;
            align-self: stretch;
            align-items: center;
            background: #FFF;
            flex: 1;
            }
            .form-black &{
            padding-left: 10px;
            display: flex;
            align-self: stretch;
            align-items: center;
            background: #4a4a4a;
            flex: 1;
            }
        }
        &.focus{
            label, input{
            border-color:$corp;
            }
        }
        input{
        padding-left: 15px;
        padding-bottom: 0;
            .form-white &,
            .form-black &{
            padding-bottom: 12px;   
            }
        }
    }
}
input, textarea {
padding: 12px 0;
max-width: 100%;
font-size: 14px;
line-height: 22px;
    &:focus {
        &.required {
        background-image: none;
        }
    }
}

select.form-select {
-webkit-appearance: none;   
-moz-appearance: none; 
background: image-url('icons/select.svg') no-repeat right center transparent;
min-width: 200px;
border: 1px solid #4a4a4a;
padding: 12px 25px 12px 8px;
width: auto;
max-width: 100%;
border-radius: 3px;
background-size: 30px;
border: 1px solid #eaeaea;
overflow: hidden;

    &:after{
    content: "";
    } 
    option{
    width: 100%;
    }
}
.form-type-radio{
    input{
    display:none;
    height: 1px;
    width: 1px;
    visibility: hidden;
    }
} 

/*    check box     */

input[type=checkbox], input[type=radio],
label + input[type=checkbox], label + input[type=radio] {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: 22px 0 0 12px;
padding: 0;
border: 0;
}
label + input[type=checkbox], label + input[type=radio]{
position: static;
height: 12px;
width: 12px;
margin: 0;
}
input[type=checkbox] + label {
padding-left:35px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
display:inline-block;
vertical-align:middle;
cursor:pointer;
margin:0;
font-weight: normal;
     &:before {
    background-repeat:no-repeat;
    background-position: 0 0px;
    }
}

input[type=checkbox]:checked + label { 
    &:before{
    background: #4a4a4a;
    }
    &:after {
    visibility: visible;
    opacity: 1;
    width: 12px;
    height: 12px;
    left: 6px;
    top: 8px;
    }

}

input[type=checkbox][disabled] + label,
input[type=radio][disabled] + label{
    &:after{
    background-color: #7a7a7a;
    opacity: .8;
    }
    &:before{
    background-color: #f3f3f3;
    }
}
.js-form-type-checkbox{
    label{
    font-size: 13px;
    position: relative;
    line-height: 18px;
        &:before {
        content:"";
        width: 22px;
        height: 22px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 2px;
        border: 1px solid $borderLight;
        background-color: #fff;
        }
        &:after{
        content:"";
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        left: 11px;
        top: 14px;
        background-color: $corp;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
        }
    }
}

input[type=radio] + label.option {
 padding-left:35px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
display:inline-block;
vertical-align:middle;
cursor:pointer;
margin:0;
}

input[type=radio]:checked + label.option{
    &:before{
    background: #4a4a4a;
    }
    &:after {
    visibility: visible;
    opacity: 1;
    width: 12px;
    height: 12px;
    left: 6px;
    top: 50%;
    margin-top: -6px;
    background-size: 18px;
    } 
}


.js-form-type-radio{
    label{
    font-size: 13px;
    position: relative;
    line-height: 18px;
    padding-left:35px;
        &:before {
        content:"";
        width: 22px;
        height: 22px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        border: 1px solid $borderLight;
        @include border-radius(100%);
        }
        &:after{
        content:"";
        width: 1px;
        height: 1px;
        display: inline-block;
        position: absolute;
        left: 14px;
        margin-top: 0;
        top: 50%;
        background: $corp;
        background-size: cover;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
        @include border-radius(100%);
        }
    }
}
input.error + label:before{
border-color: $red;
}
input[type=radio] {  
}  

input[type="radio"]:checked + label.option:after {

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {  // Remove inner padding and border in FF3/4: h5bp.com/l
  border: 0;
  padding: 0;
}

textarea {
overflow: auto;      // Remove default vertical scrollbar in IE6/7/8/9
vertical-align: top;
resize: none;
-webkit-appearance: none;
border-radius: 0;
    width: 100%;
}
.grippie{
display: none;
}
input:valid, textarea:valid { // Colors for form validity
}

input:invalid,
textarea:invalid {

}

.form-group{
width: 100%;
display: inline-block;
}


.multipage-counter{
color: $green;
padding: 10px 0;
float: right;
}

.multipage-controls-list{
margin-top: 15px;
    .form-submit{
    display: inline-block; 
    text-decoration: none;
    @include border-radius(3px);
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 15px;
    padding: 12px 25px;
    font-size: 10px;  
    }
    .multipage-link-next{
    @include btn-default(#fff, $green, #000);
    }
    .multipage-link-previous{
    @include btn-default(#fff, $secondary, $primary);
    }
}

.item-page-bar{
text-align: center;
margin-top: 50px;
margin-bottom: 15px;
    .bar{
    max-width: 500px;
    width: 100%;
    height: 10px;
    background: #EAEAEA;
    display: inline-block;
    position: relative;
        span{
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background:#4A4A4A;
        transition: width 1s ease-in-out;
        }
    }
}
.js-pager__items{
margin:0;
padding: 0;
text-align: center;
    .pager__item{
    list-style: none;
    
    }
    .button{
    border: 1px solid #4a4a4a;
    background: none;
    color: #4a4a4a;
    padding: 12px 25px;
        &:after{
        content: "\E80A";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: never;
        margin-left: 15px;
        font-size: 22px;
        }
        &:hover{
        background: #4a4a4a;
        }
    }
}


nav.pager{
margin: 25px 0;
display: inline-block;
width: 100%;
text-align: center;

    li{        
    margin: 0; 
    padding:0;
    display: inline-block;
        &.pager-current{
        border: 2px solid #000;
        color: #000; 
            a{
            color: #fff;
            background: #dedede;
            }
        }
        &.pager-current{
        padding: 8px 12px;
        }
        &.pager-ellipsis{
        padding: 8px 12px;
        background-color: transparent;
        }
        &.pager-next,
        &.pager-previous,
        &.pager-last,
        &.pager-first{
            a{
            color: #000;
                &:hover{
                background: #000;
                color: $corp;
                }
            }
        } 
    }
    a{
    padding: 8px 12px;
    display: block;
    color: #000;
    text-decoration: none;
        &:hover{
        background: #000;
        color: $corp;
        }
    }
}


.filters{
background: #eaeaea;
padding: 15px 0;
margin-bottom: 50px;
width: 100%;
//float: left;
position: relative;
    &.filters-black{
    background: #4a4a4a;
    }
    &.bg-outside{
        &:before, &:after{
        content: "";
        background: #eaeaea;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transition: all .2s ease-in-out;
        }
        &:before{
        left: -100%;
        }
        &:after{
        right: -100%;
        }
        &.filters-black{
        color: #fff;
            h4{
            color: #fff;
            }
            &:before, &:after{
            background: #4a4a4a; 
            }
        }
    }
    .block-views-block-fachhandler-block-1 &{
    margin-bottom: 0;
    }
    .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    h4{
    margin: 0;
    }
    .views-exposed-form{
    display: flex;
    align-items: flex-start;

        fieldset{
            legend{
            display: none;
            }
            .fieldset-wrapper{
            display: flex;
            }
        }
    }
    .form-checkboxes{
    display: flex;
    align-items: flex-start;
        [class*="form-item-field-fachhaendler-target-id-"]{
        position: relative;
            &:before{
            content: "";
            position: absolute;
            top: -33px;
            left: 50%;
            transform: translateX(-50%);
            width: 25px;
            height: 36px;
            background: image-url('markers/location_grey.svg') no-repeat center center /cover;
            }
        }
        .form-item-field-fachhaendler-target-id-41:before{
        background: image-url('markers/location_yellow.svg') no-repeat center center /cover;
        }
    }
    form, .views-exposed-form{
        .form-item{
        margin:0 0 0 15px;
        }
        input, select{
        background-color: $primary;
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 14px;
        line-height: 18px;
        border-radius: 0;
        }
        select{
        background-image: image-url('icons/arrow_down_white.svg');
        background-size: 15px;
        background-position-x: calc(100% - 10px);
        max-width: 220px;
        }
        input::placeholder { 
        color: #fff;
        }
        input.hasDatepicker{
        background-image: image-url('icons/calendar.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 15px;
        }
    }
}

/* Carga Ajaxs */
.ajax-progress {
position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgba(0,0,0,0.7);
z-index: 502;
@include transition(all 0.5s ease-in-out);
background-image: none;
    &:after{
    content: ""; 
    position: absolute;
    left: 50%;
    height: 75px;
    width: 75px;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    margin-left: -15px;
    background: image-url('icons/preloader.svg') scroll no-repeat center center;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    }
    .throbber {
    display: none;
    }

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
