
.row{
margin-left: -15px;
margin-right: -15px;
}
.shell{
display: flex;
//align-items: center;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
    &.pull-left{
    float: left;
    }
    &.pull-right{
    float: right;
    } 
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 560px) {
  .col-xm-1, .col-xm-2, .col-xm-3, .col-xm-4, .col-xm-5, .col-xm-6, .col-xm-7, .col-xm-8, .col-xm-9, .col-xm-10, .col-xm-11, .col-xm-12 {
    float: left;
  }
  .col-xm-12 {
    width: 100%;
  }
  .col-xm-11 {
    width: 91.66666667%;
  }
  .col-xm-10 {
    width: 83.33333333%;
  }
  .col-xm-9 {
    width: 75%;
  }
  .col-xm-8 {
    width: 66.66666667%;
  }
  .col-xm-7 {
    width: 58.33333333%;
  }
  .col-xm-6 {
    width: 50%;
  }
  .col-xm-5 {
    width: 41.66666667%;
  }
  .col-xm-4 {
    width: 33.33333333%;
  }
  .col-xm-3 {
    width: 25%;
  }
  .col-xm-2 {
    width: 16.66666667%;
  }
  .col-xm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 767px) {
    
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

}
@media (min-width: 890px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

}
@media (min-width: 1024px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }

}


/* mega menu */
.navbar-we-mega-menu .we-mega-menu-row {
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap
}

.navbar-we-mega-menu .we-mega-menu-row>* {
-webkit-box-flex: 0;
@include flex ( 0 0 100%);
max-width: 100%;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
//position: relative;
}

.navbar-we-mega-menu .span1 {
-webkit-box-flex: 0;
@include flex ( 0 0 8.33333333%);
width: 8.33333333%;
}

.navbar-we-mega-menu .span2 {
-webkit-box-flex: 0;
@include flex ( 0 0 16.66666667%);
width: 16.66666667%;
}

.navbar-we-mega-menu .span3 {
-webkit-box-flex: 0;
@include flex ( 0 0 25%);
max-width: 25%
}

.navbar-we-mega-menu .span4 {
-webkit-box-flex: 0;
@include flex ( 0 0 33.33333333%);
width: 33.33333333%;
}

.navbar-we-mega-menu .span5 {
-webkit-box-flex: 0;
@include flex ( 0 0 41.66666667%);
 width: 41.66666667%;
}

.navbar-we-mega-menu .span6 {
-webkit-box-flex: 0;
@include flex ( 0 0 50%);
max-width: 50%
}

.navbar-we-mega-menu .span7 {
-webkit-box-flex: 0;
@include flex ( 0 0 58.33333333%);
width: 58.33333333%;
}

.navbar-we-mega-menu .span8 {
-webkit-box-flex: 0;
@include flex ( 0 0 66.66666667%);
width: 66.66666667%;
}

.navbar-we-mega-menu .span9 {
@include flex ( 0 0 75%);
max-width: 75%
}

.navbar-we-mega-menu .span10 {
-webkit-box-flex: 0;
@include flex ( 0 0 83.33333333%);
width: 83.33333333%;
}

.navbar-we-mega-menu .span11 {
-webkit-box-flex: 0;
@include flex ( 0 0 91.66666667%);
width: 91.66666667%;
}

.navbar-we-mega-menu .span12 {
-webkit-box-flex: 0;
@include flex ( 0 0 100%);
max-width: 100%
}

.navbar-we-mega-menu .we-mega-menu-col {
    @media (max-width: 890px) {
    -webkit-box-flex: 0;
    @include flex ( 0 0 100%);
    max-width: 100%
    }
}
