.block-languageswitcher{
display: flex;
align-items: center;
margin-left: 25px;
font-family: $secondaryFont;
    .open-lng{
    border: 1px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-transform: uppercase;
    cursor: pointer;
    }
    .close-lng{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    border: 1px solid #4a4a4a;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        &:hover{
        background: #4a4a4a;
        color: #fff;
        }
    }
    .lng-box{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    right: -100%;
    top: 0;
    height: 100%;
    z-index: 9;
    width: 150px;
    background: #fff;
    @include box-shadow(0 0 65px rgba(#000, .2));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include transition(all .3s ease-in-out);
        .language-box-active &{
        right: 0;
        opacity: 1;
        visibility: visible;
        }
    }
    ul{
    margin:0;
    padding: 0;
    list-style: none;
        li{
        margin:5px 0;
        padding: 0 10px;
        display: flex;
        align-items: center;
        position: relative;
            i{
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            @include border-radius(0);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            width: 25px;
            height: 20px;
            }
            a{
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            display:block;
            padding: 5px 10px 5px 35px;
            text-decoration: none;
            position: relative;
            width: 100%;
                &:hover{
                color: #6a6a6a; 
                }
            }
        }
        .code{
        display: none;
        }
    }
}