*{
@include box-sizing(border-box);
}

html, body{
font-size: 16px;
line-height: 24px;
font-family: $mainfont;
letter-spacing: 0.6px;
min-height: 100%; 
height: 100%;
-moz-osx-font-smoothing: grayscale;
font-smooth: auto;
-webkit-font-smoothing: antialiased;
}

body{
margin: 0;
padding: 0;
color: $primary;
@include transition(opacity .2s ease-in-out);
    &.loading{
//    opacity: 0;
    }
    &.loaded{
    opacity: 1;
    }
}

/* LOGO */
.site-logo {
//padding: 15px 0;
display: block;
    img{
    width:260px;
    }
    @media (max-width: $minTablet){
    padding: 15px 0; 
    }
}
#block-basic-branding{
    img{
    display:block;
    transition: all .2s ease-in-out;
        @media (max-width:1140px){
        
        max-width: 170px;
        }
    }
}
#top-header-region{
padding-top: 10px;
padding-bottom: 5px;
}
#header{
background: #fff;
width: 100%;
float: left;
position: fixed;
top: 0;
left:0;
z-index: 99;
@include transition(top .3s ease-in-out);
    .toolbar-fixed &{
    position: relative;
    }
    .container-xl{
        max-width: calc(#{$containerBig} + 30px);
    }
    .cont-h{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    }

    .c-r{
    width: 100%;
        > div{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        }
    }
    @media (min-width:$tablet){
        &.active{
        padding: 0;
        @include box-shadow(0 0 5px rgba(black, .3));
            .site-logo {
            padding: 8px 0;
            }
            .cont-h{
            padding-right: 0;
            }
            #block-basic-branding img{
            max-width: 130px;
            }
            #block-mainnavigation ul.we-mega-menu-ul > li > a.we-mega-menu-li, 
            #block-mainnavigation ul.we-mega-menu-ul > li > a.we-megamenu-nolink{
            padding-top: 20px;
            padding-bottom: 20px;
            }
            .block-languageswitcher{
            align-self: stretch;   
                .open-lng{
                height: 100%;
                border-top: none;
                border-bottom: none;
                }
            }
            .open-search{
            height: auto;
            margin: 0;
            border-left: 0;
            align-self: stretch;
            border-top: none;
            border-bottom: none;
            }
        }
    }

}
#content-top{
background: #fff;
}

.layout-container{
overflow-x: hidden;
}
#main, #content-area, #block-basic-content{
width: 100%;
float: left;
}
.node{
    .content > .field--name-body{
    margin: 50px 0;
    }
}
.section{
width: 100%;
float: left;
@include transition(opacity .2s ease-in-out);
//opacity: 0;
     @media (max-width:$tabletSmall){
        &.padding-out{
        padding: 15px !important;
        }
    }
    &.anim{
    opacity: 1;
        .__section-link-top,
        .__text,
        .back,
        .bottom{
        @extend .extendanimate;
        }
        .__section-link-top,
        .back{
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        }
        .__text,
        .bottom{
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        }
    }
}
#content-bottom{
//width: 100%;
//float: left;
}
.sidebar-first{
    #sidebar-first{
    width:25%;
    float: left;
    }
    #content{
    width: 75%;
    float: right;
    padding: 15px;
    }
}
#block-basic-footer{
float: right;
}
#footer{
width: 100%;
float: left;
position: relative; 
color: #fff;

    .col-l{
    background: $primary;
    padding-left: 50px;    
        > div{
        width: 100%;
        }
    }
    .col-r{
    background: #F1F1F1;
    color: #4a4a4a;
    padding: 0; 
        > div{
        width: 100%;
        }
    }
    .rows-item{
    margin: 0;
    }
    .block-block-content, .block-views, .block-menu{
    padding: 50px 15px;
    }
    .menu--footer{
    padding: 15px;
    }
    .social-block{
    padding: 50px;
    }
    h2{
    font-size:22px;
    line-height: 32px;
    margin: 0 0 25px;
    color: #fff;
    text-transform: uppercase;
    }
    ul:not(.contextual-links){
    margin:0;
    list-style: none;
    padding: 0;
        li{
        list-style:none;
        margin-bottom: 10px;
        }
        a{
        text-decoration: none;
        }
    }
    .block-menu{
         ul.menu{
            a{
            @extend .link-icon-arrow;
            }
        }
    }
    p a, .menu li a{
    color: #fff;
    text-decoration: none;
    background: none;
        &:hover{
        color: $corp;
        }
    }
    .menu-katalog-daownload{
        a{
            &:before{
            content: "\E809";
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            margin-right: 10px;
            }
        }
    }
    @media (max-width:$tablet){
    padding: 0;
        .col-l{
        padding: 0;
        }
        .block-block-content, .block-views, .block-menu, .social-block{
        padding: 15px;
        }
    }
}
.menu--footer{
width: 100%;
float: left;
    ul.menu{
    padding:0;
    margin:0;
    display: flex;
    align-content: center;
        li{
        margin: 0;
           &:not(:last-child):after{
            content: "|"; 
            margin: 0 5px;
            }
//            &:not(last-child){
//                &:after{
//                display: none;
//                }
//            }
            a{
            text-transform:uppercase;
            padding: 5px;
                &:after{
                display: none;
                }
            }
        }
    }
}
.social-block{

padding: 25px;
display: flex;
    .field--name-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        div{
        margin-bottom: 35px;
            &:first-child{
            display: flex;
                a{
                margin-right:15px;
                }
                img{
                width:45px;
                height: auto;
                }
            }
            &:last-child{
            margin-bottom: 0;
            }
        }
    }   
}
#footer-region{
display: flex;
flex-wrap: wrap;
}



#cont-sticky{
width: 100%;
float: left;
}
.sticky-scroll{
    @media (max-width:$mobileBig){
    position: static !important;
    }
}


#block-webform{

}


.section-search{
background: #f3f3f3;
    #content-area{
    padding: 100px 0;
        > div{
        max-width: 1300px;
        padding: 0 15px;
        margin: 0 auto;
        }
    }
}

/* Custom css to libaries*/
.kint{
width: 100%;
float: left;
}

.section-user{
    #block-basic-content{
    width: 100%;
    float: left;
        form, article{ 
        max-width: 800px;
        margin: 60px auto;
        }
    }
}
.video-embed-field-lazy{
position: relative;
}

.video-embed-field-lazy-play{
border: none;
z-index: 2;
height: 100%;
width: 100%;
left: 0;
top: 0;
margin-left: 0;
margin-top: 0;
background-position: center;
background-color: rgba(black, .3);
}
#sliding-popup{
height: auto !important;
    .popup-content{
    padding: 30px 15px;
    }
    .decline-button {
    background: #fff;
    @include border-radius(20px);
    }
}

.ui-draggable .ui-dialog-titlebar{
background: #000;
color: #fff;
border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar-close{
right: 10px;
background: #fff;
border-radius: 0;
border: none;
}