/* MENU */
#block-mainnavigation{
position: inherit;
font-family: $secondaryFont;
overflow: auto;
    @media (max-width:$minTablet){
    @include transition(all .3s ease-in-out);
    position: fixed;
    left: -100%;
    top:0;
    height: 100%;
    z-index: 104;
    background: #fff;
    width: calc(100% - 80px);   
    padding-left: 0;
        .pull-active &{
        left: 0;
        }
        > .region-we-mega-menu{
        width: 100%;
        overflow: auto;
        padding: 15px;
        padding-top: 25px;
        display: inline-block;
        }
    }
    @media (max-width:$mobileBig){
    width: 100%;   
    }
    ul.we-mega-menu-ul{
    text-align: right;
    padding: 0;
    margin: 0;
        @media (min-width: 1024px){
        display: flex; 
        }
        li.we-mega-menu-li{
        display: inline-block;
        margin: 0;
        padding: 0px;
            &.dropdown-menu{
                &:hover{
                    .we-mega-menu-submenu{
                    opacity: 1;
                    visibility: visible;
                    @include transform(translateY(0px));
                    }
                }
            }
            &.active > a, &.active-trail > a{
            background: $corp;
            }
            &.open {
                > a{
                background: $corp;   
                }
                .expand-mobile{
                transform: rotate(180deg);    
                background: $corp;
                }
            }
            @media(max-width:$minTablet){
            display: block;
            text-align: left;
            position: relative;
            }
        }
        a.we-mega-menu-li, 
        a.we-megamenu-nolink{ 
        color: $primary;
        padding: 40px 15px; 
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        z-index: 3;  

            @media (max-width:1140px){
            padding-left: 7.5px;
            padding-right: 7.5px;
            }
            @media (max-width:1240px){
            font-size: 14px;
            }
            @media (min-width: 1024px){
           
            }
            @media(max-width:$minTablet){
            padding: 15px;   
            display: block;
            margin-bottom: 1px;
            }

            &:hover{
            background: $corp;
            } 
            @media(max-width:767px){
                &:hover{
                background: none;
                }
            }
        }

        .we-mega-menu-submenu{
        background: #d2d2d2;
        text-align: left;
        width: 100%;
            @media(min-width:$tablet){
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            left: 0;
            @include box-shadow(0px 3px 6px rgba(black, .3));
            @include transition(all .3s ease-in-out);
            @include transform(translateY(20px));
            opacity: 0;    
            }
            .subul{
            padding: 0;
            margin: 0;
                li{
                display:block;
                margin-bottom: 10px;
                    @media(max-width:$tablet){
                    margin-bottom: 0;
                    }
                    a{
                    padding: 0 0 15px 0;
                    @extend .link-icon-arrow;
                    font-weight: 600;
                        @media(max-width:$minTablet){
                        padding: 8px 0;
                        }
                        @media (max-width:$mobileBig){
                        font-size: 12px;
                        line-height: 14px;
                        }
                    }
                }
            }
            li {
                &.active > a, &.active-trail > a, > a:hover{
                background-color: transparent;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, $corp 0%) center center/0% 90% no-repeat;
                background-size: 100% 70%;
                font-weight: 600;
                } 
            }
            @media(max-width:$minTablet){ 
            display: none;
            margin-bottom: 10px;
                .container{
                padding: 0;
                }
            }
        }
        .we-mega-menu-col {
        padding: 25px;
//        background-color: #D2D2D2;
            @media(min-width:$tablet){
                &:before{
                content: "";
                position: absolute;
                background-color: #D2D2D2;
                width: 100%;
                height: 100%;
                left: -100%;
                top: 0;
                }
            }
            &.col-l{
            padding-left: 0;
            }
            &.col-r{
            background-color: #F1F1F1;
            position: relative;
                 @media(min-width:$tablet){
                &:before{
                    content: "";
                    position: absolute;
                    background-color: #F1F1F1;
                    width: 100%;
                    height: 100%;
                    right: -100%;
                    left: auto;
                    top: 0;
                    }
                }
            }
            .block, .block-views, .block-inner{
                > h2{
                font-size: 14px;
                line-height: 19px;
                font-weight: normal;
                letter-spacing: 0;
                }
            }
            @media(max-width:890px){
            padding: 5px 15px;
                &.col-l{
                padding: 0 15px;
                }
            }
        }
    }
    .messetermine-block{
        .views-row{
        border-bottom: 1px solid white;
        padding: 10px 0;
        margin: 0;
        }   
    }
}

#header.active{
    
}
.menu-footer, .menu-top{
display: none;
margin-top: 15px;
padding: 15px;
border-top: 1px solid #eaeaea;
    @media (max-width:$minTablet){
    display: block;
    }
    .field--name-body{
    margin-bottom: 25px;
        ul{
        list-style:none;
        padding: 0;
        margin: 0;
            @media (min-width:540px){
            display: flex;
            justify-content: space-between;
            
                a {
                margin: 0;
                }
            }
            a{
            display:flex;
            text-decoration: none;
            padding: 0 5px;
            margin-bottom: 15px;
            }
            i{
            font-size:22px;
            }
            div{
            margin-left: 15px;
                span{
                display: block;
                }
            }
        }
    }
    .block-system{
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eaeaea;
        .site-logo{
        display: inline-block;
        padding: 0;
            img{
            max-width: 150px;
            }
        }
    }
}
.menu-top{
padding: 0;
margin: 0;
border: none;
    .block-system{ 
    padding: 15px 0 0 0;
    margin: 0;
    border: none;  
    }
}
.expand-mobile{
display: none;
position: absolute;
right: 0;
top: 0;
background: #d6d6d6;
height: 100%;
width: 40px;
align-items: center;
justify-content: center;
z-index: 5;
transition: transform .2s ease-in-out;

    @media (max-width:$minTablet){
    display: flex;
    }
}
//.block-quicklinksmenu{
//    @media (max-width:$mobileBig){
//    padding: 15px 0;
//    }
//}
.field--name-field-quicklinks-menu, .aktuelles-block-menu{
//text-transform: uppercase;
    .field__label{
    font-size: 16px;
    line-height: 20px; 
    margin-bottom: 15px;
    text-transform: uppercase;
    }
    .field__item{
    margin-bottom: 10px;
    }
    a{
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    @extend .link-icon-arrow;
    }
    @media (max-width:$minTablet){
        .field__label{
        font-size: 14px;
        line-height: 18px; 
        margin-bottom: 10px;
        }
        
        .field__item{
        margin-bottom: 5px;
        }
        a{
        font-size: 12px;
        line-height: 16px;
        }
    }
    @media (max-width:$mobileBig){
    padding: 15px 0;
    }
}
.block-quicklinkskontakt{
    @media (max-width:$mobileBig){
    padding: 15px 0 0;
    font-size: 12px;
    line-height: 16px;;
    }
}
.aktuelles-block-menu{
    .views-row{
    border-bottom: 1px solid white;
    padding: 10px 0;
    margin: 0;
    }     
}