@mixin btn-default($color, $bg-color, $hover) {
color: $color;
background-color: $bg-color;
border-bottom-color: $hover;
    &:hover{
    color: $bg-color;
    background-color: $hover; 
        svg path{
        stroke: $bg-color;
        }
    }
    svg path{
    stroke: $color;
    }
}
@mixin btn-default-border($color, $bg-color, $border-color, $hover) {
color: $color;
background-color: $bg-color;
border: 1px solid $border-color;
    &:hover{
    background-color: $hover;
    }
}

@mixin btn-default-only-border($color , $border-color, $hoverText, $hoverBg) {
color: $color;
border: 1px solid $border-color;
background-color: transparent;
    &:hover{
    color: $hoverText;
    background-color: $hoverBg;
        svg path{
        stroke: $hoverText;
        }
    }
    svg path{
    stroke: $color;
    }
}

@mixin btn-default-icon($color, $image, $position-x, $position-y, $bg-color, $hover) {
color: $color;
background-color: $bg-color;
padding:12px 25px 12px 50px;
background: image-url($image) no-repeat $position-x $position-y $bg-color;
    &:hover{
    background-color: $hover;
    }
}

@mixin overlaygridLight{
    &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 70%, rgba(0,0,0,0.65) 100%); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.65) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
}
@mixin overlaygrid{
    &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 85%); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 85%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 85%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
}