
.swiper-container{
position: static;
}
.swiper-pagination-bullet{
opacity: 1;
background: #fff;
width: 14px;
height: 14px;
border-radius: 50%;
margin: 0 5px;
@include transition(all .2s ease-in-out);
border: 1px solid $primary;
    &.swiper-pagination-bullet-active{
    background: $corp;
    }
}
.swiper-button-prev{
left: 0;
}
.swiper-button-next{
right: 0;
}

.swiper-button-next:after, .swiper-button-prev:after{
color: #606060;
font-family: "fontello";
font-style: normal;
font-weight: normal;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
content: "\E805";
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
content: '\E806';
}
.caroucel-container{
    > .container{    
    max-width: calc(#{$container} + 80px);
    padding-left: 55px;
    padding-right: 55px;
    position: relative;
    }

    .caroucel-slide {
        .swiper-button-next{
        right: -45px;
        }
        .swiper-button-prev {
        left: -45px;
        }
        @media (max-width:$mobileBig){
            .swiper-button-next{
//            right: 0;
            }
            .swiper-button-prev {
//            left: 0;
            }  
        }
    }
    .caroucel-video {
        .swiper-button-next{
        right: -0;
        }
        .swiper-button-prev {
        left: -0;
        }
    }

}
.field--name-field-cta{
margin-top:25px;
    a{
    @extend .btn;
    @extend .btn-theme;
    display: inline-flex;
    align-items: center;
        &:after{
        content: "\E800";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: never;
        margin-left: 10px;
        font-size: 22px;
        }
        &:hover::after{
        color: $corp;
        content: "\E804";
        }
    }
}
.paragraph{
width:100%;
float: left;
position: relative;
    .bg-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
        + > div{

        }
    }
    .container .paragraph .container{
    padding-left: 15px;
    padding-right: 15px;
    }
    &.color-white{
    color: #fff;
        .field--name-field-downloads{
            > .field__item{
            border-bottom-color: #fff;
                &:first-child{
                border-top-color: #fff;
                }
            }
        }
    }
    &.color-black{
    color: #000;
    }
}
.paragraph--type--paragraph-row{
    > div {
//    padding-left: 15px;
//    padding-right: 15px;
        > .row{
        display:flex;
//        align-items: center;
        flex-wrap: wrap;
        }
    }
    .paragraph .paragraph .container{
    padding-left: 0;
    padding-right: 0;
    }
    &.out-of-container-left{ 
        > .container{
        padding-left: 0;
        }   
    }
    &.col-50-50{
        .paragraph{
        width: 50%;
        }
    }
    &.col-33-67{
        .paragraph:nth-child(1){
        width: 33%;
        }
        .paragraph:nth-child(2){
         width:67%;
        }
    }
    &.col-67-33{
        .paragraph:nth-child(1){
        width:67%;
        }
        .paragraph:nth-child(2){ 
        width: 33%;
        }
    }
    &.separator-line{
        .paragraph:nth-child(1){
        padding-right: 60px;
            &:after{
            content: "";
            width: 1px;
            background: #eaeaea;
            height: 100%;
            position: absolute;
            top: 0;
            right: 30px;
            }
        }
    }
    @media (max-width:$mobileBig){
        &.col-50-50, 
        &.col-33-67, 
        &.col-67-33{
            .paragraph:nth-child(1){
            margin-bottom: 15px !important;
            }
            .paragraph{
            width:100% !important;
            margin-bottom: 15px;
            }
        }
        &.separator-line{
            .paragraph:nth-child(1){
            padding: 0 0 15px;
                &:after{
                width: 100%;
                height: 1px;
                position: relative;
                right: 0;  
                display: block;
                }
            }
        }
    }
}
.paragraph--type--paragraph-column{
    
}
.section-title{
text-transform: uppercase;
margin-bottom: 25px;
}
.paragraph--type--paragraph-slideshow, 
.header-landing-category,
.header-landing-aktuelles,
.header-landing{
min-height: 450px;
display: flex;
position: relative;
align-items: stretch;
background: #eaeaea;
    @media (max-width:$tablet){
    min-height: 350px;
    }
//    @media (max-width:$mobileBig){
//    min-height: 200px;
//    }
    .header-slide, .__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
        > div, article{
        height: 100%;
        width: 100%;
        }
        img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        }
        &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(360deg, rgba(#000000, 0.71) 0%, rgba(#292929, 0) 42%, rgba(#545454, 0) 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        z-index: 4;
        }
    }

    .container{
    width: 100%;
    position: relative;
    align-items: flex-end;
    display: flex;
    }
    .container-xl{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 100%;
    }
    .box{

    }
    h1, &.header-landing-aktuelles h2{
    position: relative;
    z-index: 2;
    background: $corp;
    padding: 15px 35px;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 58px;
    display: inline-block;
    margin: 0;
    bottom: -40px;
    color: black;
    text-transform: uppercase;
        @media (max-width:$mobileBig){
        font-size: 42px;
        line-height: 50px;
        }
        @media (max-width:$mobile){
        font-size: 34px;
        line-height: 42px;
        padding-left: 15px;
        padding-right: 15px;
        }
    }
}

.categories-block{
    .rows-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    }
    .views-row {
    width: 25%;
    padding: 10px;
        @media (max-width:$tabletSmall){
        width:50%;
        }
        @media (max-width:$mobileBig){
        width: 100%;
        }
    }
    .category-link{
    position:relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
        &:hover{
            img{
            @include transform(scale(1.1));
            }
            .category-name{
            background-color: transparent;
                span, a{
                color: $primary;
                background-color: $corp; 
                    &:after{
                    opacity:1;
                    visibility: visible;
                    width: 30px;
                    }
                }
            }
        }
    }

    .category-name{
    text-decoration: none;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    background-color: rgba(black, .3);
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 25px;
    @include transition(all .2s ease-in-out);
        span, a{
        text-decoration: none;
        background-color: transparent; 
        padding: 10px;
        display: flex;
        align-items: center;
        @include transition(all .3s ease-in-out);
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
         color: $corp;
            &:after{
            content: "\E800";
            font-family: "fontello";
            opacity: 0;
            visibility: hidden;
            width: 0;
            color: $primary;
            display: inline-block;
            @include transition(width .2s ease-in-out);
            }
        }
        @media (max-width:$mobileBig){
        width: 100%;
        }
    }
    .views-field-field-produkte-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
        .field-content{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        }
    }
    img {
    @include transform(scale(1));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    @include transition(transform .2s ease-in-out);
    }
    
}
//.categories-block-menu{
//    .rows-item{
//    display: flex;
//    flex-wrap: wrap;
//    margin: 0 -10px;
//    }
//    .views-row {
//    width: 25%;
//    padding: 10px;
//    }
//    .views-field-field-kategorie-images{
//    background: #fff;
//    display: block;
//    margin-bottom: 20px;
//    }
//    .views-field-name a{
//    position: relative;
//    font-size: 16px;
//    line-height: 19px;
//    text-transform: uppercase;
//    text-decoration: none;
//    font-weight: 600;
//    }
//    img{
//    display:block;
//    width: 100%;
//    height: auto;
//    position: relative;
//    top: 28px;
//    }
//}
.categories-block-menu,
.sub-categories-block{
    .rows-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    }
    .views-row {
    margin-bottom: 30px;
        .kategorie-image,
        .views-field-field-kategorie-image-landing,
        .views-field-field-produkte-image,
        .views-field-views-conditional-field,
        .views-field-field-kategorie-images-1,
        .views-field-field-kategorie-images{
        background: #EAEAEA;
        margin-bottom: 48px;
        height: 260px;
        width: 100%;
        display: block;
        @include transition(all .3s ease-in-out);
            .field-content{
            height: 100%;
            }
            a, .field--name-field-media-image{
            height: 100%;
            display: flex;
            width: 100%; 
            align-items: flex-end;
            justify-content: center;
            }
            img{
            @include transform(scale(1));
            @include transition(all .3s ease-in-out);
            }
        }  
        &:hover{
            .kategorie-image,
            .views-field-field-kategorie-image-landing,
            .views-field-field-kategorie-images-1,
            .views-field-field-produkte-image,
            .views-field-views-conditional-field,
            .views-field-field-kategorie-images{
            background: $corp;
                img{
                @include transform(scale(1.1));
                }
            }
        }
    }
    .field--name-field-media-image{

    }
    .views-field-name a,
    .views-field-field-display-name a,
    .category-name a,
    .views-field-title a{
    position: relative;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
    display: block;
    font-family: $secondaryFont;
    }
    img{
    display:block;
    width: auto;
    height: auto;
    max-height: 100%;
    position: relative;
    top: 28px;
    }

}
.sub-categories-block{
    .views-field-title a,
    .category-name a,
    .views-field-field-display-name a,
    .views-field-name a{
    font-size: 22px;
    line-height: 30px; 
    }
}
.categories-block-menu{
    .views-row {
    margin-bottom: 15px;
        @media (max-width: 767px) {
        margin: 0;
        }
    }
    .views-row {
        .views-field-field-kategorie-image-landing{
        height: 150px;
        background: #fff;
        margin-bottom: 15px;
            a{
            position:relative;
            }
        }
        img{
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        }
        .views-field-field-display-name a,
        .views-field-name a{
        @extend .link-icon-arrow;
        margin: 0;
        }
    }    
    @media(max-width:$minTablet){
        .views-field-field-display-namee a,
        .views-field-name a{
        font-size: 12px;
        line-height: 16px;
      
        }
        .views-row {
            .views-field-field-kategorie-image-landing{
            height: 90px;
            }
        }
    }
    @media(max-width:$tabletSmall){
        .views-row {
        padding: 0 10px;
            .views-field-field-kategorie-image-landing,
            .views-field-field-kategorie-images{
            display: none;
            }
        }
        .views-field-field-display-name a,
        .views-field-name a{
        margin: 0;
        padding: 10px 0;
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        }
    }
}
.landing-pages-front{
    .rows-item{
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    }
    .views-row {
    width: 33.3334%;
    padding:10px;
        @media (max-width:$mobileBig){
        width: 100%;
        }
    }
    img{
    display:block;
    width: 100%;
    height: auto;
    }
    h3{
    margin-top: 10px;
    text-transform: uppercase;
    color: #000;
    font-size: 22px;
    line-height: 30px;
        @media (max-width:$mobileBig){
        font-size: 16px;
        line-height: 22px;
        }
        a{
        text-decoration: none;
        }
    }
} 


.service-block, .field--name-field-call-to-action-collection{
    .views-row, .field__item{
        a{
        font-family: $secondaryFont;
        border-bottom: 2px solid #fff;
        padding: 15px 0;    
        text-decoration: none;
        display: block;
            span{
            font-size: 16px;
            line-height: 19px; 
            display: flex;
            align-items: center;
            @extend .link-icon-arrow;
            }
            &:hover{
            border-bottom-color: $corp;
                &:hover span::after{
                content: "\E804";
                }
            }
        }
        &:first-child a{
        border-top: 2px solid #fff;
        }
        h4, 
        .views-field-field-service-category{
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        margin: 0 0 5px; 
        font-weight: bold;
        }

    }
}
.messetermine-block{
    h5{
    margin: 0;
    text-transform: uppercase;
    }
    .views-row{
    margin-bottom: 15px;
        &:last-child{
        margin-bottom: 0;
        }
    }
}
.messetermine-block-page{

    .list-rows{
    display: flex;
    }
    .views-row{
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
        h5{
        margin: 0;
        }
        .views-field{
        display: flex;
            .views-label{
            font-weight: 600;
            margin-right: 5px;
            }
        }
        .views-field-field-text-url{
        margin-top: 25px;
        border-bottom: 1px solid #eaeaea;
        flex-grow: 1;
        width: 100%;
            a{
            text-decoration:none;
            display: inline-flex;;
            align-items: center; 
                &:after{
                content: "\E808";
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                margin-left: 10px;
                }
            }
        }
    }
}
.paragraph--type--text-media, 
.text-media-block{
background: #eaeaea;

    &.out-of-container{
        &.col-33-67,
        &.col-67-33{
            .container{
            position: relative;
            }
        }
        .media{
        width: 50%;
        position: absolute;
        top: 0;
        height: 100%;
        }
        &.content-left{
            .media{
            right: 0;
            }
        }
        &.content-right{
            .media{
            left: 0;
            }
        }   
    }
    &.content-right{
        .shell{
        flex-direction: row;
        }
    }
    .shell{
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    }
    .content{
    padding-top: 30px;
    padding-bottom: 30px;
    }
    @media (min-width:768px){
        .content{
        padding-top: 100px;
        padding-bottom: 100px;
        }
        &.content-left{
            .content{
            padding-right: 60px;
            }
        }
        &.content-right{
            .content{
            padding-left: 60px;
            }
        }
    }
    .content, .media{
    width: 50%;
    float: left;
    position: relative;
    }
    &.col-33-67{
        .content{
        width: 33%;
        }
        .media{
        width:67%;    
        }
    }
    &.col-67-33{
        .content{
        width: 67%;
        }
        .media{
        width:33%;    
        }
    }
    .media{
        article{
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        }
        img, video, iframe{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        }
    }
    @media (max-width:$mobileBig){
        .media, .content{
        width:100% !important;
        }
        .media{
        height: 150px !important;
        position: relative !important;
        overflow: hidden !important;
        }
        .container{
        padding: 0;
        }
        .content{
        padding-left: 15px;
        padding-right: 15px;
            }
    }
}
.next-prev-btn{
margin: 50px 0;
width: 100%;
float: left;
}
.block-nextpreviousblock{
display: flex;
flex-wrap: wrap;
    .btn{
    width: 50%;
    background:none;
    color: $primary;
    border: 1px solid #eaeaea;
    padding: 25px 15px;
    text-align: left;
    display: flex;
    align-items: center;
        &:before {
        content: "\E802";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: never;
        margin-right: 10px;
        font-size: 22px;
        }
        &:last-child{
        border-left: 0;
        text-align: right;
        flex-direction: row-reverse;
            &:before {
            content: "\E800";
            margin-left: 15px;
            margin-right: 0;
            }
        }
        &:hover{
        background: $corp;
        }
    }
}
.block-download-category-block{
    .download-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #eaeaea;
        &:last-child{
        border-bottom: 1px solid #eaeaea;  
        }
        h4{
        margin: 0;
        display: flex;
            i:before{
            margin-right:10px;
            margin-left: 0;
            }
        }
        ul{
        margin:0;
        padding: 0;
        list-style: none;
        padding: 15px;
            .expanded{
            position: relative;
                &:hover{
                    ul.list{
                    display: block;
                    }
                }
            }
            a{
            display:block;
            text-decoration: none;
                &:hover{
                background: #EAEAEA;
                color: #000;
                }
            }
        }
        ul.list{
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
        background: #fff;
        box-shadow: 0px 0px 3px rgba(black, 0.2);
        z-index: 2;
            li{
            margin: 0;
                a{
                display: flex;
                justify-content: space-between;
                padding: 5px;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 16px;
                border-bottom: 1px solid #000;
                }
            }
        }
    }
}


.open-search{
border: 1px solid #4A4A4A;
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
margin-left: 5px;
}
.close-search{
position: absolute;
top: 15px;
right: 15px;
border: 2px solid $primary;
padding: 15px;
text-transform: uppercase;
font-size: 12px;
line-height: 12px;
text-decoration: none;
    .toolbar-fixed &{
    top: 95px;
    }
    &:hover{
    color: #fff;
    background: $primary;
    }
}
#main .kontaktblock-fixed{
position: fixed;
top: 50%;
right: 0;
transform: translateY(-50%);
z-index: 99;
transition: right .2s ease-in-out;
    @media (max-width:$mobileBig){
    display: none;
    }
    .language-box-active &{
    right: -100%;
    }
    ul{
    list-style:none;
        li{
        display: flex;
        margin-bottom: 5px;
        justify-content: flex-end;
            a{
            background:$corp;
            color: $primary;
            padding: 10px;
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
                i{
                font-size:26px;
                }
                div{
                display: none;
                padding-right: 25px;
                width: 350px;
                    span{
                    display:block;
                        &.h5{
                        font-size: 22px;
                        line-height: 29px;
                        }
                        &.phone{
                        font-size: 32px;
                        line-height: 43px;
                        font-weight: bold;
                        font-family: $secondaryFont;
                        }
                        &.small{
                        font-size: 14px;
                        line-height: 19px;
                        }
                    }
                }
            }
            &:hover{
                a{
//                background:$primary;
//                color: $corp;
//               
                    div{
                    display:block;
                    }
                }
            }
        }
    }
}
.footer-map{
    .content{

    }
    .btn-list-inline{
    margin-top: 50px;
        i{
        font-size: 30px; 
        }
    }
}
.search-block-form{
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 100;
background: rgba(white, .95);
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
visibility: hidden;
transition: opacity .2s ease-in-out;
padding: 15px;
    &.active{
    opacity: 1;
    visibility: visible;
    }
    form{
    display: flex;
    align-items: center;
    max-width: 610px;
    width: 100%;
    }
    .form-item{
    width: 70%;
    margin: 0;
    }
    input{
    width: 100%;
    }
    .form-actions{
    width: 30%; 
    margin-left: 15px;
    }

}
.breadcrumb-container{
width: 100%;
float: left;
    &.paragraph-breadcrumb{
    margin-top: 40px;
    }
    .front-page &{
    display: none;
    }
}
nav.breadcrumb{
width: 100%;
float: left;
margin-top: 15px;
margin-bottom: 3rem; 
    ol, ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
        li{
        list-style: none;
        font-size: 12px;
        line-height: 13px;
        display: inline-flex;
        align-items: center;
            a, span{
            text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.71px;
            color: $primary;
            font-weight: 600;
            text-decoration: none;
            border-bottom: 2px solid transparent;
                &:hover{
                border-bottom-color: $corp;
                background-size: 100% 67%;
                }
            }
            &:after{
            content: "\E81A";
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            margin: 0 15px;
            }
            &:last-child{
                &:after{
                display: none;
                }
            }
        }
    }
}

.paragraph--type--reference-block{
//overflow-x: hidden;
}
.webform-submission-form{

    .form-item{

    }
}
.webform-submission-kundendienst-add-form{
//margin-top: 50px;
}

.scroll-to-top{
margin: 15px 0;
display: flex;
justify-content: center;
width: 100%;
float: left;
}

.leaflet-popup-pane{
    h5{
    margin: 0 0 5px;
    }
    .views-field{
    margin-bottom: 5px;
    }
    .field-content{
    display: flex;
    align-content: center;
        i{
        margin-right: 10px;
        }
    }
} 
.map_vertriebspartner_block,
.block-views-block-erfolgsgeschichten{
    .map{
    margin: 25px 0;
    }
    .rows-item{
    display: flex;
    flex-wrap: wrap; 
    margin-left: -15px;
    margin-right: -15px;
    }
    .views-row{
    margin-bottom: 25px;
    }
    h5{
    margin: 0 0 10px;
    border-left: 10px solid $corp;
    padding-left: 10px;
    }
    .box{
        .info{
        display: flex;
            i{
            margin: 0 10px 0 0;
            }
        }
    }
    .field--name-field-address{
        .field__label{
        display: none;
        }
    } 
    .weltkarte {
        .karte-kontinent {
        cursor: pointer;
        fill:#4a4a4a;
            &:hover {
            filter: none;
            fill: $corp;
            }
        }
    }
}
.map_vertriebspartner_block{
    .views-row{
    display: none;
        &.active{
        display: block;
        }
    }
}
.block-views-block-erfolgsgeschichten{
    img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    }
    .views-field-view-node{
    text-decoration: none;
    color: #9F9F9F;
    }
}


.paragraph--type--downloads, 
.section-download-produkt{
    .field--name-field-downloads,
    .field--name-field-download-dokument,
    .field--name-field-intro-dokument{
        > .field__item{
        border-bottom: 1px solid #4a4a4a;
            &:first-child{
            border-top:1px solid #4a4a4a;
            }
            a{
            text-decoration:none;
            font-size: 18px;
            line-height: 22px;
            padding: 15px 0;
            display: flex;
            align-items: center;
            position: relative;
                &:before{
                content: "\F1C1";
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                speak: never;
                margin-right: 15px;
                }
                &:after{
                content: "";
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $corp;
                width: 0%;
                opacity: 0;
                transition: all .2s ease-in-out;
                }
                &:hover{
                    &:after{
                    opacity: 1;
                    width: 100%;
                    }  
                }
            }
        } 
    }
    .field--name-field-download-dokument,
    .field--name-field-intro-dokument{
        > .field__item{
        border-bottom: 1px solid #fff;
            &:first-child{
            border-top:1px solid #fff;
            }
        }
    }
}
.rel-cat{
margin-bottom: 50px;
}

.not-found{
background-color: $corp;
@include transition(all .2s ease-in-out);
}

.paragraph--type--video-gallery{
padding: 50px 0;
    .video-gallery{
    background-color: inherit;
    }
}