.section-aktuelles{
    .group-content{
    margin-top: 100px;
    margin-bottom: 50px;
        .col-l{
        padding-right: 60px;
        margin-bottom: 25px;
            h2, .h2{
            margin: 0;
            }
            time{
            font-size:14px;
            line-height: 16px;
            margin-bottom: 25px;
            display: block;
            }
        }
        .subtitle{
        font-size: 20px;
        line-height: 26px;
        font-weight: normal;
        font-family: $mainfont;
        margin: 0 0 25px;
        }
        .col-r{
        border-left: 1px solid #eaeaea;
        padding-left: 60px;
        }

        .__image{
        margin-bottom: 25px;
            img{
            height:auto;
            }
        }
        @media (max-width:$mobileBig){
            .col-l{
            padding: 0 15px;
            }
            .col-r{
            padding: 0 15px;
            border: 0;
            }
        }
    }
}

.aktuelles-block{
margin-left: -10px;
margin-right: -10px;
    @media (max-width:$mobileBig){
    margin-left: 0;
    margin-right: 0;
    }

    .rows-item{

    }
    &.grid{
        .rows-item, .views-infinite-scroll-content-wrapper{
        display: flex;
        flex-wrap: wrap;
        }
    }
    &.list{
    margin-left: 0;
    margin-right: 0;
        .rows-item{
        display: flex;
        flex-wrap: wrap;
        }
        .views-row {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eaeaea;
        }
        .views-field-title{
        margin: 0;
        font-size: 16px;
        line-height: 21px;
        text-transform: none;
        border-bottom: 2px solid transparent;
            a:hover{
            border-bottom: 2px solid $corp;
            }
        }
        .views-field-field-date{
        font-size: 14px;
        line-height: 22px;
        }
        .more-link{
        text-align: left;
        }
    }
    .views-field-view-node, .views-field-views-conditional-field{
        a{
        text-decoration:none;
        color: #9F9F9F;
            &:hover{
            color: black;
            }
        }
    }

    .views-row {
    width: 25%;
    padding:10px;
        @media (max-width:$tabletSmall){
        width: 33.3334%;
        }
        @media (max-width:$mobileBig){
        width: 50%;
        }
        @media (max-width:$mobile){
        width: 100%;
        }
    }
    img{
    display:block;
    width: 100%;
    height: auto;
    }
    .views-field-title{
    margin-top: 10px;
//    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-family: $secondaryFont; 
    margin-bottom: 10px;
    font-weight: bold;
        a{
        text-decoration: none;
        }
    }
    .more-link{
    margin-top:25px;
    text-align: center;
        a{
        @extend .btn;
        @extend .btn-theme;
        display: inline-flex;
        align-items: center;
            &:after{
            content: "\E800";
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: never;
            margin-left: 20px;
            font-size: 22px;
            }
            &:hover::after{
            color: $corp;
//            content: "\E804";
            }
        }
    }
}