.product-list,
.field--name-field-reference-product{
    .rows-item{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    }
    .views-row{
    margin-bottom: 30px;
    }
    .item-product{
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100%;
    @include transition(all .3s ease-in-out);
        h4{
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        }
        .col-l{
        padding: 25px;
        }
        .col-r{
        padding:0;
        align-self: flex-end;
            > *{
            float: right;
            }
        }
        .btn{
        align-self: flex-end;
        }
        img{
        height:auto;
        width: auto;
        max-height: 250px;
        @include transform(scale(1));
        @include transition(all .3s ease-in-out);
        }
        &:hover{
        background: $corp;
            img{
            @include transform(scale(1.1));
            }
            .btn{
            color: $primary;
            background: #fff;
                &:after{
                content: "\E804";
                }
            }
        }
    }
    @media (max-width:$mobile){
        .views-row{
        margin-bottom: 50px;
        }
        .item-product{ 
        flex-wrap: wrap;
        flex-direction: column-reverse;
            .col-r{ 
            justify-content: center;
            display: flex;
                img{
                max-height: 140px;
                margin-top: -30px;
                }
            }
            .col-l{
            padding: 15px;
            }
            h4{
            font-size: 18px;
            line-height: 26px;
            }
        }
    }
}


.section-product{
    .group-header{
    background: #dedede;
    padding-top: 50px;
    padding-bottom: 50px;
        .row{
        display:flex; 
        flex-wrap: wrap;   
        align-items: center;
        }
        .col-r{
        text-align: center;
        margin-bottom: 25px;
            img{
            display: inline-block;
            max-height: 370px;
            width: auto;
            }
        }
    }
    .group-content{
    margin: 0 0 50px;
    }
    .group-footer{
        .product-list{
        margin-bottom: 50px;
        }
    }
    .related-category{
    margin-top: 50px;
    position: relative;
    }
    details{
        &.funktion{
            .producte-slide{
            width: 35%;
            float: left;
            }
            .field--name-body{
            float: left;
            width: 65%;
            }
        }
    }
    .producte-slide{
    position: relative;
    display: flex;
    flex-direction: column;
        .c-pag{
        margin: 15px 0;
        }
        .swiper-button-prev{
        left: 0;
        }
        .swiper-button-next{
        right: 0;
        }
        .swiper-slide{
        text-align: center;
        height: auto;
            img{
            display: inline-block;
            } 
        }
    }
    .product-gallery-caption{
        .caption{
        display: none;
            &.active{
            display: block;
            }
        }
    }
    .video-gallery-caption{
    margin-bottom: 15px; 
        .swiper-slide {
        display: none;
            &.swiper-slide-thumb-active{
            display: block;
            }
        }
    }
    
}
.item-image-gallery{
    span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 42px;
    opacity: 0;
    visibility: hidden;
    }
    &:hover{
        span{
        opacity: 1;
        visibility: visible;
        background:rgba(black, .4);
        }
    }
}

.video-gallery{
background: #dedede;
padding: 50px 0;
margin-bottom: 50px;
    h3{
    margin: 0;
        &.show{
            .show-hide{
            transition: transform .3s ease-in-out;
            transform: rotate(180deg);
            }
        }
    }
    .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
        .actions {
        display: flex;
            a{
            text-decoration: none;
            background: #B4B4B4;
            padding: 10px;
            margin-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
                span{
                display:none;
                }
                &.active, &:hover{
                background: #4a4a4a;
                color: #fff;
                }
            }
        }
    }

    iframe, video{
    width:100%;
    height: 280px;
    background: #000;
    object-fit: cover;
    }
    .list-style{

        .item-wrapper{
        display: block;
        transform: none !important;
        }
        .item-slide{
        width: 100% !important;
        margin: 0 !important;
        padding: 10px 0;
        border-top:1px solid #fff;
            .field--name-field-media-video-file,
            .field--name-field-media-oembed-video,
            .views-field-field-media-video-file,
            .views-field-field-media-oembed-video{
                display: none;
            }
            .views-field-name,
            .field--name-name{
            display: block; 

            }   
            .video-name-popup{
            display: flex;
            align-items: center;
            text-decoration: none;
                i{
                margin-right: 10px;    
                }
                &:visited{  
                opacity: 0.5;  
                }
            }
        }
        .swiper-button-next, 
        .swiper-button-prev {
        display: none;
        }
    }
    .views-field-name,
    .field--name-name{
//    display: none;
    }
    &.accordion{
    padding: 25px 0;
    background: #fff;
    border-top: 1px solid #eaeaea;
    margin: 0;
    position: relative;
    transition: all .2s ease-in-out;

        &.active{
        background: #dedede;
            &:before, &:after{
            background: #dedede;
            }
        }
        &:before, &:after{
        content: "";
        background: #fff;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transition: all .2s ease-in-out;
        }
        &:before{
        left: -100%;
        }
        &:after{
        right: -100%;
        }
        h3{
        font-size: 22px;
        line-height: 30px;
        cursor: pointer;
        letter-spacing: 0.88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .top{
        justify-content: flex-end;
        margin-top: 10px;
        }
        .accordion-item{
        display: none;
        margin-left: -50px;
        margin-right: -50px;
        padding-right: 50px;
        padding-left: 50px;
            .swiper-button-next{
            right: -50px;
            }
            .swiper-button-prev {
            left: -50px;
            }
        }
    }
    .show-hide{
        i{
        font-size: 14px;
        }
    }
}

.section-download-produkt{
background: $primary;
width: 100%;
float: left;
margin-bottom: 100px;
color: #fff;
padding: 50px 0;
}