.service-view{
background: #dedede;
padding: 50px 0;
}
.services-rows{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
    .views-row{
    padding: 15px;
    border:1px solid #eaeaea;
    background: #fff;
    @include box-shadow(4px 4px 0 rgba(black, .2));
    }
}