table, .table{
border-collapse: collapse;
width: 100%;
    tr{
        td, th{
        padding: 0.2em;
        border-color: #dedede;
        }
    }
    thead{
        th{
        }
    }
    tbody{
        tr{
            td{
       
                &:first-child{
         
                }
            }
        }
        tr:first-child td{
   
        }
        tr.even, tr.odd{
            
        }
    }
}

.tablefield, .field--name-field-tabelle{
margin-bottom: 0.5em;
font-size: 1em;
overflow: auto;
    tr{
        td, th{
        background-color: #f1f1f2;
        border: 1px solid #fff;
        font-size: 0.9em;
        }
    }
    thead{
        th{
        text-align: center;
        }
    }
    tbody{
        tr{
            td{
            text-align: right;
            padding: 2px 5px;
                &:first-child{
                text-align: left;
                }
            }
        }
        tr:first-child {
            td{
            text-align: right;
            }
            td:first-child{
            text-align: left;
            }
        }
        tr.tblfooter {
            td, td:first-child{
            font-size: .8rem;
            line-height: 1.2;
            padding-top: 1rem;
            text-align: right;
            }
        }
        .tblfooter {
        font-size: .8rem;
        line-height: 1.2;
        padding-top: 1rem;
        text-align: right;
        }
        tr.even, tr.odd{
            
        }
    }
}
