/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Note - as of 2012-01-16 this file is not yet SASSified.
 */

 @import "compass"; // See http://compass-style.org

/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
.tabs{
width: 100%;
float: left;
background: #fff;
padding: 5px;
margin-bottom: 0;
}
ul.primary,
ul.secondary {
overflow: hidden;
*zoom: 1;
list-style: none;
margin: 0;
padding: 0;
white-space: nowrap;
text-align: left;
position: relative;
    .page-user &{
    text-align: center;
    }
    li {
    display: inline-block;
    }
    a {
    display: block;
    color: $primary;
    padding: 8px 15px;
    background: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    }
    @media (max-width:$mobileBig){
    padding-left: 0;
        a{
        padding:8px 5px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0;
        }
    }
}

/*
 * Primary tabs
 */

ul.primary {
text-align: center;
}
ul.primary, ul.secondary {
    li {
    
    }
    a {
        &.active, 
        &:hover,
        &:focus{
        color: $primary;
        font-weight: 600;
        }
    }
}

/*
 * Secondary tabs
 */

ul.secondary {
border-top: 1px solid #dedede;
border-bottom: 1px solid #dedede;
margin-top: 0; 
padding: 0;
background: #fff;
    a{
    border-bottom: none;
    }
}

div.horizontal-tabs{
width: 100%;
float: left; 
border: none;
}
.horizontal-tabs fieldset.horizontal-tabs-pane{
padding: 0;
background: none;
border: none;
}
.horizontal-tabs ul.horizontal-tabs-list{
background: none;
border: none;
border: 1px solid #dedede;
text-align: center;
padding: 0;
margin-top: 0;
}
div.vertical-tabs{
//float: left;
background: #fff;
clear: both;
}
.vertical-tabs fieldset.vertical-tabs-pane{
padding: 15px;
}
.horizontal-tabs ul.horizontal-tabs-list li {
padding: 0 !important;
float: none;
display: inline-block;
    a{
    padding: 12px 25px;
    text-transform: uppercase; 
    color: #000;
    border-bottom: 4px solid transparent;
    display: block;
        strong{
        font-weight: normal;
        }
        &:hover{
        border-color: $primary;
        }
    }
}
.horizontal-tabs ul.horizontal-tabs-list li.selected a{
color: $primary;

    &:hover{
    color: $primary;
    }
}
.horizontal-tabs ul.horizontal-tabs-list .selected a {
border-bottom: 4px solid $corp;
    strong{
    color: $primary;
    font-weight: normal;
    }
}


fieldset.horizontal-tabs-pane > legend, fieldset.vertical-tabs-pane fieldset.horizontal-tabs-pane > legend {
    display: none;
}
.horizontal-tabs .horizontal-tab-hidden {
    display: block;
    position: absolute;
    top: -100000px;
    width: 100%;
}


/* Tabs product*/

.tabs-produkte{
    .tabs-slide-content{
    height: auto;
    width: 100%;
    }
    h4.mobile{
    text-align: center; 
    margin-bottom: 30px;
        span{
        border-bottom: 2px solid $corp;
        padding-bottom: 10px;
        }
    }
    .tabs-slide{
    width: 100%;
    font-family: $secondaryFont;
        ul.tabs{
        border: none;
        margin-bottom: 50px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
            li{
            display: inline-block;
            padding: 10px 25px;
            color: #666B72;
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            cursor: pointer;
            width: auto;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
                span{
                padding: 0;
                border-bottom: 4px solid transparent;
                text-transform: uppercase;
                    &:hover{

                    }
                }
                &.swiper-slide-thumb-active{
                    span{
                     border-bottom-color: $corp;
                    }
                }
                @media (max-width:$mobile){
                width:100%;
                text-align: center;
                padding: 10px;
                }
            }
        }

    }
    @media (max-width:$mobileBig){
        .tabs-slide-content{
            > .swiper-wrapper{
            @include transform(none !important);
            display: block;
                .tab-content{
                width: 100% !important;
                float: left;
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: 2px solid #4a4a4a;
                    h3.prodlisthead{
                    display: none;
                    }
                }
            }
        }
    }
}