.timeline {
  position: relative;
  max-width: 785px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
}

.timeline:before, .timeline:after {
  content: "";
  position: absolute;
}

.timeline:before {
  width: 1.5rem;
  border-left: 2px solid #FFF900;
  border-top: 2px solid #FFF900;
  top: 1.5rem;
  left: 0;
  bottom: 0;
}

.timeline:after {
  left: 0;
  bottom: -3px;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFF900;
}

.timeline__content {
  margin: 0 0 2rem 0;
  display: flex;
  align-items: center;
}

.timeline__content img {
  margin-right: 1rem;
}

.timeline__date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  white-space: nowrap;
}

.timeline__date:before {
  content: "";
  position: absolute;
}

.timeline__date:before {
  width: .75rem;
  height: 2px;
  top: 50%;
  background: #FFF900;
  left: -2rem;
  width: 1.5rem;
}

.rows-item div:first-child .timeline__date::before {
display:none;
}