$mainfont: 'Roboto';
$secondaryFont: 'Roboto Condensed';


$primary: #4A4A4A;
$secondary: #666B72;
$green:#08CCB2;
$blue: #86C1DA;
$orange: #F9AC1B; 
$violet: #291C59; 
$yellow: #FFF900;
$corp: #FFF900;
$red: #DD0029;  

$borderLight: #eaeaea;

$mobile: 600px;
$mobileBig: 767px;
$tabletSmall: 920px;
$minTablet: 1023px;
$tablet: 1024px;
$desktop: 1200px;



$container: 1300px;
$containerBig: 1400px;
.container{
max-width: $container;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.container-xl{
max-width: $containerBig;
}
@media (max-width: $mobileBig){
//$conteiner: 15px;
}
@media (max-width: $tabletSmall){
//$conteiner: 8%;
}
@media (max-width: $tablet){
//$conteiner: 10%;
}
