{#
/**
 * @file
 * Default theme implementation of a simple Youtube video.
 *
 * Available variables:

 *
 * @see template_preprocess()
 * @see template_es_custom_fields_cta()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
<div class="cta_item">
    <a class="cta-link" href="{% if link_url is not empty %}{{path('entity.node.canonical', {'node': link_url})}}{% endif %}">
        <h4>{{title}}</h4>
        <span>{{link_text}}</span>
    </a>
</div>
{% endspaceless %}
