{% set pdf_url = drupal_field('field_katalog_file', 'taxonomy_term', parentTaxonomie)[0]["#urlFile"] %}
{% set view = drupal_view_result('produkte_views', 'block_2')|length %}
<section {{ attributes.addClass(classes, 'section', 'section-product') }}>
    {{ title_suffix.contextual_links }}
    <div class="group-header header-landing-product">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-l">
                    <h1>{{title}}</h1>
                    {{content.field_herotext}}
                    <div class="btn-list btn-list-inline">
                        {{ drupal_field('field_katalog_file', 'taxonomy_term', parentTaxonomie, 'full') }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-r">
                    {% if content.field_teaser_image | render %}
                        {{ content.field_teaser_image.0 }}
                    {% else %}
                        {{ content.field_produkte_image.0 }}
                    {% endif %}
                   
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-container">
        {{ drupal_block('system_breadcrumb_block') }}
    </div>
    <div class="group-content">
        <div class="container">
            <div class="row">
                <div class="tabs-produkte">
                    <div class="swiper-container tabs-slide-content">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-wrapper">
                            <div class="tab-content swiper-slide" id="tab-1">
                                <div class="tab-item" data-title="{{ 'Funktion & Ausstattung' |t }}" data-id="tab-1">
                                    <h4 class="mobile col-xs-12"><span>{{ 'Funktion & Ausstattung' |t }}</span></h4>
                                    <div class="col-xs-12 col-sm-4 margin-bottom">
                                        {{content.field_produkte_image}}
                                        <div class="btn-list btn-list-block btn-hover-top margin-top-xl">
                                            <button class="btn btn-border go-to-tab" data-slide="5">{{ 'Informationen anfordern' | t }}<i class="icon-right-open-big"></i></button>
                                            {{ drupal_field('field_katalog_file', 'taxonomy_term', parentTaxonomie, 'full') }}
                                        </div>
                                    </div>
                                    <div class="text col-xs-12 col-sm-8">
                                        {{content.body}}
                                    </div>
                                </div>
                            </div>
                            {% if content.field_dokumentation_ausblenden['#items'].value != '1' or content.field_dokumentation_ausblenden['#items'].value|render is empty %}
                                <div class="tab-content swiper-slide" id="tab-2">
                                    <div class="tab-item col-xs-12" data-title="{{ 'Prozesssteuerung und Dokumentation' |t }}" data-id="tab-2">
                                        <h4 class="mobile"><span>{{ 'Prozesssteuerung und Dokumentation' |t }}</span></h4>
                                        {% if parentTaxonomie == '116'%}
                                            {{ drupal_entity('block_content', 14) }}
                                        {% elseif parentTaxonomie == '10' %}
                                            {{ drupal_entity('block_content', 15) }}
                                        {% elseif parentTaxonomie == '11' %}
                                            {{ drupal_entity('block_content', 16) }}
                                        {% else %}
                                            {{ drupal_entity('block_content', 13) }}
                                        {% endif %}

                                    </div>
                                </div>
                            {% endif %}
                             {% if content.field_additional_equipment | render %}
                                <div class="tab-content swiper-slide" id="tab-3">
                                    <div class="tab-item col-xs-12" data-title="{{ 'Zusatzausstattung' |t }}" data-id="tab-3">
                                         <h4 class="mobile"><span>{{ 'Zusatzausstattung' |t }}</span></h4>
                                        {{content.field_additional_equipment}}
                                    </div>
                                </div>
                            {% endif %}
                            {% if content.field_tabelle | render %}
                                <div class="tab-content swiper-slide" id="tab-4">
                                    <div class="tab-item col-xs-12" data-title="{{ 'Technische Daten' |t }}" data-id="tab-4">
                                        <h4 class="mobile"><span>{{ 'Technische Daten' |t }}</span></h4>
                                        {{content.field_tabelle}}
                                    </div>
                                </div>
                            {% endif %}
                       
                            <div class="tab-content swiper-slide" id="tab-5">
                                <div class="tab-item col-xs-12" data-title="{{ 'Angebotsanfrage' |t }}" data-id="tab-5">
                                    <h4 class="mobile"><span>{{ 'Angebotsanfrage' |t }}</span></h4>
                                    {{ drupal_entity('webform', 'contact') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-footer">
        {% if content.field_videos_gallery | render %}
            <div class="video-gallery caroucel-container">
                <div class="container">
                    <div class="top">
                        <h3 class="uppercase">{{'Produktvideos' | t}}</h3>
                        <div class="actions">
                            <a href="#" class="a-slide" data-type="list"><span>show list</span><i class="icon-th-list"></i></a>
                            <a href="#" class="active a-grid" data-type="slide"><span>show grid</span><i class="icon-th-thumb-empty"></i></a>
                        </div>
                    </div>
                    {{content.field_videos_gallery}}
                </div>
            </div>
        {% endif %}
        {{ ds_content }}
        {% if content.field_download_description | render %}
        <div  class="section-download-produkt">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-l">
                        {{content.field_download_description}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-r">
                        {{content.field_download_dokument}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container">
            {% if view > 0 %}
                <h3 class="rel-cat uppercase">{{ 'Weitere Produkte' |t }}</h3>
                {{ drupal_view('produkte_views', 'block_2') }}
            {% endif %}
        </div>
        {{ footer }}
        {% if drupal_field('field_katalog_image', 'taxonomy_term', parentTaxonomie) | render %}
            <div class="paragraph text-media-block out-of-container content-right cat-text-media-block">
              <div class="container">
                  <div class="shell">
                      <div class="media">
                         {{ drupal_field('field_katalog_image', 'taxonomy_term', parentTaxonomie) }}
                      </div>
                      <div class="content">
                            <h2 class="uppercase">{{ drupal_field('name', 'taxonomy_term', parentTaxonomie) }}</h2>
                            {{ drupal_field('field_katalog_description', 'taxonomy_term', parentTaxonomie, 'full') }}
                            {% set file_pdf = drupal_field('field_katalog_file', 'taxonomy_term', parentTaxonomie, 'full') %}
                          {% if file_pdf | render%}
                            <div class="btn-list">
                                {{ drupal_field('field_katalog_file', 'taxonomy_term', parentTaxonomie, 'full') }}
                                <a class="btn btn-border" href="{{  pdf_url }}" target="_blank">{{ 'Online ansehen'|t }}<i class="icon-visibility"></i></a>
                            </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}
    </div>
</section>
