
{% set pdf_url = base_path ~ file_url(content.field_media_pdf[0]['#media'].field_media_document.entity.uri.value) %}
{% set parentCategory = content.field_produktkategorie['#items'][0].entity.parent.target_id %}
{% set view = drupal_view_result('aktuelles_view', 'block_3')|length %}
<section {{ attributes.addClass(classes, 'section', 'section-landing') }}>
    {{ title_suffix.contextual_links }}
        <div class="group-header header-landing">
            {{content.field_image_media}}
            <div class="container">
                <h1>{{title}}</h1>
            </div>
        </div>
    <div class="group-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ds_content}}
                </div>
            </div>
        </div>
    </div>
</section>
