
{% set pdf_url = base_path ~ file_url(content.field_media_pdf[0]['#media'].field_media_document.entity.uri.value) %}
{% set view = drupal_view_result('aktuelles_view', 'block_3')|length %}
<section {{ attributes.addClass(classes, 'section', 'section-aktuelles') }}>
    {{ title_suffix.contextual_links }}
    <div class="group-header header-landing-aktuelles">
        <div class="__image">
            <img src="/sites/default/files/styles/max_2600x2600/public/2020-12/Gruppe%20261%402x.png?itok=mA1t2mnk">
        </div>
        <div class="container">
            <h2>{{ 'News' |t }}</h2>
        </div>
    </div>
    <div class="breadcrumb-container paragraph-breadcrumb">
        {{ drupal_block('system_breadcrumb_block') }}
    </div>
    <div class="group-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-l">
                    <h1 class="h2">{{title}}</h1>
                    {{field_date}}
                    <h3 class="subtitle">{{content.field_sub_title_long}}</h3>
                    {{content.field_image_media}}
                    {{ds_content}}
                    {% if content.field_media_pdf | render %}
                        <div class="btn-list">
                            <a class="btn btn-theme" href="{{  pdf_url }}" download>{{ 'Katalog download'|t }}<i class="icon-download"></i></a>
                            <a class="btn btn-border" href="{{  pdf_url }}" target="_blank">{{ 'Online ansehen'|t }}<i class="icon-visibility"></i></a>
                        </div>
                    {% endif %}
                </div>
            
                <div class="col-xs-12 col-sm-4 col-r">
                    {% if view > 0 %}
                        <h3 class="rel-cat uppercase">{{ 'Weitere News' |t }}</h3>
                        {{ drupal_view('aktuelles_view', 'block_3') }}
                    {% endif %}
                </div>
            </div>
            <div class="next-prev-btn">
                {{ drupal_entity('block', 'nextpreviousblock') }}
            </div>
        </div>

    </div>
    <div class="group-footer">
        {{ footer }}
    </div>
</section>
