{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}



<div{{ attributes.addClass(
  'layout-container',
  main_menu or secondary_menu ? 'with-navigation',
  secondary_menu ? 'with-subnav'
) }}>

  <!-- ______________________ TOP HEADER _______________________ -->

  {% if page.top_header %}
    <div id="top-header">
        <div id="top-header-region">
          {{ page.top_header }}
        </div>
    </div><!-- /#header -->
  {% endif %}
  <!-- ______________________ HEADER _______________________ -->

  {% if page.headerRight %}
    <header id="header">
        <div class="cont-h">
            <div class="c-l">
                {{ page.headerLeft }}
            </div>
            <div class="c-r">
                {{ page.headerRight }}
            </div>
        </div>
     <div class="pull-menu" data-menu="menü"><span></span></div> 
    <div class="overlay-menu"></div>
    </header><!-- /#header -->
  {% endif %}

  {% if page.content_top %}
    <div id="content-top">
        <div class="container">
            {{ page.content_top }}
        </div>
    </div>
  {% endif %}
    
  <!-- ______________________ MAIN _______________________ -->

  <div id="main">
      <div id="content-wrapper">
        <section id="content">

          <div id="content-header">

            {{ page.breadcrumb }}

            {% if page.highlighted|render %}
              <div id="highlighted">{{ page.highlighted }}</div>
            {% endif %}

            {{ title_prefix }}

            {% if title %}
              <h1 class="title">{{ title }}</h1>
            {% endif %}

            {{ title_suffix }}
            {{ page.help }}

            {% if tabs %}
              <div class="tabs">{{ tabs }}</div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">{{ action_links }}</ul>
            {% endif %}

          </div><!-- /#content-header -->

          <div id="content-area">
            {{ page.content }}
          </div>

        </section><!-- /#content -->

        {% if page.sidebar_first|render %}
          <aside id="sidebar-first" class="column sidebar first">
            {{ page.sidebar_first }}
          </aside><!-- /#sidebar-first -->
        {% endif %}

        {% if page.sidebar_second|render %}
          <aside id="sidebar-second" class="column sidebar second">
            {{ page.sidebar_second }}
          </aside><!-- /#sidebar-second -->
        {% endif %}

      </div><!-- /#content-wrapper -->
  </div><!-- /#main -->
    {% if page.content_bottom|render %}
    <div id="content-bottom">
          {{ page.content_bottom }}
    </div>
  {% endif %}
  <!-- ______________________ FOOTER _______________________ -->
    <div class="scroll-to-top">
        <a href="#"><span class="icon-line-top-arrow"></span></a>
    </div>

    <footer id="footer">
        <div id="footer-region">
          {{ page.footer }}
            <div class="col-xs-12 col-md-8 col-l">
                {{ page.footer_left }}
            </div>
            <div class="col-xs-12 col-md-4 col-r">
                {{ page.footer_right }}
            </div>
        </div>
    </footer>

</div><!-- /.layout-container -->
