{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% for item in items %}
    {% set bundle = item.content['#media'].bundle.value.0.target_id %}
{% if bundle == 'video' %}
    <a id="play-video" class="video-play-button" href="#">
      <svg height="36" viewBox="0 0 36 36" width="36" xmlns="http://www.w3.org/2000/svg"><path d="m2.978 32.435c-.59471121.2977011-1.30116234.2662547-1.86707068-.0831091-.56590834-.3493639-.91058037-.9668291-.91092932-1.6318909v-28.325c.00034895-.66506183.34502098-1.28252702.91092932-1.63189088s1.27235947-.38081019 1.86707068-.08310912l28.322 14.163c.6485839.3256189 1.0579913.9892668 1.0579913 1.715s-.4094074 1.3893811-1.0579913 1.715z" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" transform="translate(2 1)"/></svg>
    </a>
    <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
{% else %}
  <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
{% endif %}
{% endfor %}
