{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *   content['#nodes']
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
    set classes =[
        plugin_id,
    ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
    <div class="map">
    
      <svg viewBox="0 0 1500 650" class="img-fluid weltkarte"><filter id="blur"><feGaussianBlur stdDeviation="0"></feGaussianBlur></filter><g id="m-63" class="karte-kontinent" fill="#e3e3e3"><path d="M597.2 429.4c-.6-2.5-1.4-2-2.8-1.9-1.5.1-4.2-.3-7.9-4.2-3.6-3.9-7.2-3.6-9.6-3-2.4.7-4.9-1.2-6.5-1.5-1.6-.4-3.1 1.7-4.3 2.1s.6-1.8.7-3.1c.1-1.4-4.4-3.4-7.7-4.7-3.4-1.3-4.8-.7-4.8 1.5 0 2.1-1.3-.7-2.3 1.6-1 2.3-2.9.8-1.7.1 1.2-.7 2.4-2.4 2.8-3.8.4-1.4-4.8-2.5-6.6-1.8s-.7 3.4-2.1 2.6c-1.5-.8-.3-2.8.9-2.7 1.2.1 2.5-2.3 3.3-4.1.8-1.8-1.4-2-2.7-3.5-1.3-1.4-1-5.7-2.4-6.3-1.4-.6-3.5-3.9-5.6-4.4-.9-.2-1.9-.6-2.8-.9-1.2-.5-2.3-.9-3.3-.7-1.8.2-3.6 1-4.2.1-.7-.9-1.6-.8-2.5-.1-.1.1-.2.1-.3.1-.9-.1-2.3-2.7-3-2.7-.9 0-1.9-.7-1.7-2 .2-1.2-2-1.4-3.3-2.8-.3-.3-.7-.6-1.2-.8-1.6-.6-3.8-.5-4.8-.5-1.2.1.8-1.4.9-2.7.1-1.3-3.5-1.5-4.9-1.8s-1-1.8.4-1.8c1.5-.1-.8-1.1-2.8-.8-2 .3-4.7 1.4-6.4 2.3-1.6.9-4.4-2.6-6.2-1.8-1.8.7-4.4.7-4.3-.7.1-1.5-.7-2.7-2.6-2.6-1.8.1-1.4-1.8-2.8-1.8s0 1.7-.9 2.1-4.2 1.2-4.5 2.6c-.2 1.3 1.8 3.5 1.1 4.8-.7 1.3-2.8.2-3.5-1.2-.7-1.4 1.9-3.5 1.5-4.3-.3-.6-.7-1.6-.4-2.3.1-.3.3-.6.8-.6 1.5-.3 2.2-1.2.8-2-1.4-.8-2.2 1.5-3.7 1.8-1.5.2-1.8 1.2-2.8 1.7s-2.9.1-3 .9c-.1 1-.7 0-1.5-.2-.9-.2-3.1 1.8-3.1 2.8.1 1.1.4 2.1-1.2 3.1s-2.6 2.9-3.3 3.8c-.2.3-.5.3-.7.2-.1.5-.2.9-.5 1-.4.3-1.4 1.3-2.2 2.2.4.4.8.7 1.1 1 1 1.1.4 2 .7 2.6.3.6.6 1.5 0 1.8-.6.4-.1 4.4.6 5.1s0 1.4-.7 2.8-1.4 2.1-2.7 2.2c-1.3.1-1.2 2.1-1.7 2.1-.3 0-.6.7-.7 1.4v.5c.1.7-1 1.1-2.3 1.2-1.2.1-1.1 1.5-1.1 2.4s-1 .9-1.5 2c-.4 1 .1 1.2-.9 1.8-1 .5-1.3 1.4-.7 2.3.6.9-.1 1.7-.2 2.2s.9.7 1.9 1.7c1 .9 1.2-.4 1.6.4.4.7-.3 2-1.5 2h-.3c-1.1.2-2.2 1.7-2.7 2.9-.6 1.2 1 3.7 1.2 4.5.2.9-.9.1-1 .9s2.4 2 3.6 2.8c1.2.9 2.2 3.4 3.3 4.5 1.1 1.2 1.2 2.2 2.3 5 1.2 2.8 3.5 7.7 5.1 9.7s2.3 3.7 2 4.2c-.4.6.1 2.2 1.2 3 1.2.8 2.1 2.1 5.2 3.7 3.1 1.5 8.7 4.5 9.5 5.8.8 1.4 3.4 2.7 3.9 3 .1.1.2.3.2.6 0 .8-.3 2.2 0 3 .4 1.1.7 6.4.2 8.5-.4 2-.9 3.7-1.3 5-.4 1.2 1 1.3.4 1.9s-.4 2-.4 4.4c0 2.3-1.4 6.3-1.5 7.5s-1 2-.9 3.4-.7 2.2-1.5 2.8c-.8.7 1.3 2.8 1.2 3.9-.1 1.2-1.6 1.7-1.2 3.6.5 2.4 0 6.4 0 7.2s-.9.7-.7 2.3c.2 1.5-.9 1.9-1.2 4.1-.2 2.2-1.9 5.3-2.6 7s-.7 2.6-1.5 2.6c-.9 0-1.1.9-.4 2.4s-.4 2.7.4 4.2c.9 1.5.6 2 .1 3.4-.4 1.4-1 1.5-1 2.8s-1 2.4-.4 3.9.4 2-.3 2-1.1 1.2-1.4 3.6c-.3 2.4-.2 2.3 1.5 2.2 1.8-.1.4-5.9 1.5-5.9s.1-.9 1.2-1.2.1 1 .9 1.2c.7.2 1.2.8.2 1.5s.2 2-.3 2.8-1.2 1.7-.8 2.6c.4.9-.5.9-.6 2.1-.1 1.2.7 1.3.1 1.6-.5.3.7 1.2-.1 1.4-.7.1-.3 1.1.1 2s-.9.4-1.7.9c-.7.6.7 1.4.3 2.2-.4.8-1.6-.4-2.1-.9s.8-1.3 1.5-2.2-.7-2.8-1.8-2.4c-1.1.4 1.1 1.7 1.1 2.6 0 .9-1.8-.2-1.8.8.1 1-1.2.7-1.9 1.4s.9 1.4.1 1.6c-.7.2-2 1.2-2 2-.1.7.8.9.8.1 0-.7 1.2-.9 1.5 0 .4.9.9 0 1.9.2s.9 1.8.3 1.7-1.2.9-1 2c.1 1.1 2.2 0 3.1.3s.6 1.8.1 1.3-1.7-1.4-2.2-.5-1.3.4-2 .1c-.7-.3-3 1.2-2.2 1.8s.7 1.5 1.2 1.5c.5-.1 1.3-.4 1.6-1 .3-.6 1.3-1.2 1.4.1s-1.4.7-1.7 1.4c-.3.7-.9 1.3-1.8 2s0 1.8.7 1.4c.7-.4-.2.9.8 1 .9.1 1.2-.6 1-1.3s.5-2.3 1.4-1.5-.4 1.6-.4 2.3-.5 1.7-.5 2.5-.9.4-.9 1.2c.1.9-2 .3-1.1.9.9.6-.6 1.4-.1 2s.9-.8 1.8-.5c.8.3.7.5 1.7.1s1.6.8.7 1.1-2 1.4-1.5 1.5c.4.1 1.7-.7 2 .2s1 .7 1.1-.4c.1-1 1.8-.1 2.1.7.3.9-1.8 1.4-2.9 1.2s-1.7 1-.9 2c.7.9 1.6 0 2.4-.8s4.7-.6 5 .3c.3.9-1.8.1-2 .7-.2.5-1.8.9-2 .4-.2-.6-1.8.2-1.8 1.2-.1.9-1.2.9.1 1.3s.9-1.4 3-1.2c2 .1 3.1-1.9 3.7-.7s-1.7 2.1-2.5 1.4c-.8-.7-1.8.5-1.7 1.6.1 1.1-2.3-.3-3.5-.4-1.2-.1-.7 1.1.4 2.2 1 1.1 1.6-.1 2.8.7 1.2.8 1.2 1.7 2.1.9s0-.7-.6-1.1c-.6-.4-.1-1.6 1.3-.9 1.4.7 3-.6 2.6-2.3-.4-1.8 1.2-2.6 2.9-3.1 1.7-.6.8 1.1-.4 1.6-1.2.5-1.5.9-.5 1.9.9 1 2.2-.7 3 .1s-1.5.7-1.8 1.5c-.4.8 1.4 1.8.1 2.3-1.2.6-.7-2.4-1.4-2.7-.7-.3-1.4.4-.7 2 .7 1.7-.9.2-1.6-.6s-1.8.4-.9 1.2c.9.9-1.7-.1-1.7 1.3 0 1.4 1.1.2 2.4.5s.7 2.2 1.7 2.9c.9.7.1-2.3 1.2-2.6 1-.2.1 2.3 2.3 3.1 2.3.7.1-.4 1.2-1.2 1-.7 2.3 2.2 3.4 2.5s.4-1.3-.4-2.2.8-.4 1.9 0 2 .5 2.2-.3c.1-.3.3-.3.5-.2.4.1 1 .5 1.5 0 .7-.8 2.9-.4 4.1-1.1 1.2-.7-.4-.9-2.2-1-1.8-.1-5.4-3.4-6.5-4.3-1.1-.9-.3-1.8-1.6-1.5-1.3.2-.4-1 .3-1.4.7-.3-.3-1.6-1.2-1.8h-.2c-.9 0-3.1.2-2.7-1.2.1-.3.2-.4.4-.5.8-.4 2.7.8 3.1.4.5-.5-1.8-2.4-1.8-3.1.1-.7-.4-1.8-.4-2.5s-.4-2.3.7-3.1c1-.7 1.1-1.5 1.8-1.3.7.1 2-.6 2-2.3.1-1.8.9-2.4 2.3-3.7 1.6-1.4 4.2-2.6 3.9-3.2-.4-.6.6-2.5.6-3.2s-2.5-.6-3.3-.9c-.8-.3-3.7-2.3-2.3-5 1.5-2.7 4.5-3 5.4-3.1s.1-1.3.8-1.8c.7-.4.9-1.2.9-2.3 0-1.2 0-3.2 1.3-3.4 1.3-.1 1.7-.9.9-1.1-.8-.2-1.2-1.2.1-1.3 1.3-.1.9 1.1 1.8 1.1s2.6-1.6 1.3-2.6c-1.2-.9-1.6.4-2.3.6-.7.1-1.2-.9-1.8-.9-.7 0-.2-1.8-.5-2.5s-.7-2.3-.1-3.1 3.1 1.2 5.3 1.4c2.2.1 3.8-1.1 3.8-1.9 0-.8-1-2.3.3-3.1 1.3-.9.2-1.2-.1-2.3-.4-1.2.6-1.9 1.2-1.3.6.6 4.9.2 8.5-.5s6.1-2 6.3-3.1c.2-1 2.5-3.4 3-4.3.5-.9.1-2-1.4-2.2s-1.4-1.9-.6-2.8c.8-.9-.4-1.8-1.8-2-1.4-.1-3.6-1.1-2.3-2.3.6-.6.9-.5 1.2-.2s.6.7 1.3.6c1.3-.1 2.6.4 4.2 1.1 1.6.7 1-.2 2.6 0 1.5.2 3.3.4 5-.7 1.1-.7 1.7-1.9 2.6-3.1.4-.5.9-1.1 1.5-1.5 2-1.5 1.5-2.3 2.5-4.1.9-1.8.1-2.5 1.8-4 1.6-1.5-.3-2.6 1.8-3.5 2-.9 1.8.9.1 3s-2 2.7.2 1.1 3-3.9 4.2-6.4c1.2-2.6 2.2-3.4 3.3-3.5s1.1-2.8.9-4.7c-.1-1.9-.7-3.7.1-4.9.8-1.2 0-2.4 1-2.4s2.6-1.5 4.2-3.1 2.6-1.8 4.3-1.9.7-.7 1.8-1 1.8-1.3 2.6-2c.7-.7 3.7.1 5.5.1s2.9.1 2.9-.9c0-1.1.8-2 1.8-2s1.5-.3 1.5-1.8.4-2.3 1.3-3c.9-.7 1-2.1 1.3-3.1.3-.9 1.2-.4 1.2-1.8s.5-2.9.5-4 1.2-.9 1.7-1.8c.5-.8-.4-1.8.4-4.1s0-4.4 0-6.4 0-4.2.7-4.8c.7-.7.4-1-.2-1.3-.6-.3.1-1.1.6-.9.5.1 1.1 1.2 2 .7.9-.6 1.8-3.1 2.6-5.1s2.1-2 3.1-2.4 3.2-2.9 4.6-6.5c1.5-4.1 0-7.6-.5-10.1z"></path><path d="M508.6 375.4c.7.3-.4 1.1.1 1.5.4.4 1.8 0 2.5-.3s.6-1.3-.2-1.9c-.8-.6-3.1.4-2.4.7z"></path></g>
          <g id="m-62" class="karte-kontinent" fill="#e3e3e3"><path d="M455.4 380.6c-1.2-1.8-3.3-1.6-4.6-2.2-1.3-.6-3 .2-4.7 1.8-1.7 1.5-3.8.7-5.3-.1-.4-.2-1-.8-1.7-1.5-1.2-1.3-2.5-3-3.3-4.1-.2-.3-.4-.6-.5-.7-.5-.9.4-2.8.8-4.2.4-1.4-.4-4.7.4-5.6s.4-1.4.7-3.4v-.3c0-1.6-2.2-1.1-3.7-2.6-1.6-1.6-5.1-.9-7-.1-1.9.7-4.1-.8-6.1.4h-.1c-1.1.6-1.5 0-1.3-.8.1-.6.5-1.2 1-1.7 1.3-1-.7-5.1.9-5.5.3-.1.5-.2.7-.4.9-.9 1.3-2.9 1.5-4.5.2-2-.4-2.6.6-3.7s2.1-1.2 1.8-2.7c-.3-1.5-1.7 0-2.8-.7-1.2-.7-2.2-.2-5.2.2s-4.4 1.7-4.2 3.8c.1 2.1-1 1.2-.9 3s-2.3 1.9-2.2 3c.1 1.1-1.9 0-2.5-.4s-6.9 1.5-7.7 1.7c-.9.1-2.5-1.8-3.7-1.8-1.2.1-1.8-1.8-1.9-3.4-.1-1.5-2.5-2.9-3.5-4.3s-1.2-4.5-1.2-6.4c-.1-2-.3-5.3 1.1-9.2.2-.5.3-1 .3-1.4-.5-.3-1-.5-1.4-.5-1.2.1-4.1-1.6-4.6-1.6s-.5-1.3-.9-2c-.5-.7-.2-2-.8-2.5-.6-.5-2.5-2.3-3.1-4.4-.6-2.2-4.4-3.3-5.8-3.4s-2.2 2.9-2.6 3c-.4.2-3-1.6-3.8-1.9-.8-.4-1.2-1.2-1.2-2.1s-1.6-2.4-2.1-2.6-3.7-3.4-3.7-3.4H356l-1.1 1.4-9.4.1s-7.2-2.7-8.5-3-3.7-2-3.7-2l-7.6 1c.4.8.9 1.7 1.7 2.7 1.5 1.9 2.6 5.3 2.8 6.4.1 1.2 2.3 2.1 4.1 3.3 1.8 1.2 1.8 3.7 1.6 4.4-.2.7-2.5-.4-2.6.2-.1.7 2.9 3.2 4.1 3.1s1.8.6 3.6 2.2 1.7 3.5.9 4.1c-.7.6 1.5 1.8 3.8 3.4 2.3 1.5 3.3 3.4 3.5 4.2.2.8 1.2.1 1.6-1s-.7-1.4-.7-2.6-1.9-1-2.8-1.2c-.9-.1.1-2-.8-2.9s-1.7-3.1-2.1-4.7-2.7-3.2-3.6-5-2-3.1-2.6-3.6c-.7-.4.9-1.1.4-1.8-.6-.7-1.5-.6-2.6-1.1s-1.8-1.4-1.8-2.6-.7-3.9-1.1-4.9c-.4-.9.8-.8 1.2-.4.4.4.7.9 1.2.6s1.4-.1 1.8.7c.4.8 1.6.1 2.2.4.6.4-1.3.8.6 4.2 1.9 3.4.6 1.5.6 3.7 0 2.3 1.2 1.2 1.5.9.4-.4 1.4.7 2.3 1.9.9 1.2 2.8 1.2 2.8 1.9s.4 2 1.6 2.2 1.5 1.6 2.3 1.8c.8.1.9 1 .5 2-.4.9 0 1.8 2 2.6s1.1.9 2.7 2.5c1.6 1.5 6.1 6.5 7.1 7.9.9 1.4 1.2 2.6 1.6 3.6s-.7 1.5-.1 2.4-1.1.5-1 1.2 1 3.9 2.6 4.1c1.6.1 3.4 2.1 4.7 3.2 1.3 1.1 3.3.9 5.3 1.6s3.6 2.5 6.5 3.3c2.8.8 5.6 2 7.4 3.2s4.1.7 6.6-.4c2.6-1 4.5.3 6 .9.7.3 2.1 1.5 3.5 2.8 1.5 1.3 2.9 2.6 3.6 3.1 1.4.9 3.7-.1 4.6.8l.1.1c1.1.9 5.3 2.2 6.4 2.2.5 0 .8-.2 1.1-.4.3-.2.5-.4 1 0 .4.4.4.8.3 1.2-.1.5-.1.9.5 1.2 1.2.7 2.8 3.2 4 3.9.6.3 1 .8 1.1 1.3.2.5.1 1.1-.2 1.3-.7.4-.7 2.2.9 2.8 1.6.7 1.1-.4 1.9-.4s.7 1.2 1.5 1.2c.7 0 2.4.9 2.3 2-.1 1.2.6 1.7 1.9 1.7.2 0 .5 0 .8.1 1.4.2 3.3.8 4.2 1.9 1.1 1.3 1.8.4 2.4 1.6.7 1.2 2.2.1 2.6-.7.4-.7-.8-1-.9-1.8s1.5-.5 1.8-1.6 2.6-1.6 3.7-1.2c1 .4 1.9 1.2.9 2.3-.7.8.7 2.3 1.9 3.4.8-.9 1.8-1.9 2.2-2.2.2-.2.4-.6.5-1-.8-.1-1.5-1.2-2.3-2.5zM477.5 344c-.5.2-1.1.1-1.8-.1-1.9-.5-4.2-1.7-5.2-.9-1.5 1 2.2 3.2 2.2 4.5s-5.9-.2-6.4 1.2c-.3.7 2 1.8 4.2 1 2-.7 3.4 0 4.6.6.1 0 .2.1.3.1 1.2.6 1.5-.6 4.1-1.5s6.9.7 6.9-1.3c-.1-2-7.1-4.2-8.9-3.6zM460.7 338.9c-2.2 0-9.3-5-15.9-6.4-6.6-1.5-12.3 3.3-11.7 4.1.9 1.2 4.1-1.5 5.7-2.6 1.6-1.2 3.1.6 3.2 1.3.1.7 2.2 1.2 5.5 1.3 3.4.1 3.8 2.9 7 3.7 3.2.7 0 2 1.6 2.6s10.1.4 10.7-.3c.6-.8-3.9-3.7-6.1-3.7zM453.3 349c.6 1 6.1 2.5 6.7 1.2.6-1.4-7.5-2.5-6.7-1.2zM490.8 349.3c1.3 2 5.1.8 5.4 0 .6-1.5-6.7-2.1-5.4 0z"></path></g>
          <g id="m-57" class="karte-kontinent" fill="#e3e3e3"><path d="M541.4 131.1c.1-1.6-1.7-.6-2.6-2.4-1-1.9-5.9-2.6-6.4-1.2-.2.6-1.8 1.5-.5 2.8 1.3 1.4 2.1.8 3.6 2.1 1.4 1.4 5.8.3 5.9-1.3z"></path><path d="M662.7 46.3c-3.6 0-6.5.6-6.7 3.1s-4.8-.5-6.7.4-1-2-2.9-1.1c-1.9 1-4.1 3.3-6.4 4.3-2.3 1-4.1 3.4-5.5 3.6-1.5.2 3.1-4.5 5.5-6.8 2.3-2.3 1.1-5.1-2-4.8s-2.4 2.2-4.2 2.6c-1.8.4-10.1 4.6-10.5 3.3s6.9-3.4 6.8-4.3c-.1-.9-9.2-1-13.3-.4s-11.3 2.9-11.4 1.8c-.1-1.2 8.4-2.8 12.7-3.3 4.4-.5 12.2.3 15.5-1.1 3.3-1.4 8.3-1.5 9.2-2.5.9-1.1-3.8-2.5-6.1-2.4s-4.7-.2-4.5-1.4-3.6-1.5-4-2.3c-.4-.9-7.7-.2-9.2-1.2-1.6-1-6.1-1.5-10-1.2s-11.9.2-13.7.4c-1.9.2-3 .9-4.7.8-1.7-.1-4.2.5-3.2 1.6 1.8 1.9-2.6 2.7-2.3 1.3.3-1.5-3.8-2.1-5.1-1.1-1.4 1.2-8-1.3-9 0s-8.7.9-10.9 1.3c-2.2.4 3.5 2 3.3 3s-7.3 0-5.8 1.8 6.1 3 8.4 5.3c2.2 2.2-1.8.9-4.3-.8s-5.7-1.1-7.3-2.7c-1.6-1.7-7.4-2.9-8.9-1.9-1.7 1.2 4 3.3 4 4.6s-3.9-.3-4.6.2c-.7.5-4.1-3.3-6-3.3s-.3 1.8-.3 4.2-3.8 3.9-2.7 2.2.3-5.9-1.8-6.7c-2-.8-7.3 1.7-10 1.6-2.7-.1-6.3.8-4 2.1 2.3 1.4-.1 2.1-2.1.7-2-1.5-8.8 0-7.4 1s1.8 3.8 1 5c-.9 1.2-3.7-1.2-6.3-1-2.6.2-15.7 6.4-14.9 8.1.8 1.7 6.3.3 8.1 1.3 1.8 1-.6 4.6-2.7 6-2.1 1.5-10.1.1-10.3 1.8-.2 1.8-12.6 2-12.6 4.9 0 1.1.6 2.1 1.9 2.4 1.7.4 3.9-.2 5.5 1.6s5.9 1.9 9 .7c3-1.2 5.3.2 5.2 1.9-.1 1.8-6.8-.7-8.9.6-2 1.3-8.4.2-8.1 1.6s3.4 1.1 5.9 1.6.2 1.6.1 2.6c-.1 1.1 1.4.9 3.9 2.1 2.5 1.3 6.7 2 5.4.6-1.4-1.5 2.6-1.3 3.3-.4.7.9 2.5-1.3 4.4-.8 1.8.5 2.5-1.8 4-.8s8.3 1.6 10.6 2.8c2.3 1.3 5.5 1.6 5.3 3.4-.3 1.8 1.9 3.2 4.6 4.4 2.6 1.2 3.1 3.7 3 5.4-.1 1.7 2.8 2.8 2.3 3.6-.5.8-.1 1.8 1.7 3.4s-2.7 2.7-1.7 4.1c1.1 1.4-1.6 4 1.6 4.5 3.1.5 2.6-2.1 5-2.1 2.3 0-.1 2 1.2 3.3s3.9 1 6.3 3 .9 3-1.4 1.4c-2.2-1.7-8.8-1.3-8.8-.7 0 .6 7.2 4.7 8.9 4.1 1.7-.6 3.9 2.4 2.9 3.4s-.5 3.4-.7 4.6c-.2 1.2-2.6 0-4.2.2s-2.6.7-2.6 2.3c0 1.7-2.4 2.8-2.7 4.9-.3 2 1.9 1.9 3.2 2.8 1.3.9-2.3 1.5-2.5 2.9-.2 1.5 3.3 4.1 4.6 4.8s.1 4 .6 5.6c.5 1.7 2.1-.4 1.9 1.8-.2 2.1 1.6 2 1.7 3.3.1 1.3 3.1 1.1 2.5 2.8-.6 1.8.9 3 1.6 4 .7 1 3.2 2.6 3.7 3.9.5 1.3 1.9 2.9 3.7 2.4s1.9 1.2 3.2 1c1.4-.2 3.5.6 3.9 1.7.4 1.1 4.6 2 5.7 2.2 1.2.2 1.4-1.9 2.4-2.5 1.1-.6.7-4.9 1.7-5.2s.7-4.8-.3-5.2-.6-1.9 1.7-1.7c2.2.3 1.5-1.9 2.5-2.2 1.1-.3.6-2.3 1.4-2.5.8-.2.7-1.6.1-2.3-.6-.8.1-1.4 1.3-1.6 1.2-.2.9-1.8-.7-2.4-1.6-.6-1.1-2.3.5-1.3 1.6 1.1 2.7.3 1.9-.9-.9-1.2 1.1-1.8 3.1-1.9 2-.2 3.1-1.3 2.7-2.8-.4-1.6 2.3-1.5 1.7-.1-.7 1.4-.3 2.7.7 1.8 1-1 2.8-.3 6.1-1.3s6.5-3.7 7.3-6.3 4.6-2.3 4.1-4.1.7-2.4 3.1-1.3c2.4 1.2.5-.8 3.2-.8s2.2-1 4.9-1.1c2.6-.1 9.4-1.3 11.8-3.2 2.3-1.9 7.3-3.6 9.3-4.9 2-1.3 2.5-2.3 1.3-1.7-1.3.7-3.9.8-5.8.3s-5.1-2.1-7.3-.9c-2.2 1.3-.9-1.8 1-2.1 1.8-.3 1.1-1.2.6-3.1s3.1-.7 4.7 1.6c1.6 2.2 4.6 3.2 7.2 2.4 2.6-.8.1-2.9 1.2-4.4 1.1-1.5-8.1-6-8.6-7.6s2.3-.5 4.9.6c2.5 1.1 3.1-2 3.1-3.4s-5.5-1.5-7.9-.1-4.8-1.8-1.5-2.1c3.3-.4.3-1.8 1.3-2.7 1-1 5.2 2.8 7.3 2.1 2.1-.7 3.7.1 5.5-1.4 1.9-1.5-3.3-2.8-4.4-4.1-1.1-1.3 5.4-.8 7.3-.7 1.9.1 2.4-2.8.9-2.2-1.6.6-7.1-1.9-5.9-3.7 1.2-1.8 3.3.3 5.7-1s.2-6-1.6-6-5.8-.6-5.8-1.5-3.4-1.7-2.4-2.5c1-.9 2.2 1.1 4.5-.6 2.2-1.7 6.9.4 9 0 2-.4-.9-4.2-2-3.5-1.2.7-5.2.9-5.5-1.2-.3-2 3.8 0 4.5-1s-5.6-3.5-6.6-1.5-4.5 1.4-2.6.2 2.2-4.5 2-6.1c-.2-1.7 6.6-1.8 5.8-4.5s3.2-3.3 5.5-3.3c2.2 0-.1-2.9-2.2-2.6-2.1.3-4.4 2.7-5.5 1.8-1.1-1 2.5-2.7 4.5-2.7 1.9 0 6.6-.2 8.3-1.2s-2.9-1.9-6-1.5-3.1-1 1.6-1.1c4.7-.1 3.9-1.1 7.2-1.5s2.2-1.8 4.3-1.9c2-.1 7.4-2.3 7.4-3.4s-8.8-3.3-12.4-3.3zM370 96.2c1-1.2-2.2-3.6-3.1-1.6-.8 2.1 2.1 2.8 3.1 1.6zM384.2 119.9c3.2 2.2 2.2-1.8 5.8-1.6 3.7.1 3.8-5.8 4.4-8s-2.9-2-2-.4-.1 3.2-.4 1.3c-.3-1.9-3.1-.1-4.1-1.6s3.2-1.6 4.2-3.5-3.4-1.6-2.3-3.1c1-1.5-6.4.1-4.2 1s.1 2-1.9.6c-2-1.5-7.7 1-5.7 2.6 1.6 1.3 6.4-.9 3.7 2.9-2.8 3.8-3.9-1-6.6-.6-2.6.4-1.5 3.6 2.5 4.8 3.8 1.2 3.4 3.4 6.6 5.6zM415.5 79.3c-2.6-1.3-5.9 1.5-3.2 2.5 2.3.8 5.8-1.2 3.2-2.5zM402.9 99.4c2.6-.1 1.3-3.4-1.6-5.5-2.9-2.2-9.5 2.3-8.3 3.2 1.3 1 7.3 2.5 9.9 2.3zM445.2 105.4c-.9 1.9 1.9 1.9 2 4.1s2.9 2.9 5 1.6c2-1.3 7.9.4 7.9-1.3 0-1.6-6.1-4.5-8.3-4.1-2.2.5-5.7-2.2-6.6-.3zM392.7 77.4c2.2 0 3.9-.3 5.8-1s-1-.7.3-2.5-3.2-1.9-3.5-1.3-6-3.5-6.9-2.2c-.8 1.3 2.1 7 4.3 7zM386.5 63.1c1-1.8-6.2-3.1-4.4-1.6 1.1.8 3.4 3.3 4.4 1.6zM394.4 62.9c2.2 1.1.9 2.5 3.2 3.5 2.3 1 9.1-1.3 9.6.3.6 1.6-6.9 1.8-5.8 2.8 1 1 5.3 2.6 4.7 3.5-.6.9 7 3.4 7.7 2.2.7-1.2 2.8-.9 4.7-.1 1.9.7 2-4.5 3.4-3.7 1.3.9 1.2-1.9 3.4-2.8 2.2-.9 5.3-.9 5.5-1.9.1-.7-.6-1.8-3.2-1.5s-4.4-.7-3.2-2.2c1.2-1.5-2.9-1.9-1.5-3.1 1.5-1.2-2.8-2.3-2.3-.6.4 1.8-2.6.1-3.1-1.5-.4-1.6-6.4-2.2-10.4-5.7-3.9-3.5-8-1.2-5.7-.7 2.3.4 2.2 1.6.3 1.5-1.9-.1-5.3.1-2.2 1.3 3.1 1.2-.3 1.6-2.8 1.6s-2.6 3.2.6 3.7c3.2.4.9 2.3-1.8 1.6-2.5-.7-3.4.7-1.1 1.8zM386.5 86c-.1 1.5-3.5-.3-6.1-1.3s-1 2 1 3.8-1 .9-3.8-1-2.5 1.3-1.2 2.3-.3 2.5-2 .1c-1.8-2.3-2.6-4.8-5.4-5-2.8-.1-1.5 2.7-.4 4.1 1.5 1.9 2.9 2.3 5.3 3.7 2.3 1.3 6.1-.6 7.9-.1 1.8.4-1.9 2.6-.7 4.1 1.2 1.5 4.4.4 6.9.3s1.3-1.6 2.8-2.6-1.5-.9-.3-3.4-3.8-6.5-4-5zM463.5 143.4c1.8-.3 1.4-3 .4-4.4-.7-1-2.6-1.2-4.2-1-1.6.1-4.4 2.6-2.9 5.1 1.4 2.5 4.9.6 6.7.3zM448.9 174.5c1-.1 3.1-3.8.4-3.7-2.6.2-2 3.9-.4 3.7z"></path><path d="M473.9 122.5c1.5-.1 3.2-1.3 2.8-2.6-.4-1.3-4.2-1.5-5 .1-.7 1.6-3.8-1.8-3.8-3.1s-4.7-.1-4.1-2.3c.6-2.2-5.4-2.8-7-2.8s-3.9 1.3-3.7 2.8c.3 1.5-1.8.9-2-.7-.3-1.6-4.2 1.8-5.4 1.8-1.2 0 .7-4.2.1-5.5s-1.5-1.8-2.3-3.9c-.9-2.2-5.3-1.3-6.4 0-1.2 1.3-5 .7-7 2.8-2 2 .1 4.1 1 4.8.9.7-3.1 1.9-1.8 3.1 1.3 1.2 3.4.6 3.5 2.5s-4.8-.6-5.5-2.2.3-3.1-.7-4.2c-1-1.2-.1-2.6 1.8-4.7 1.9-2 3.4-1.8 3.4-2.9 0-1.2-8.2-1.2-13 3.2-4.8 4.4-3.4 10.2-3.1 11.4.3 1.2 4.5.6 7 1.3 2.5.7 1.2 1.8-.7 1.5-1.9-.3-5.1-.9-5 .4s4.1 3.8 6.4 3.2c2.3-.6 2.3-.6 3.4.7 1 1.3 3.8.9 6.6 1 2.8.1 6 1.2 7.3 1.3s2.9-.7 3.4-1.5c.4-.7 5.8 1.2 7.4 1 1.6-.1.6-1.6-.4-2s-.6-2.3.7-1.6c1.3.7 3.5 1.2 3.9 2.5.4 1.1 1.6.6 1.8 1.6.1 1 4.8 2.2 5 3.4.1 1.2-4.5 1.8-3.2 2.8s3.4-1.3 5.1-1.5c1.8-.1 1.8 3.8 3.1 3.2 1.8-.8 3.2.7 5 3.2s-.1 4.8 0 5.7 3.5.6 5.4-.4 3.7 1.2 5.1 2.5c1.5 1.3-5.4 3.5-4.8 2.3s-4.1-4.7-8.3-3.1c-4.2 1.6-1.3 4.1-.9 5.5.4 1.5-3.8 2.9-7.7 1.6-3.9-1.3-2.8.9-4.4.9s-3.4 2.5-1.9 4.1 4.7.1 7.3.3c2.6.1 2.9.9 3.2-.6.3-1.5 3.1-.7 5-.3s1.5 3.1 3.8 3.4c2.3.3.4 2.6 1.9 4.2s6.1.7 7.9 2.5 9.2 5.2 10.2 3.9c1.2-1.5-6.4-8.2-8.6-8.8s2.2-1.3 5 .9 6.9 3.2 8.9.6-1.8-1.9-1.8-3.8-1.3-4.5-3.4-4.5c-2 0-7.3-4.1-5.4-5s-.6-2 .9-3.7c1.5-1.6 2.9 1.5 4.7 1.6 1.8.1 2 2.3 4.8 4.7 2.8 2.3 3.1.7 3.5-.9.4-1.6 3.5-.3 3.4-1.9-.1-1.6 2.5-3.5 4.2-4.2 1.8-.7-1.5-2.5-3.8-2.3-2.3.1-2.8-1.5-2.8-2.5s-4.4-3.5-5.8-3.1c-1.5.4-3.9-1.9-5.8-2s-4.7-1.6-4.4-3.7c.3-2 3.8.6 4.5-1s-3.7-.7-3.8-1.9c-.1-1.2 1-.7 1.9-1.5.9-.7-.7-2.2-1.8-2.8-1-.6-1.3 1.2-2.3 1.2s-.1-1.6.6-2.6-3.4-2.2-5.1-1.6c-1.8.6-2.3-.4-2.3-1.6s-3.1 0-4.2.9c-1.5.8-3-1-1.5-1.1zM374.4 129.2c.9-1 4.5 2 4.7-.1.1-2.2-4.1-3.2-5.8-4.4-1.8-1.2-2.5-.6-5.3-2.6s.7-3.1-1.3-4.7-2.8-6-1.3-7.4c1.5-1.5 3.1-3.7.4-4.7-2.6-1-6.9.9-6.4 1.5.4.6 4.1 2.6 4.1 3.5s-3.4-2.5-4.5-1.8c-1.2.7-2.5-1.5-3.5 0s1.3 6.6 2.2 8c.9 1.5-.9 1.5-2 1.8-1.2.3-1.3-4.1-2.5-5.7s-5.8-3.5-6.1-2.3c-.3 1.2 2.9 1.2 2.5 2.8-.4 1.6-2.2-1-3.8.3-1.6 1.3-1.3.4-1-.9s-2.3-2.8-5.3-2.5c-2.9.3-1.3 2.3-2.2 3.1-.9.7-5.3-.4-2.5-1s1.6-2.2.6-3.8c-1-1.6-3.8.3-8.3 1.9s-6.6 3.4-6 3.5.7.9-1 2.3c-1.8 1.5 0 2.8 1.6 2.8s.2 1.3 1.3 1.6c1 .3 6.3-2 7.7-1 1.5 1-8.6 1.6-8.6 3.4s5.5 2.8 9.6 2c4.1-.7 11.2.6 11.2 1.6s-4.8.7-8.5.6c-3.6-.1-9.9 1-9.6 2.2.3 1.3.7 1.3 4.5 3.1s7.7-.9 7.6 1.6 2 3.1 7.2 3.2c5.1.1 7.4-2.3 9.9-2.2s3.6-.3 4.8-2c1.2-1.8 2.2-.7 2.5.1.3.9 3.5.7 4.2 1.5 1.9 1.9 8 1.3 10.4.1 2.3-1.2-1-4.4-2.2-2.9s-2.2.6-2.5-.1c-.3-.9 2.4-1.4 3.2-2.4zM412.1 48.5c2-1.3 3.7-.4 1.9.4-1.8.9-1.2 1.5 1.3 1.3 2.5-.1-1 .7-1 2.2s2.9.6 3.1 2c.1 1.5 6.4 2 8.3.3 1.9-1.8 1.2.4 1 1.6-.1 1.2 8.9 2.2 9.3.7s1.8-.9 3.5-.4c1.8.4 10.4-1.6 10.5-3.4.1-1.8 2.8.9 0 2.8s-8.3 1.6-10.8 2.3 1.6 2.5 4.1 4.4-3.2.9-5.5-1.6-7.6-2.5-10.4-2.3c-2.8.1-1.9 5.3.1 5.3s4.1.7 6.1 3.9 6.4 2.5 6.4 3.9c0 1.5-5.7-1.2-8.9-1.8-3.2-.6-8.3 1.5-8.5 3.8-.1 2.3 4.7 2 7.9.1s.9.6-.7 2c-1.6 1.5 3.8 2.6 3.8 4.4s-3.9 1.2-4.4-.4c-.4-1.6-1.9-3.2-5.7-2.9-3.8.3-2.8 2.9-.4 3.2 2.3.3 2.5 2-.1 2s-8.6 1.6-6.7 3.4c2 1.9 9.5 0 10.8 1.2s5 1.6 5.8.3c.9-1.3 3.8-.7 6.7-.7 2.9 0 3.7.4 5 1.6s3.7.7 5.3-.4c1.6-1.2 1.6-1.2 3.6-1.2s2.5-1.3 1.5-2.9-3.7 1.2-3.9 0c-.4-1.4-2.8-1.9-6.9-1.3s-2.3-2.6.1-1.9c2.5.7 5.8.4 8.6-.3s.6-2 .6-3.2 3.5-.4 6.1-.4 6.4-4.2 6.6-6.7c.1-2.5-5.8-1.9-8.8-1.9-2.9 0 1.9-2.2 7.4-1.9 5.5.3 3.1-2.2 4.1-3.1s3.7 1 6.4.4c2.8-.6.9-2.9 2.8-2.9 1.3 0 4.4-2 10.4-5.4s10.7-2.8 10.9-4.7c.3-1.9-8.3 0-9.8-.6s6-2.2 7.7-1.8c1.8.4 4.1 0 10.1-2.9s3.4-3.7.9-3.2c-2.5.4-5.3-.4-5.1-2 .1-1.6-3.7-.1-3.8-1-.1-.9-3.7-.4-7.4 1-3.8 1.5-.3-1.5 1.3-2 1.6-.6-9.6 0-11.5-1.3s-4.1 2.2-5.8.4c-1.8-1.8-6.3-.3-5.7 1 .6 1.3-.7 1.3-2.5-.1-1.8-1.5-5.1.1-8.2-.3-3.1-.4-1.8 2.5-5.1 1-3.4-1.5-7-.7-6-.3s-.3 1.3-1.8.9-2.8.1-2 1.6c.7 1.5-5.4-.4-5.4 1.2s-2.2 2.5-3.9 1c-1.8-1.5-7.3-1.9-5.7-.6 1.6 1.3-5 .6-3.2 1.9 1.8 1.3-2.2 2.3-2.2 1.6s-3.7-2-5.1-.7-1.9 2.9-2.6 2-3.9-.6-7 .6c-3 1.2.5 2.1 2.5.8zM446.6 163.2c.3-1.5-4.8-2-4.5-3.7.3-1.6-4.8-2.9-6.4-3.8-1.6-.9-4.1-1.3-4.1-3.1s-3.5-.4-3.7 2.2-1.6 2-.9 4.5-3.2 3.1-2.8 4.4c.4 1.3 2.3-.1 4.1-.1 1.8 0-.5 2.4 1.8 2.6 1.8.1 4.8-1.9 5.5-3.1.7-1.2 2.2-1.6 4.2-.1 2.1 1.6 6.5 1.7 6.8.2z"></path><path d="M408 96.5c1 2.9 2.2.9 3.8 2 1.6 1.2 4.1 1.9 5.4.7 1.3-1.2 1.9-2 2.3-1 .7 1.7 3.9 1.9 11 2 7 .1 5.3-2.9 7.3-1.8 2 1.2 6.7 1.2 8.8.7 2-.4 3.1-3.6 2.9-5.3-.1-1.6-15.8-2.9-18.5-1.3-2.8 1.6-7.2-.7-9.3.4-2.2 1.2-1.5-1.5-5.4-1.6s.3-2.2 1-3.1-6-3.2-8.8-2.6-4.4-.9-7-2c-2.6-1.2-9.8-.9-8.3 1.2 1 1.5 9.5 4.5 10.4 3.1.9-1.5 3.1 1.8 4.4 3.4 1.2 1.7-1 2.3 0 5.2zM436 171.3c2.3 1.5 5.8-2.5 5.5-3.7-.2-1.1-8.3 1.9-5.5 3.7zM404.5 78.1c-.3-.9-11.4.5-9.6 1.8 2.9 2.2 9.9-.9 9.6-1.8zM537 238.4c-.6 1.1-1.5-.8-.2-1.8s-.2-1.4-1.4-.8c-1.2.6-.9-2.6.2-3.2 1.1-.6-2.6-1.8-2.6-.7s-2.6.4-2.9-.6c-.3-1-2.1-1.3-1.5-1.9.7-.7-2.2-1.1-2.5.1-.3 1.2-1.2-.8.3-2.3 1.5-1.6 1-2.9 2.3-3.7 1.4-.8-.1-1.7-1.6-1.1-1.5.6-5.4 5.9-5.4 7.4s-.1 3.2-1.5 3.1c-1.4-.1-2.9 1.2-1.8 1.9 1.1.8-2.8 3-1 4 1.3.7 3.3-.3 5.1-.1s3.2.3 4.7-.8 1.5 1 3 .8c1.6-.2-.9 1.3-.8 2.3.1 1.1 1.7-.6 2.8-1.2 1.2-.6 2.6 0 2 1s3.2 1.9 4.1.4c1.1-1.5-.7-3.9-1.3-2.8zM301.4 117.2c2.6.6 2.9 5.3 4.7 5.3 1.2 0 .3-1.5 2.2-1.5 1.9 0 1.5-1 3.2-.9 1.8.1 3.2-.4 3.2-2.5 0-2 1.3-2.8 3.1-3.2 1.8-.4.1-2.6 2.6-3.2s9.3-3.5 10.5-4.4-1.5-2-4.1-3.6-4.7-2-6.7-.7-.4-1.5-2-.7c-1.6.7-6-1.2-6.6-1.9-.6-.7-8.5 1.6-10.4 1.6s.1 2 1.5 3.1c1.3 1-3.2 4.2-2.3 5 .9.7-.9 2.6-2.9 5-2.1 2.2 1.4 2.1 4 2.6zM318.9 93.3c2.6.3 5.3-2 5.1-3.4-.1-1.3-6.4 3.3-5.1 3.4zM366.5 69.9c1.8-1.2 5 .7 4.4 2s-5.6-.3-5.3.9c.1.4.7 2.2 4.2 1.2s6.4-.3 8.8 1.6c2.3 1.9 4.5 2.6 6.1.7s-2-2.2-1.3-3.6c.7-1.5-2.3-2.3-3.9-2.3s-2.2-2.9-3.5-2.3-2.2 1.6-2.2-.3-7.6-2-9.5-1.3c-1.8.7.5 4.6 2.2 3.4zM500 229.7c.3 1.2 8.8 4.7 9.1 3.1.2-1.7-9.4-4.1-9.1-3.1z"></path>
              <path d="M513.7 244.9c-1 .1-.2-1.5-.1-2.3.1-.8-2.2.4-2.3 1.3-.1.9-1.7 1.3-1.7 1.9 0 1.7-.2.8-1.4 1.4-1.2.6-5.7 0-5.8-1-.1-1-3.4-1.5-3.6-2.9-.1-1.4-1.8-1.8-.4-3.4 1.3-1.5-.2-2.3-1.5-1.1-1.2 1.2-2-.7-.3-1.3 1.7-.7 4.8-1.3 3.2-4.2-1.6-2.9-11.7.9-14.2 2.3-2.6 1.5-5.8 6.1-7.2 6.1-1.4 0 2.4-2.5 3-3.4s-.1-1.9.7-1.5c.8.4 3.1-3.1 4.6-4.3s3.2-.1 3.4-1c.2-.9.9-1.6 2.4-2.9 1.5-1.3 18.9-1.1 20.6-1 1.7.1 5-2.2 5.9-3.7s2.2-1.5 4.5-1.3c2.3.1 3.4-2 4.6-2.8 1.2-.8.7-1.2-.3-1.4s-2-.9-.9-.9c1-.1 1.5-.7 2-2 .4-1.3-.4-.7-1.8-2.6-1.4-1.8-2.1.6-3.5.4-1.4-.1.9-1.9-.2-2.6-1.2-.7-3.4-.2-5.1 1.2-1.8 1.5-1.6-.1-3.1 1.4s-1.5-.7-.8-1.3 1.2.1 1.9-.8 1.3 0 3-1.1 3.1-.6 3.7-1.4c.5-.8-.8-1.9-2.4-1.5-1.6.4-2.7-2.2-3.7-1.5s-.8-1.1-2-.4c-1.2.7-1.8-.2-2.3-1.6-.5-1.4-3.7-3.7-5.5-4.2-1.9-.6-.7-1.6.4-.9 1 .7 2.2-.7 2.6-1.5.4-.7-.7-1.4-1.3-1.5-.6-.1-.6-1-.4-1.8.1-.7-2-1.7-2.1-2.4s-1.3-1.2-1.2-1.9c.1-.7-1.2-1.6-1.2-2.5s-2.2-2.6-2.3-3.6c-.1-1-1.2-1.8-1.7-3-.4-1.2-1-.7-1.5 1.1-.4 1.8-2 1.7-1.5 2.3.9 1.2.2 1.2-.4 2-.7.7.4 1.8-.7 1.8s-.6 2.3-1.2 1.2c-.6-1-2-.7-2 .3s-2.3 2-3.3 1.9c-.9-.1-.9-2-1.8-1.5-.8.6-.7-1.7-1.9-1.6-1.2.1-2.1-.1-1.8-1.2.4-1.1-2.1-1.6-1.3-2.3.8-.7-.2-1.8-.4-3.7-.1-1.9 1.1-2 1.1-2.8 0-.7-.9-.7-1.8-.1s-.9-.8-1.8-.7-3.8-.1-3.9-1.4c-.1-1.3-1.1-.7-1.5-1.9s-1.6-.3-1.6-1.2-.5-1.2-1.4-1.3-1.2-1-2.3-1.2c-1.2-.1-2.6.8-3.3 1.1-.7.3-2.3-1-3-.5s-.8-.4-2.6-.9-4.2-.7-4.4 0c-.1.7-1.6.9-1.4 2.4s1.8 1.2 2.1 2.3c.4 1-.7.7-.8 1.6-.1.9-1 .9-1 1.5 0 .7.7.5 1 1.8.4 1.3 1.1 1.2 1.3 3 .2 1.8-.6 1.4-1.3 1.6-.7.2.1 1.1-.9 2.3s-1.9 2.4-1.1 3.1c.8.7 3.8 2 5 3.9 1.2 2 1.1 5 .7 7.2s-2.8 2.7-4.7 4.6c-1.8 1.9-3.7 1.6-4.6 1.7-.9.1-.4 1.8.9 3.2 1.2 1.4.2 1.8.9 3.3.7 1.5 0 2.6.9 3.9.9 1.3.4 1.8-.7 2.8-1.1.9.4.4.5 1.7.1 1.2-.5.5-1.5-.1-.9-.7-1.8 1.2-1.8 2s-2.3-1.1-2.8-1 .1-1.2-1.2-2.3c-1.3-1-2.3-1.2-2.3-2.3s-2.3-1.8-2.3-2.9c0-1.2.3-4.2-.2-5-.5-.9-.1-1.8.4-2.6.4-.8-.5-2-1.8-2s-3.1-.4-5-.3c-1.8.1-2.8-.1-3.4-.7-.6-.5-2.3-1.6-4.5-2.2-2.3-.6-3.3-1.8-3.5-2.4-.2-.7-2.5-1.2-3-1.8-.5-.7-2.7-1-3.6-.9s-3.1-1.8-4.4-1.8c-1.3.1-4.4 1.4-4.9 1.5s.1-1.1.4-1.6c.4-.5-1.1-2.7-1.5-4.2s-.9-3.1-2.4-2.8c-1.5.2-3.2-.6-3.7-.9-.4-.3-.5-4.5-.1-6.2.4-1.8 2.3-4.4 2.3-5.5s1.2-1.6 2.3-1.9c1.1-.3.2-2.4 1.3-2.6 1.1-.1 1.2-.6 1.4-1.5.2-.9 1.5-.3.8-1s-.1-.9 1.5-.9c1.7 0 4.2-.6 3.8-2.3-.4-1.7-4.7-.4-4.7-1.8s-5.5-1.5-5.2-2.3c.4-.8 5.5.6 7.4 1.3s2.4.7 3.9.6c1.5-.1.5-2 .8-2.8s3.2 1.2 4.9.8 3.3-3.9 4.7-4.8c1.4-.9.1-1.8-2.6-1.6s-4.2-.8-5.7-1.9c-1.5-1.1-1.3-2 .2-1.8 1.5.1 5.2 3.1 6.6 3.2 1.4.1 3.8-2.7 5-3.6 1.2-.9-1.1-1.2-1.9-1.9s1.4-1.1 2.6-1.1 1.7 1 2.1 1.5 2.5-.4 3.5-.4-.1-1.7-1.8-2.3c-1.7-.7.1-1.9.6-.9s1.7.8 2.3 2c.9 1.7 1.4.6 2.8.1 1.5-.5 2.2-1.4 3-2.3.8-.9.9.1 1.9-1.2.9-1.4-.4-2.7-1.6-3.6-1.2-.9.1-1.8-1.1-2.3-1.2-.6-1.4-1.7.1-1.4s2.6-.1 3.3-1.2c.7-1-2.2-1.2-.9-2 1.3-.7.2-1.5-1.1-1.5s-2.4-.7-2.5-1.8-2.3-.4-3.7-1c-1.4-.7-4.5-.5-5.2-.4s-.8 3.1.3 3.1c1.1.1 2 1.2 1 1.6-.9.4.1 1.5-.6 1.5-.7-.1-1.9-.4-2.1 1.5s-.4 2.6-1.6 3.3-.3-2.1-1.5-2-1.3 2.3-.4 2.6c.9.2 1 .9 1.2 2s-1.6.3-2.3 1.6c-.7 1.3-.8-.6-1.8-1.5s-2.3-2.3-2.2-3.4c.1-1 .6-1.3 1.4-1.5.8-.1 0-.9-.1-2.2s-1-.9-2.2-2.3c-1.2-1.4-2.4-1.4-3.1-.7s-.2 1.9-1.2 2.3c-1 .4-.6 2.5-1.5 2.6s-.4-3.6-1.1-3.9c-.7-.4-.7-1.2.4-1.4 1.1-.1 1.8-1.3.8-1.3s-2.6-1-3.3-1.3c-.7-.3-1.8 1.2-2.5.7-.7-.6.1-2 .1-2.8.1-.8 1.2.4 1.9-.7.7-1-2-1-2-2.1s-2.2-1.4-2.9-1.8c-.7-.4.5-2.2.1-2.9-.4-.7-3.1-3.1-4.2-2.9-1.2.2-1.5-1.5-.8-1.5.7.1 1.2-.4 2.4-1.8s1.4-1.8.5-2.1c-.9-.3-1.3-1.2.2-1.1s4.2 1.1 5.1.4 3.7-5 4.7-6.5c1.1-1.5-.8-1.7-3.4-1.5s-3.2-1-5.4-1.2c-2.2-.1-6.3.4-6.9 1.1s1.1 1.2.9 2c-.2.7-1.5-.5-2.1-.2s.2 1.2 0 3.8c-.2 2.6.5 2.7 1.2 3.7.7.9.6 2.2.6 3.8 0 1.6-1.5 1.5-2 1.9s1.3.9 1 2c-.3 1-1.8-.6-2.7-.3-.9.3-1.6 2.8-.7 3.6.9.8 1.3.7.6 1.6-.7.9-1.5 2.3.2 3.7 1.8 1.4 5 1.2 6.6 2.3 1.7 1.1-.7.4-.1 1.7.7 1.2-1.1 1.7-1 2.6.1.9.7.4 1.6-1.2.9-1.6 1.5.4 1.5 1.8-.1 1.4-1.3.6-2.3 2-.9 1.4-1.8 1.6-3.2 1.3-1.4-.3-.6 2 0 3.2s-.1 1.7-1.8 1.2c-1.6-.4-2.6-1.5-1.8-2.7.8-1.2 1.4-2.7.4-2.6-.9.1-3.1-.1-3.8-1.1-.7-1 .4-.6 2.4-.4 2 .2.3-1.3 1.8-1.3s2.6.8 3.8-.3c1.2-1.1-.8-3.2-1.8-2.8s-2.6.8-2.6-.2 1.8-.3 2.7-.5c.9-.2-.5-1.5-2-1.2-1.5.4-2.5.4-3.7-.8s-3.3-2-3.8.9c-.5 2.8-2.6 1.3-3.4 2.3-.8.9.9 1.6 2.9 1.7 2 .1 3.4 1.9 2.5 1.9s-.5 1.4-1.5.9-2 0-1.3.9-.3 1.2-.2 2.1c.1.9-1.5.1-3.1-.1-1.5-.1-4.4.4-6.4.8s-4.3-.3-5.2-1.2c-.9-.9-2-.8-3.5-.8s-1-1.4-2.9-1.5-1.5-1.7-1.7-2.6c-.2-.9-4-.7-5.4.2s-4.1.5-4.8 2.1c-.7 1.6.7 1.4 1.5 1.4 1.1 0 1-1.3 3.1-1 2 .3 3.5-2.1 4.4-1.2.9.9-3.5 2.6-5.4 2.8-1.9.3-1.5 1.8.4 4.5 1.8 2.7-.8 1.2-.8 2.5s-3.4-.4-2-.9c1.4-.4.7-1.8-.4-2.7s-1.8 0-1.7-.9c.1-.9-1.2.1-2.2-.7s-1.5-1.5-2.9-.7c-1.4.7-3 .5-6.1 1s-8.7.4-9.7-.7c-1-1 2.6-2.8 3.7-2.6 1.1.3.4-1.2-1.2-2.5-1.7-1.3-5.4-2.1-5.3-1.3s-2.1.1-4.8-.4c-2.7-.5-3.1-1.5-4.8-1.5-1.7-.1-4.4-.6-6.4-2.2s-6.9-1.2-7.4.3c-.6 1.5-2.2 1.4-3.8 1.4-1.6 0 .7-1.8.1-2.1-.8-.4.1-2.4-1.1-2.6-1.2-.1-2.3 4.8-4.5 4.7-2.2-.1-3.1-5.3-5-6.6-1.8-1.3-3.5-1.4-2 .6s-1.3.6-1.2 1.9c.1 1.3-2.5 2.8-2.4 2.1s-1.5-1.5-3.2.5c-1.8 2-3 1.8-3.1 1-.1-.7-5.3 1.9-5.1 2.8.2.9-.8 1.5-2.2 1.5-1.4-.1-.3-1.2.8-1.8 1.2-.7 4.6-3.4 6.4-3.6 1.8-.3 5.1-1.7 5.2-2.5s-1.7-.1-2.8-.4c-1.2-.2-3.2 1.1-5.2 2-2 .9-4.2.6-3.6 1.8s-1.8-.1-2.3.7-1.5-.1-.7-.5c.7-.4-1.8-1.2-1.8-.7s-.4 1.2-2.2 1.2c-1.8 0-3.5 1.2-2.3 2.1 1.2.9 1.9 1.3 1.3 1.9-.6.6-2.4-1.5-5-1.3s-7.7-2.8-7.7-3.6c0-.6-3.6-.2-6.1-.5-.6-.1-1.1-.2-1.5-.3-2.1-.8-5.3-2.3-6.9-1.9-1.7.4-5 .8-6.2.2-1.2-.6-2.8-1.1-5.2-.7-2.4.4-3.9-1.3-7-2s-7.4.2-8.4.6-.8-1.1-2.1-.9c-1.3.1-.3-.6-1-1.7s-4.4-.1-5.7.1c-1.3.1-1.7-.7-1.6-1.3.1-.7-1.2-.4-1.7.4-.5.9-2 1-2.6.4s1.2-.8 1.3-1.5-1.9-1-2.6-1.2c-.7-.2-1.9.7-3.4 2.1s-3.8 1.2-5.2 1.1-3.1.1-3.1.9c.1.8 1.8.7.7 1.8-1 1-1.4-1.4-2.4-.3s-4.1 1-4.8.9-3.1 2.5-3.9 3.2c-.7.7.6 1.4-1.4 3.5s-7.2 1.7-8.3 1.7-.3 1.2-.9 2c-.6.8.7 1.5 3.7 2.3s5 4.7 5.4 5.7c.4.9 4.1-.1 5.5.1 1.5.2-.1 2.3 1.1 2.8 1.2.6 3.1-.3 3.5.7s-2.5 0-3.9 1.1c-1.5 1.1-2.2 1.6-2.8.8s-3-.3-4.2-.1c-1.2.1-.1-1.5 0-2.3.1-.7-1.7-1.2-4.1.1-2.4 1.4-1.5.9-1.8 2s-1.3-.7-2.8.3c-1.5.9-4 1.6-4.5 2.6-.4.9 3.3 1.6 4.7 1.9 1.5.3-1.8 1.2-.6 1.6 1.2.4.7 1.5 2.5 2.4s5.9 0 7 0 2.1 1.3 3 .4c.9-.9 4.2-3.6 5.8-2 1.7 1.5-1.8 1.3-.9 2.3.9.9 2 3.2.4 4.4s-3.1.4-4 .3c-.9-.1-.4 1.6-1.8 2.7s-2.4-1.2-4.2-1.2-1.4 2.3-1.3 3.4c.1 1.1-2.6-.2-3.3 2.4-.7 2.6-3.4.4-1.6 2.9 1.8 2.6 1.5.9 3 2 1.5 1-1.6 2.8-.1 3.1s3.1 2.9 4.1 3.9c1 .9 2.3-.5 3.9-.6 1.5-.1.8-2.2 1.7-1.4s2.1 3.1 1.3 3.7c-.8.6-.1 2.4-.3 3.3-.1.9 3.4.6 3.6-.4.2-1 3-1.3 4.5.4s2 2 2 .7 1.3-2.8 1.4-1.7c.1 1.1 1.3 1.4 3.6.4s1.2.1.1 1.5c-1.6 2 0 5-1.2 5.3s-2.1 3.3-4 3.5-5.1 3.8-5.5 4.4c-.4.6-4.5-1.2-5.1.5s-3.1 2.9-2.4 3.6c.4.4 3.8-1.2 3.9-2.1.1-.9.6-.7 1.2-.1.6.7 2-.3 2.7-.9.7-.6 1.8-.4 2.4-.3.7.1.9-.8 2.9-1.2s1.5-.9 2-2c.4-1 5.1-3.2 6-3.4s.4-1.7 1.3-1.8c.9-.1 2.4-1.2 3.6-2.3 1.2-1 1.5-.6 2.5-.9.9-.4.2-2.3 1.2-2.4.9-.1 1.7-.9 1.7-1.7s-2.4-.8-2.6-1.3c-.2-.5 1.9-2.4 2.7-2.3.8.1 2.1-.8 2.2-2 .1-1.2 1.2-1.4 2.2-2.4.9-1 .7-1.9 1.7-2 .9-.1 1.8-1.4 2.8-2s0 .7 2 .8 1.5 1.9.1 1.2c-1.5-.7-2.1-.6-3.4.7-1.3 1.2-.3 1.6-1.3 3s-1.1 2.3.2 2.4c1.3.1.1 1.1-1.2 1.5-1.2.4-.4 1.1 1.3 1.1s4.2-2.4 6.5-3.6c2.3-1.2 4.1 0 4.7-.2.7-.2-.7-1.3.1-1.7s-.9-.6-1.5-2 .8-.5 1.1-1.6 1.1-.7 1.8-.1c.7.5 1.8-.5 2.4.9.7 1.4 1.4-.4 2.6.6 1.2.9-.2.8-1.5 1.1-1.2.3-.6 2 .4 1.2.9-.8 1.8-1.3 2.6-.5.9.8 1.2.4 2-.3.7-.7.7.1.7.7s1.5.8 3.7 1.2 6.1-.1 7.2-.2c1-.1.7 1.5 2.9 2 2.3.4 2.8-2.3 4-1.3 1.2.9 0 1.3-.7 2s.7.8 1.6 1.2c.9.4 2.9.9 3.9 1.9.9.9 1.5 2 3.9 3.1 2.3 1.2.1-2.9 1.9-1.6 1.8 1.3 1.2.1 2.6 1.4 1.5 1.3.9-.6.3-2.8-.7-2.2.7-.7 1.3.3.7 1 .7 3 .2 4.3-.4 1.3-2.6.2-2.4-.5s-2.2-.4-2.3.6c-.1 1 1.5 3 2.7 3.2s.3 2 1 2.3c1 .3.9 2.2 1.5 1.9s.4-2.6-.3-3.6-.4-2.5.5-2.2 0 1.8.4 2.3.9-.5 2-1.1c1-.6-.4-2.3-.1-3.1.4-.9 1.5.7 2 2.3.4 1.5-1.1 1.5-1.1 2.3s-1.4.4-1.8.9c-.4.4-.2 3.4.4 3.4.6.1.9-2.4 1.3-1.2s1.8-1.6 2.1-.4c.4 1.2 2.1 2.5 2.8 2.2.7-.3-.3-1.5-1.3-1.6s-.9-1.8.1-1.8c.9-.1 2.6 2.4 2.6 3.3-.1.9-.9.8-1.7 1.7-.8.9-1.9-1.5-2.8-1.4s0 1.5.4 2.6c.4 1-1.2 2.4.1 3.2 1.2.8.9-.5 1.1-1.1s1.2.1 1.8.7c.6.5.7-1.2.7-1.8 0-.7 1.1-.3 1.7.6.6.9.7-.9 1.5-.8.9.1.3 1.5.3 2.3s1.5-.7 1.4.2v.4c.1.6.7 1.1 1.4 1.7.9.7-1.6.7-.9 1.4s-.1 1.7.6 2.5 2 .5 2.8-.1c.8-.7 1.4.8.7 1.9-.7 1.1.7 1.9 1.4 1.1.7-.8 2 1.3 2.7 1.7s1.3 1.5.2 1.5-.9 1.9-.1 2 .7 1.1.7 1.8 2.6 1.6 3.5 1.3 1.8.6 2.3 1.4c.4.8 2.2 1.4 2.8.9.7-.5 1.1.9 1.2 2 .1 1 1.6.4 2.5.4.9-.1 1.4 1.2 2 .9 1.3-.5 1.7 1.8 2.5 3.1.1.2.2.3.3.4 1.1 1.2.2 2 .6 3.4s.1 3.4-1 3.4-1.2-1.2-.4-1.7c.8-.4.4-2-.4-2-.5 0-.7-.5-.6-1.2 0-.5.1-1 .3-1.4.5-.9-1.1-.3-2-1.3s-3.4-.8-3.8-1.8c-.4-.9-2.6-4.4-3.9-4.3-1.2.1-2.8.1-4.3-.9-1.5-1.1-2.4-1.2-3.4-.5s1.1.8 1 1.5.7 1.2 1.5 1c.9-.1 1.4 1.7 2.3 1.8s1.2 1.5 2.2 1.5 1.2 1.2 1.8 1.8c.5.7 1.7.1 1.7.7s1.2 1.1 1.5 1.9c0 .1.1.2.1.3.1.9.5 2.8 1.7 4.4 1.2 1.5.4 2.5 1.5 3.1s1 1.2 0 1.1c-1-.1-.3.8-.7 3-.4 2.2-.3 6.7-.5 8.1s-1.8 3.7-.9 5.1c.9 1.5 1.6 3.5 1.1 5.3s-.4 2.9.4 4.3.1 3.8 1 4.3 1.7 1.5 2.5 2.8 1.5.5 1.7 1.8c.1 1.3.1 1.5 1.3 2s.4 1.8.4 2.6c0 .7 1.5 2 3.4 3.7s.3 3.1 1.7 3.1 2.7.8 4.1 1.7c1.4.9 1.8.4 2.8.6.9.2 2.7 2.3 3.1 3.7.2.7.4 1.3.7 2.1l7.6-1s2.3 1.6 3.7 2c1.3.3 8.5 3 8.5 3l9.4-.1 1.1-1.4h5.1s3.3 3.2 3.7 3.4c.5.2 2.1 1.6 2.1 2.6 0 .9.4 1.7 1.2 2.1.8.4 3.4 2.1 3.8 1.9s1.2-3.1 2.6-3 5.2 1.2 5.8 3.4c.6 2.2 2.5 4 3.1 4.4.6.5.3 1.8.8 2.5s.4 2 .9 2 3.4 1.7 4.6 1.6c.4 0 .9.2 1.4.5.2-2.6-2.5-3-1-4.2 1.8-1.4-.1-2.6.8-3.1.9-.6 2.4-1.2 2.4-2 0-.9.8-.9 2-.7 1.2.1 3.4-1.9 3.2-2.7-.1-.8.2-.9 1.6-.7 1.4.3 1.2-1.6 2-1.3.9.3 1.6.8 1.7.1.1-.7.9-.5 1.6.4s2.6 1.1 2.7.1 1.2 0 2.2 1c.9 1 1.4.7 2.8.8 1.4.1 1.4-.3 1.5-1.2.1-.9 1.5 1.9 2.9 2s.3-.9-.7-1.7c-1-.8.2-1.2-.7-1.8-.9-.7 1.1-1.5 2.8-1.5 1.8.1 1.7.5 2.3-.5.7-1 1.3 0 1.3.9s2.8-.5 4.4-.5c1.5 0 2.9 1.3 3.1 2.2.1.9 1.2 1.3 2.3.4 1.1-.9 2-2 3.1-1 1 1 2 2.4 3.3 3.7 1.2 1.2-.6 2.8.1 3.7.7.9-.1 2.3 1.4 3.3s.1 3.1 1.3 3.4c1.2.3 2.1 2.1 2.3 2.8.1.7 2.3 1.7 2.5.4.1-1.2 1.3-2.7 1.5-3.9.1-1.2-.9-5.3-1.8-6.6-.9-1.3.2-1.6-.9-3.1-1.2-1.5-1.9-4.2-1.8-6.4.1-2.2 2.6-5.8 3.9-6.9 1.2-1.1 2.6-.5 2.9-1.7s1.8-2.6 2.7-2.6c.9 0 1.8.2 2-.7.1-.9 1.6-2.1 3.5-2.4s.8-1.3.3-2.2c-.5-.9.4-1.8.8-1.2.4.6 1.5.7 2.3.1.7-.5 2.4-1.9.8-2s-2-.7-1-1.1c.9-.4.1-2.1-1.2-2.3-1.3-.1-.9-.8-.1-1.6s-1.2-2.1-2.1-2.8c-.9-.7.6-1 1.3-1.2.7-.1.1-3.5.5-4.3s1.6-.8 1.1 0-1.2 2.1-.3 3.2c.9 1.1 1.2 2.3.9 3.9-.4 1.7.4 1.2 1.5-.9 1.1-2.2 1.2-4.1.5-4.3-.7-.2-.7-2.4.1-1.4.8 1 1.1 1.2 2.3-.1 1.2-1.3 2.6-3.6 1.8-4.1-.8-.5.4-1 1.8-.9 1.5.1 4.6-.9 4.8-1.3.7-1.4-5 .7-5-.1 0-.8 3.7-1.6 5.3-1.7 1.7-.1.9-2.3 1.6-1.4s1.8.8 2.8.2c.9-.6.2-2.3-.9-2.6-1.1-.3.8-1 .4-1.7s.7-3.3 2.1-3.6c1.4-.3.7-1.2 1.9-1.2s1.4-1.4 2.4-2.4 2.5 1.6 4.1.1c.7-.6 1.5-1.3 2.5-1.8 1.3-.8 2.7-1.5 3.5-1.4 1.3.1 3.3-1.7 3.9-2.8s1.4 1 .2 1.4c-1.2.4.9 1.2 3 1.2 2-.1-.9.7-2.5.7-1.5-.1-2.2.1-4.2 2.2-2 2-1.5 2.6-.4 3.6 1.2 1 2.7.6 4.3-.8 1.6-1.4 1.5-2.8 3.1-2.7s5.8-1.5 7.6-2c1.8-.6.7-.9.7-1.7s3.2-.8 4.4-1.6c.8-1.5-.6-2.2-1.6-2zm-190-94.7c-1.9 2.4-2.6 2.7-4.5 2.4-2-.3-3.2.6-2.2 1.3s1 1.3-1 1.7c-2 .5-3.4 2-4.2 1.9-.8-.2 3.5-3.3 2.4-4.1s-3.8 1.4-3.9 2.4-1.9 1-3 1c-1.1-.1-2.6-1.1-1.5-1.2 1.1-.1.3-1.3 1.9-1.9 1.5-.6-.3-1.5.2-2.1s3.5.6 3.6-.5c.1-1.2-3.1-2.1-4.1-1.5-1 .7-3.5 2.3-6.4 1-.9-.4 7.3-1.3 8.7-2.6 1.4-1.3 7.7-2.7 8.1-1.6.5 1.2-3.4 1.9-1.5 3 1.9 1 4.9.3 5.6-.8.7-.9 3.7-.7 1.8 1.6zm18.5 23.5c-2.3 2-2.1 1.5-4.1 1.8s-.4 2.3-2.8 2.5-8.1.4-8.9-.9c-.3-.4 3.1-.1 3.4-1.1.2-1 1.2-2.6 2.6-2.6s1.3-1.9-1-3.1c-2.4-1.2 3.4-1.9 4.8-.1 1.3 1.9 3.7 3.2 5.1 1.9 1.3-1.3 8.9-5.1 8.9-3.3s-5.8 2.9-8 4.9zm50.8 53.1c-1.6.2.1-4.2-2.8-5.8-3.4-1.9-5-5.4-5-7.3 0-1.9 2.9-2.8 4.1-1.3s2.9 7.4 3.9 9.3c1.1 1.8 1.1 4.9-.2 5.1zm28.2 15c-1.6 0 1.2-3.1-1.2-1.8-2.3 1.3-5.8 4.5-7.4 3.1-1.6-1.5-3.1.4-4.2-.7-1.2-1.2 4.1-4.4 6.6-4.2.6 0 1.2-.2 1.7-.7 1.6-1.3 2.9-4 4.3-4 1.9 0 6.7.4 7 2.9s3.2.1 3.5 2.5c.2 2 2.2 3.5 1.9 4.6-.1.2-.2.4-.4.5-1.2.8-.9-1.3-3.1-1.3s-4.4 2-6.1 1.2c-1.9-.9-1-2.1-2.6-2.1zm13.8 13.1c.3-1.9 2.9-3.5 1.3-6s-4.5-2.5-5.1-.6-2.6 1-3.4 2.5c-.7 1.5-1.5 4.7-.9 7s-.1 3.5-2.3 4.8c-2.2 1.3-3.3-2-2.5-6.3.6-2.9 2.2-5.7.7-5.7s1.9-3.5 5-4.2 6.9-.4 6.9-1.3c0-.2.1-.3.4-.4.9-.3 3.4.1 5 .7 2 .7 5.1-.9 6.1 1.6s3.4 4.4 1.2 4.5c-1.9.1-4.4-2.5-4.2-1 .1 1.5-1 .7-1 2.9s-1.5 5.3-2.3 5.1h-.1c-.8-.4.5-3.6-1.2-4.2-1.8-.5-3.9 2.5-3.6.6zm15.6 4.2c-.6 1.1-5 3.3-7.5 4.6-2.8 1.5-6.6.7-6.6-1.5s2-1.8 2.5-.7c.2.4.7.1 1.3-.4 1.1-.8 2.7-2.2 4.1-2.1 2.2.1 2.8 1.5 4.2.4 1.5-1 1.8-1.5 2-.7.1.1.1.2 0 .4zm3.4-2.4c-1.1 0-2 .2-2.6.3-1.5.2-1.9.3-2.3-.7-.6-1.5 4.4-2.9 6.7-2.6 2.2.3 3.8-1.3 4.5-.3 0 .1.1.1.1.2 1.1 1.8-2.7 2.9-6.4 3.1zM337.2 78c.7-1.8-4.8-1.5-4.4-.9 1 1.3 3.7 2.6 4.4.9zM349.3 77.2c1.9-.3 1-1.8-2-1.3-3.1.4-8.3.4-8.3 2.6 0 1.8 1 2.6 4.4 2.9s6.3-2.9 4.7-2.9c-1.7.1-.7-1 1.2-1.3zM342.2 74.5c1.5.6 2.9-1.3 3.9-.4s5.5 1.6 5.5-.7-5.7-2.6-7.2-1.8c-1.5.9-8.2 1.2-6.3 2.6 1.3.9 2.6-.3 4.1.3zM367.6 82.2c1.2-1.5-4.7-6.1-5-3.9-.3 2.2 3.7 5.5 5 3.9z"></path>
              <path d="M273.1 211.6c-2.6 1.4 3.7 8.1 5 7.2.9-.6-1.6-3.4-1.6-5.1.1-1.7-.8-3.5-3.4-2.1zM306.8 89.2c1 .4 0 2.5 1.2 1.9s1.5-.7 2.3-.4c1.6.5 1.9-.9 2.6-1.6s.4 2.6 2.3 2.6c1.6 0 1.3-3.5 2.8-2.5s1.9-.4 2.2-1.5c.3-1 .3-2.8 1.9-3.1 1.6-.3.3 1.6 1 2.9 1.1 1.9 2.9.1 3.1-.7.1-.9 2.8-.3 2.6-1.3-.1-1 .7-1.3 0-2.5s1.2-.9 2-1.8c.9-.9-1.2-.1-2.6-1.5-1.5-1.3-2 .4-2 1.3s-2.8.1-4.4-.4c-1.6-.6-3.7 1.9-6 3.1s-2.5 3.2-4.7 3.1c-2.1-.1-5.3 2-4.3 2.4zM329.6 88.5c-2 .1-1.9 2.2.4 2.2s3.1.7-.3.6-4.8 2.8-2.5 2.2c2.3-.6 5.1-.6 3.4 0-1.8.6-6.5 1-5.8 1.9.4.6 2.3.4 4.2 1.2 1.9.7 3.1 1.2 4.5-.4 1.5-1.6 3.4-3.2 2.6-1-.7 2.2 2.3.6 6.3.4 3.9-.1-.7 2.3-4.8 2.6-4.1.3-3.4 2.3-.1 3.1 3.2.7 10.1-2 11.7-3.7 1.6-1.6 3.1.9 4.7-.3s4.7.1 7.4-.4c2.8-.6 3.2-5.8 1.2-6.7-2-.9-2 1-3.7 1.3-1.6.3-2.5-1.8-3.8-3.1-1.3-1.3-.4-3.8-2.3-3.5s-6 3.4-3.5 3.7c2.5.3 1.6 1.6.3 2.2-1.3.6 3.1 1.6 2.5 2.5s-7.3.1-7.6-1.3c-.3-1.5-5.5-4.1-7.7-3.5s-1.3-1.8-3.5-1.9c-2.3-.3-1.6 1.7-3.6 1.9zM162.1 181.9c-.1-1.2-3.3-.1-2.9 1 .4 1.1 3.3 1.8 4.6 1.4 1.1-.4 1.5-1.5.7-2.3-.8-.7-2.2 1-2.4-.1zM159.2 214.2c1.8-.7 2.5-1.6 1.8-2.5-.8-.9-3.1 3.1-1.8 2.5zM171.6 207.6c-1.6-.6-5.8 2-4.4 2.2 1 .1 1.5-.9 2.6-.9 1.2 0 3.4-.7 1.8-1.3zM208.6 190.5c.1-.8-1.1-.7-2.6.9-1.5 1.7-2.7 2.6-2.9 3.4-.2.8-1.9-.1-2.4.9s.4 3.3 1.4 2.6 1.1 0 1.8 0 3.6-2 4.3-3.1c.7-1-1.2-1.3-1.2-2-.1-.7 1.5-.7 2.3-1.1.8-.5-.7-.8-.7-1.6z"></path>
          </g>
          <g id="m-58" class="karte-kontinent" fill="#e3e3e3"><path d="M874.8 448.8c-.4-1.6-.8.6-1.2 1s-.6 1.6-.5 2.3c.1.8-1.2 1.6-1.9 1.5-.8-.1-2 .4-1.7 1.5.4 1.1-.6.9-.1 1.8s-1.1 1.9-2.4 2c-1.4.1-3.1 2.5-4.6 2.3s-2.9 1-4.2.8-.4 2.6-1.4 4.4-.5 3.8.4 5.9 1.6 3.9-.8 6.7c-2.3 2.8-2.1 5.9-1.3 7.9.9 1.9.9 4.9 2.1 6.2 1.3 1.4 4.8 2.5 5.8 1.5 1.1-1.1 2.2.1 3.4-1.3s3.1-8.9 4.8-13.8c1.7-5 3.8-11.5 3.6-12.8-.2-1.4 1.2-2.2.6-3.7s.2-3.2.9-2 1.7 1.2 1.9-.4c.3-1.6-1.2-4-1.3-6.2.2-2.4-1.8-4.5-2.1-5.6zM879.3 369c-.5 1.2-4.7 1.9-7.4 2-2.7 0-4.3.3-5.3 1.2-1 .9-3.4-.2-4.3.8-.9 1-4.3 1.9-5.5-.4-.5-1-1.1-1.5-1.7-1.9l-.6.6.6-.6c-.8-.5-1.6-.6-1.8-.7-.3-.3 1-1.3 1.9-1.5s.5-1.3-.3-1.9l-.4-.4c-.8-.8-2-2-3.5-3.9-1.9-2.3-4-3.6-5.2-3.6s-1.4-2-2.1-2.1c-.7-.1-2.4-3-2.4-4.8 0-1-.9-2.5-1.8-3.7-.7-.9-1.5-1.7-2-1.9-1.2-.5-1.9-2.6-1.9-5.2s-.6-4.6-.7-5.5c-.1-.8-1.4-2.6-2.9-3.4-.9-.5-1.5-1.2-1.7-2l-.1.1-.1.1c-1 1.4-.8 1.2-1.8 1.2s-.6 2.3-2.1 2.3c-1.6 0-1 1.6-2 1.6s-1.8-1-1.8-1h-4.3s-1-1-1.6-.6l-1.2.8h-20.1v-25.4c0-2.2-1-3.7 0-4.9 1-1.2-.4-1.8.4-4.1.1-.3.2-.5.3-.8l.2-.2c-.1-.1-.2-.1-.2-.2l-.1-.1c-.2-.7-1.6-.7-4.4-1.2-2.9-.4-1.8-2.4-5-2.6s-7.3 2.4-7.3 3.7c0 1.4 1.5 2.9.4 4.3s-3.4 1.6-5.1 0c-1.7-1.5-4.1-2.2-6.1-2.2s-3.4-1.3-3.3-2.3c.1-1.1-.5-1.6-2.1-1.9-1.7-.3-3.1-1.7-6-1.2-1.6.3-2.9-.2-3.8-.8-.8-.5-1.3-1.1-1.3-1.4 0-.6-.9-1.7-1.4-1.1s-2.3.1-2.6-1.1c-.2-1.2 1.2-1.2 2.6-2.3 1.4-1.1 1.6-3.3.1-4.4-1.5-1.2-.4-1.8.6-2.9s.1-1.7-.4-1.2-1.4.6-1.6-.5c-.1-1.2-3.3-1.4-4.5-.2-.4.4-1.1.5-1.8.5-1.3 0-2.7-.5-3.1-.6-.6-.2-2.3.3-3.4.3s-3.7 1.8-4.6.9c-.9-.8-9.8.6-12.4.7-2.5.1-3.6 2.7-5.1 2.7s-3.9 1.3-5.2 2.7c-.4.4-.8.5-1.2.6-1.2 0-2.6-.9-3.8-.9-1.7 0-4.3.8-5.6-.6s-2.1-1.9-3.1-1.4c-.9.4-2.6 5.3-3.6 6.7-1 1.4-3.7 2.4-5 2.4s-1.5 2-2.5 2.8-.6 2.1-1.9 3.1c-1.2 1-.6 3.9 0 5s-2.2 4.4-3.9 5.4-2.2 2.8-4.8 3.3c-1 .2-1.8.6-2.4 1.2-.9.9-1.4 2.1-1.8 3-.6 1.6-4.2 3.8-4.4 6-.1 2.2-3.6 5.6-5.8 10.3-.6 1.3-.9 2.3-1 3.1-.2 2.1 1.1 2.9 1.8 3.7 1 1.2-.8 3.2.7 5.3 1.5 2.1-.3 5.3-1.1 6.5-.4.6-.4 1.7-.6 2.9-.1.9-.3 1.9-.8 2.6-1.1 1.6.4 3.9 1.2 4.7.2.2.2.4.2.6 0 .5-.3 1.3-.4 2-.1.5 0 1.1.4 1.5.1.1.2.3.3.4.8 1 .9 1.6 2.6 2 1.9.5-.1 1.5 1.4 2.5.1.1.3.2.4.3 1.1.9 1 1.9 2.4 2.9 1.2.9 2.8 2.1 3.7 4 .2.4.4.8.5 1.2.8 2.7 1.5 3.2 2.6 4.1.5.4 1.5 1 2.6 1.8 1.4.9 3 1.9 4.3 2.9 2.4 1.8 6 4.2 7.7 4.8.2.1.5.1.8.1 2 0 5.5-1.4 9.7-2.1 2.6-.4 4.8-.1 6.4.4 1.3.4 2.2.8 2.5.9.6.1 4.7-1.8 6.4-2.6 1.3-.7 2.8-1.1 3.8-1.6.3-.1.5-.3.7-.4.4-.4 1.1-.6 1.8-.7.8-.2 1.6-.2 2.2-.2 1 0 1.7-1.4 2.2-.7.6.8 3.4.9 4.9 1.3 1.6.3 3.2 2.5 3.1 3.4 0 .8 1 2.4 1.8 2.8.7.4 2.5-.7 3.4-.7.8 0 3.8 0 4.4-.5.2-.2.3-.1.5 0 .4.3.9 1.1 1.4 1.8.7 1 2 .2 2.5.5s1.1 2.6.9 3.2c-.2.6-1 2.2-.6 2.9v.1c.5.7.2 1.8-.8 2.1-1 .3-1 1.3-.1 1.3.5 0 .4.4.1.9-.2.3-.4.5-.6.7-.4.4 1 1 1.3 1.7.2.6-1.9.4-1.8 1.4.1.9-.7 1.7-1.3 2.1s1.6 2.3 1.6 2.9.5 1.2 2.4 3c1.8 1.7.9 2.2 3.3 4.1l.3.3c1.4 1.1 2.2 2.3 2.8 3.5.6 1.3.9 2.5 1.2 3.6 0 .1.1.2.1.3.6 2.2 2.5 6 2.9 6.9s-.5 1.8-.5 3.5 1.9 4.8 2 6.9c.2 2.1-1.2 3.4-2.3 4.8-1.2 1.4-2.4 4.4-2.4 6.3s-1.8 3.7-1.7 4.6-.2 3.5-.4 4.4v.1c-.1 1 .8 2.9 1.9 4.3 1.1 1.5 2.5 4.3 3.2 6.7.7 2.4 2.8 5.1 3.4 6.9.5 1.8-.4 4.4.1 5.5.5 1.2.9 3.2 1.2 5.2s.4 6.2 2.2 8c.7.7 1.4 1.6 2 2.6 1.1 1.7 2 3.7 2.5 5.3.8 2.6 2.7 5 3.2 6.5s1 2.9 0 3.1c-1 .1-1 1 0 2.7 1.1 1.7.1 2.6 1.1 2.8.9.2.6.8 1.4.8.7 0 1.3.8 1.8 1.4.5.6 1.6.6 2.1-.1.5-.8 2.2-1 3.9-1s1.4-.7 3-1.2c1.7-.5 3.7-.5 5.1 0 1.4.5 2.5 0 3.2-.4s2 .7 2.1-.4c.1-1.1 1.5-.9 2.7-.9 1.3 0 4.3-2 6.8-4.3 2.4-2.3 6.5-7.3 7.8-9.6 1.4-2.3 3.6-4.2 4.7-5.3.8-.8 1.3-3.5 1.6-5.4.1-.7.1-1.2.2-1.6.1-1.6-1-.3-1.3-1.3s2.4-2.8 5.2-3.8 3.8-1.6 4.1-2.6 0-3.7.3-4.8c.4-1.1-.2-1.7-.6-4.1-.3-2.4-1.2-2.8-1.6-4.2-.4-1.4-.3-2.4.5-2.5.8 0 .8-.4 1.5-1.8.7-1.3 1.5-.8 2.8-1.8s1.4-2.2 3.5-3.8c2.1-1.6 4.4-1.6 6.4-2.8 2-1.2 5.5-6 5.2-6.9s-1-4.8-.8-6.4-.3-5.8-.3-7.9v-.1c-.1-1.9-2.2-1-2.3-3s-1.3-2-1.2-3.4c0-1.4.1-2.6-.3-2.7-.5-.1-.2-1.3.6-2.5s-1.4-1.3-1.8-2.8c-.1-.6.6-2.7 1.5-5 1.2-3.1 2.8-6.5 3.2-7.2.7-1.1 1.5-.9 2.1-1.7.6-.8.8.4 1.8-1.2.1-.1.2-.3.3-.4 1.3-1.7 4.8-5 7.3-7.7 2.8-2.9 4.2-3.6 5.7-4.4 1.6-.8 5.5-4.6 8.2-8 1.7-2.1 3.6-4.5 3.8-6.1s1.8-3.6 3-5.1 3.1-5.4 3.1-6.5c0-1.2 1-3.7 1.1-5.7.3-2.2-1.4-2.4-1.9-1.2zm-65.1 67.5c-.7.3-1.2-.4-1.8-1.4-.7-1.2-1.5-2.9-2.4-3.4-1.6-.9-2.3-11.9-1.5-12.2.1 0 .2.1.3.3.3.6.5 1.9.8 3.4.5 2.5 1.1 5.4 2 6.3 1.7 1.5 1.4 3.3 1.8 4.3.3 1.1 1.8 2.2.8 2.7zm8.5-19.7c-1.1.2-3.6-1-5.3-.3-1.2.5-.9-2.5 0-5 .6-1.7 1.5-3.3 2.5-3.6 1.3-.4 3-.2 4.4.1 1.3.3 2.2.8 2.2 1.2-.1.8-2.3.4-2.3 2.1v.3c-.1 1.5-.7 2.7-1.6 3.1-1.1.5 1.1 1.8.1 2.1zm5.4 38.8c-.9 1.2-3.3-2.6-3.6-5s1.4-3.6.4-5.8c-.9-1.9-1.4-3.7-.8-4.3.1-.1.3-.2.5-.2 1.1 0 2.4 4.2 2.4 6.7 0 .4-.1.8-.2 1.1-.6 1.6 1.3 5.4 1.4 7 0 .2-.1.4-.1.5z"></path></g>
          <g id="m-60" class="karte-kontinent" fill="#e3e3e3"><path d="M1192.1 556.2c-2 .2-4.9-1.8-5.6-1.6-.8.2 2.6 5.3 1.5 6.6-1 1.3 3 4.9 4.4 5.1 1.4.2.9-1.4 1.8-1.3.9.1.6-.9.7-1.7.1-.7 1.1.8 1.9.4.8-.4-.2-3.6.9-3.6 1.2 0 .2-3.8-.1-5-.3-1.3-3.6.9-5.5 1.1zM1159.1 535.9c.8.7 3.5.5 3.9-.5.5-1-4.6-.1-3.9.5z"></path><path d="M1215.8 506.7c.6-.4-.3-2.8-.8-2.4s-.5-3.7-.1-5.5.1-1.6-.8-.7-2-1.8-2.2-2.6c-.2-.7-1.3-2.8-2.6-2.5-1.2.3-.4-1.8-1.6-1.5-1.2.2-1.4-1.7-1.2-3.4.2-1.8-.8-.4-1.3-1.1s-1.1-.1-1.9.1c-.8.3-1-1.5-.8-2.3.2-.7-.1-1.6-1.2-2.4s-1.2-1.5-1.1-2.4-6.2-4.2-7.6-4.5-.2-1.8-.8-2.3c-.6-.5-.8-2.4-.8-4s-2-2.1-2-3.4c.1-1.3-.6-2.6-.4-4 .1-1.5-2.1-1.8-2.2-2.6-.1-.8-1.3-.1-2.6.1-1.2.1-1.2-1.6-1-3.3.1-1.7-.5-4.5-1.5-5.3s-1.1-3.6-1.6-4-2.2 1.5-2.1 2.4-.1 2-.8 2.6c-.7.6.4 2.8-.4 3.7-.9.8-.1 4-.3 5.8-.2 1.8-.1 3.8-1 5s-1 3.2-2.8 3.9c-1.8.7-4.1-.7-4-1.7.1-.9-1.9-1.5-2.9-1.4s-1.6-1.3-3.2-2.6c-1.6-1.2-2.8.3-3.4-1.2-.5-1.5-1-1.7-2.2-2.5s-.8-.8.3-1.6.9-1.8.3-2.8c-.6-.9.7-.7 2.1-1.5 1.5-.8 0-1.8 1.1-2.2 1.1-.4.4-1.4-.7-1.6-1.2-.2-.8 1.2-1.2 1.3-.4.1-.9-1.8-1.2-1.8-.4.1-1.8 2-2.5 1-.7-.9-4.8-1.8-6.4-2s-2.1-2.3-3.1-1.9c-.9.4.1 1 1.2 2.2s-3.7 2-5 1.5c-1.4-.4.2 1-.9.9-1.2-.1-1.4 2-2.3 3s-.3 1.8-1.3 2.4c-1 .7-1.1 1.4.1 2.8s-.6 1.5-1.7.4-2.2-1.1-2.1.1-1.3.7-1.1-.7-1.5-.7-1.8-1.5-1.8-2.1-2.8-2c-.9.1-.9 1.1-1.9 1.1-.9 0-1.2.5-1 1.5.1 1-1.5-.1-2.6.1-1.1.1 0 1.4-.6 1.5s-.6 1.1-1.5 1.1-.8 2.1-.7 3.2c.1 1.1-1.5-.5-2.4-.2s.2 1.2.5 2.5c.3 1.2-.5 1.2-1 1.7s-1.3-1.4-1.3-2.5-1.2-.1-2.6 1.3c-1.3 1.4.4 3.5-.1 3.9-.6.4-3.2 2.8-4.7 4.7-1.5 1.8-4.8.7-5.8 1.6s-2.1.2-3.1 1-2.9 2.3-3.1 1.4-2.8-.2-3.9.9c-1.1 1.2-2.8 2.2-4.1 2.3-1.2.1-1.2 2-1.8 2.4-.5.4-.4-1.5-.4-2s-1.2.9-1.7 2.4 1.2 2.1.1 3.7-2.1 3.2-.6 5.3c1.5 2 2.4 3.4 1.9 4.4s-1.6-2-2-1.7c-.4.4 1.4 1.7.9 2.3-.4.7-2-2.5-2.3-1.8s3.3 5.6 3.4 7.4 2.9 3.6 2.8 6.2 2.5 6.9 2.9 7.5c.4.7-1 2.4-.7 4.4s-.7 2.7-1.9 2.7-.5 2 .9 2.2c1.4.1.9 1.1 2.4 2.1s5.2.7 6.4.7c1.2 0 1.6-1.9 3.3-2 1.7-.1 1.5-.6 2.3-1.6s4.6-.7 8.5-.5 5.5-.9 6.1-2.6c.5-1.4 3.3-1.5 4.4-2.5s2-1.1 4.9-.9c2.8.1 5.5-1.4 7.3-2.1 1.8-.7 5.2-.4 6.9-.9 1.8-.4 2 2.2 4 2s2.8.6 3.9.5c1-.1.9.7 1.9.9s.9 1.1.2 2c-.7.9 1.5.9 2.9 2.8s.1 2.2.8 3.7c.7 1.5 1.2 1.1 2.7-.9s3.1-.7 3.3-2.5c.2-1.8 1.8-3.8 2.8-2.9 1 .9-.7 1.3-1.4 4.7-.7 3.4-1.8 1.6-2 2.6-.2.9 3.1 1.5 3.1-.3s.6-2.6 1.8-.9c1.2 1.6-.7 2.9-.4 3.7.3.7 1.7-.2 2.4-.1 1.3.1 3.1 3 2.8 4.5-.3 1.5-.7 3 1.8 4.2s1.5 1.5 3.4 1.5 5.6 1.5 6.6 2.3c1 .9 3.7-.7 4.2-2.4.5-1.8 2.4-.1 1.4.5s.5 2 .6 1c.1-.9.5-1.8.9-.7s1.7 1.1 2.2 2 1.1 1.5 1.1.8.3-1.4 1.5-1.8c1.2-.4 1.9-1.2 3.1-2.3s6.4-1.2 6.9-1.2.8-4.4 1.1-6.6c.3-2.3 2.2-2.6 2.5-5s2.8-6.9 3.5-7.1c.7-.2 1.9-.9 2-2.3.1-1.4 1.8-2.9 1.8-4.6 0-1.7.9-3.7.8-4.2s-.7-2.1.4-3.3c.5-1-1.1-2.4-.5-2.8z"></path><path d="M1142.7 449.5c-.1-.9-5.3.1-4.2 1 .6.6 4.3-.1 4.2-1zM1295.7 543.8c-.7 1.1-2-.3-3.2-.3s-2-.9-2-2-.3-2.7-1.5-2.6c-1.2.1.4 1.2-.1 1.8-.4.6-.7-.7-1.3-.7-.6 0-1.2-.8-1.2-2.3s-1.2-1.3-1.2-3-2.6-3-4.1-3 .3 2.6 1 3.5 2.3 1.7 2.3 2.3 1.1 2.3 2 2.6-.5 2.8-.5 4.9c0 2-1.6 1.7-2.7 3s2.8 2.6 4.4 3.9c1.6 1.3-1.4 4.5-.9 5.3.2.4 1.3.9 3 .4 1.7-.4 2.5-4.1 3.7-5.1s.4-2.6 1-3.4c.6-.8 1.4-.7 2.2-.7.8 0 .4-2 1.4-2s.5-1.4 1.1-2.9c.4-1.4-2.7-.8-3.4.3zM1283.8 555.6c-1-.7-1.5.3-2.6.8s-1.8-2.4-3.2-1.3c-1.4 1.1-.1 1.5-1.7 2.8s-.9 1.8-2.7 4.6c-1.8 2.8-8.1 4.5-9.1 6-.9 1.5-4.1 2.8-4.2 3.9-.1 1.2-2 2-.9 3.6.9 1.2 2 .4 3 1.3.9.9 1.9.1 2.3.9.4.8 3.6.8 6.1-1.4 2.4-2.2 1.2-3.2 2.2-3.8.9-.6 1.1-2.3 1.7-3.4.6-1.1 1-2.3 3.7-2.3s1.2-.5 1.1-1.8c-.1-1.2 2.2-1.5 2.2-3.1s3.2-3.1 2.6-4.3c-.7-1.1.6-1.8-.5-2.5zM1262.7 580.7c.5.1 2.2-.3 1.2-1.5-.9-1.1-2.4 1.2-1.2 1.5z"></path></g>
          <g id="m-56" class="karte-kontinent" fill="#e3e3e3"><path d="M1337 165.3c-.7.5-5 .3-4.1 1.3.8.9 4.5.4 6.1 1.4 1.7 1 4 .2 4-.6s-5.4-2.6-6-2.1zM1144.8 298.7c1.5-1.8-.7-1.2-.7-2.1 0-1-2.1-.8-2.2-1.7-.1-.9-1.6-.4-3 .7-1.5 1.1-1.9 1.3-1.4 2.3.6 1.1 1.5.1 1.8-1 .4-1.1 1.4 1.6.5 3.3-.9 1.8.1 4.2 1.3 4 1-.1 2.3-3.6 3.7-5.5zM1156.3 287.3c.1-.9-1.8-.4-4 .5s-3.6-1-4.9.3-3.4 3.5-5.1 3.8-.7 2.3 0 1.9c1.2-.6 3 0 3.6-.9s5.4-1.9 8.3-2 1.2 1.4 1.4 2.9c.2 1.6 2.6 1.3 3.9-.2s2.2-1.4 1.2-2.2c-1.1-.9.2-1.7 1-.5s3.2 1.3 4.2-.3 1.3.3 2.4.2c1.2-.1 1.8-3 1.9-1.9s1.9.8 3.1-.5.1-3.5.9-4.7 1.6-3.6.8-5.1c-.8-1.5 1.8-2.4 3-3.6 1.3-1.2-1.5-7-1.6-8.8s-3.2.7-4.2 1.2-1.7 3.5-.6 4.4-1.8 2.5-1.7 4.4c.1 1.9-1.8 1.9-2 3.2-.3 1.4-1.4 1.1-3 2.3-1.7 1.3-2.5-.2-2.1-1.1s-2.5.5-2.4 2.6-2.7 2.3-2 3.3c.6 1.1-2.2 1.7-2.1.8zM1173.6 258.1c-1.2.2.1 1.4-1.3 1.9-1.4.6-1.3 1.6-.6 1.9.7.4.2 1.7 0 2.5-.2.9.9.2 1.7-.7.8-.9 1.6.4 1.8-.4.2-1-2-1.5-1.9-2.4.1-1 1.6.3 2.7-.3s3.5-.1 5 1.2 1.9.8 2.1-.8c.3-1.6 2.5-2.2 4.8-2.2 2.2 0 2.4-1.1 1.8-1.6-.7-.5 3.7-3.3 3.6-4.1s-2.3 1.8-3 .9c-.7-.9-1.8.5-3.3.8s-6-3.5-7.2-5.3-3.1-.3-2.1 1-.2 1.7-.2 3.4c0 1.8-1.2 1.8-1 2.9.1 1.3-1.7 1.2-2.9 1.3z"></path><path d="M1150.9 292.8c-.4 1.1-1.6.6-3.1.9-1.6.3-1.6 4-.5 4.4.9.3 1.6.3 1.8-.9.3-1.2 1.9-1.6 2.8-1.1 1 .5 2.2-1.5 2.2-2.9.1-1.5-2.9-1.5-3.2-.4zM1073.5 347.8c.1-1.2 2-3 1.8-3.9-.2-.7-2.8-.3-4.1-.3-1.3 0-4.5 1.8-3.2 4.5 1.2 2.6 5.4.9 5.5-.3zM1107.6 336c1-.7 5-9.1 4.1-10.2-.9-1.2-4.8.7-5.8 4.6-1.1 3.9 1.4 5.8 1.7 5.6zM1120.2 378c-.8-1-2.7.8-2.4 1.6.3.9 3.2-.7 2.4-1.6zM1111.7 371.3c-1.5.3-1 4.7.2 4.5.5-.1 1.7 0 1.8-1 .1-1 1.2 1.8.3 2.6-.9.9-.9 3.3.5 3.6 1.4.3 3.9-4.4 3.5-5.3s-1.6.6-1.3-.6c.3-1.1-3.5-4.1-5-3.8zM1123.4 379.6c.9 1.5-1.7.3-1.8 1.8-.2 1.5-2 .3-1.9 1.5s-1.9 0-2.9-.7-2.3 1.8-3.8 2.2c-1.5.4-2.2 3.5-1.3 3.4 1.2-.1 1.8-1.7 2.9-1.6 1.2.1.8-1.2 2.4-.9 1.7.3.5 5.3 2.7 5.6 2.2.4 2.3 1.8 3.4 1.8s-.2-3.1-.1-4.2 2.3-.1 3.5-1.5-.8-5-.8-7.3c0-2.2-3.2-1.5-2.3-.1zM1104.6 356.4c-.3.9.1 4.5.9 4.5s1.4 1 .9 2.5c-.5 1.6 1.5 1.8 3.3 1.1 1.9-.7 1.2 1.3 3 1 1.9-.3 4.4 2 4 2.9s.1 3.7 1 2.9c.9-.8 2.2.2 1.4 1.5-.9 1.3 1.4 2.5 1.7 4.1.3 1.6 1.3.3 1.1-.9-.2-1.2.2-1.1 1.5-1.9 1.3-.9-.1-2.3-.9-4s-3.7-1.1-3.7-2.6c0-1.6-2.1-2-2.2-2.9s-2.9-1.8-4.6-.8-.5-1.8-1.7-3c-1.2-1.3.9-3.1 2.2-4.7 1.4-1.6-.4-4.2-.2-5.4.2-1.2.1-1.6-.6-1.2s-3.5-1.2-4.8-.4c-1.3.8-.1 7.2-.7 7.7-.6.4-1.4-1.1-1.6-.4zM1106.5 366.3c.3 1.4 1 4.2 3.1 3.5 2.1-.7-3.3-4.5-3.1-3.5zM1100.4 377.6c-1.4 1.8-4.6 4.7-4.2 5.5.6 1.1 4.2-4.3 5.9-5.5 1.8-1.3 1.5-2.3.9-3.5-.5-1.3-1.2 1.7-2.6 3.5zM1204.5 444.5c-.7-.3-2.4-1.5-2.3-2.2.1-.8-1.9-.7-3.3-1.6s-.9-3.7-2.3-4.4c-1.5-.7-2.5-2.8-.8-2.7 1.8.1 2-.9.7-2.1-1.4-1.3-6.3-1.8-6.5-3.6-.2-1.9-9.1-6.2-12.9-7.1-.7-.2-1.5-.4-2.4-.7-4.2-1.4-10.1-4-11.3-4-1.5.1-1.7 2.6-2.9 2.6-1.3 0-3 2.6-5.4 3.4-2.3.8-2.4-6.7-3.5-8.2s-6.9-2.6-7.5-1c-.6 1.7-2.6.8-2.8 2.1-.2 1.3.5.9 1.8.9s1.3 1 1.8 2.2c.6 1.3 4.1.4 5.3.3 1.2-.1 1.4 1.6-.3 1-1.7-.6-1.7.8-2.8.5-1.2-.3-2.7-.2-1.9.5.8.7 2 1.4 2 2.9 0 1.6 2.2 1.3 2.2 0s1.2.4 3.4 1 .7 1.5 2.9 1.6c2.2.1 7.3 1.8 9.2 3.2 1.9 1.5.6 2.4 1.9 3.8s1.7 2.9-.1 2.9-3.6 1.8-3.1 2.6c.5.9 6.2-.4 7.6-.4.9 0 1.8 1.6 3.5 2.7.9.6 2 1.1 3.5 1.2 4.3.2 3.2-2.2 4-2.2s1.1-1.4 1.9-2.4c.9-1.1 4.7-.2 6.9 1.6s4.9 6.9 7.2 6.4 4.8 1.4 6.9 1.3c2-.1.1-1.8-.6-2.1zM1213.3 423.5c-1.6-1-2.9-1.7-1 .2s.9 3.4 2 3.1c2-.5.6-2.3-1-3.3zM1210 427.2c0 .9-1.6 1.4-4 2.3-2.4 1-6.9-1.1-7 .3-.1.9 2.7 2.4 5.4 2.4s6.8-2.6 6.8-3.4 1.7-2.1 1-2.9c-.7-.7-2.2.4-2.2 1.3zM977.3 378.7c-.9.1-.7 1.8-1.2 3.1s-.4 2.5-.2 4.4 0 3.8 1.7 4.9c1.9 1.2 5-1.9 5.1-4.7 0-2.8-4.7-7.8-5.4-7.7zM1179.3 224.3c.8 1.8-1.1 11.1-.3 12.7.8 1.6-1.3 8.4-.6 9.2 1.2 1.4.4-1.8 2.1-2.1 1.8-.3 1.8 1.9 2.8 2.4 1.1.5.4-3.1-.6-2.9-1 .2-1.8-2.3-2.2-3.9-.5-1.6 1-3.4 1-5.4 0-1.9 2.4-1.9 3.9-.4s1.7.5 1.1-.6-2.4-8.9-3.5-11.7 1.6-5.5-.4-7c-1.9-1.5-1.2-4.5-2.1-3.9-1 .6 0 3.2-1.6 3.4s-.1 1.7-.7 3.6c-.6 2 .3 4.8 1.1 6.6zM885.8 118.8c1.6.1-.6 1.6.6 2.4 1.2.9 2 .6 1.3-1.1-.8-1.7 4.1.6 2.6 1.9s2.3 2.2 4.2 2.3c1.9.1 8.4 1.5 8.6 0 .1-1-2.4-1.9-4.5-4-2-2.1-3.5-5.6-1.2-7.1s.3-2.1 2.6-3.8c2.3-1.7 1-3.2 2.9-3.4 1.9-.2-.2-1.9 1.8-2.2 1.9-.3 2.3-2.4 2-3.2-.3-.8 2 .1 3.1-1.1s3.6-.4 4.4-2c.8-1.7 12-5.5 18.3-6.9 6.3-1.5 10.7-4.1 8.5-5.8-2.2-1.8-8.6.7-10.1 1.9-1.6 1.3-3.8.4-5.4 1.3-1.6.9-4.9 1.7-6.5.6-1.7-1.1-3.6 1.3-4.9 1.2-1.3-.1-2.7 1.3-4.1 1.2-1.4-.1-4.1 1.1-4.3 1.9s-2.5.6-2.5 1.6-1.9 1.8-2.8 1c-1-.9-2.1 1-.8 2.2 1.4 1.3-2.5 1.4-1.9 2.1.7.8-1.5 1.3-1 2.1.5.9-1.4 1.2-2.8 1.5-1.5.3-2.2 2.2-.4 2.3 1.8.1-1.1.4-.9 1.9.2 1.5-3 .5-2.9 1.5s-.5 1.7-2.3 1.7.9 1.2 1.1 2.2c.2 1.1-1.9.3-1.9 1.9-.1 1.7-3.6 0-4.1 2.1-.5 2 1.7 1.7 3.3 1.8zM878.8 133.6c1.3-.2-.8-1.6-2.9-2.1-2.1-.6-5.2 1.6-3.2 3.4 2.6 2.4 4.8-1.1 6.1-1.3zM1301.5 123.9c1.9 1 3.1-1.2 4.7-.1s5.4-.5 6.9-.8c1.6-.3.8-2.2-3.6-2.8-4.4-.6-10.1 2.7-8 3.7zM1163.4 96.8c1.4.7 1.8 1.4 2.6 2.1.8.8 3.7-.4 4.9-.8 1.2-.4 1.3 1.8 3.1.6 1.9-1.2 3.7-.6 5.8-.6s-.4-2.6-.3-3.8c.1-1.2 2.5-.4 1.8.6-.8 1 1.2 3.2 4.3 3 3.1-.2.8-2.1 2.3-2.8 1.6-.7 1.4-1.5-.9-2.8-2.2-1.4-5.2-.5-7.1-1.4-2.1-.9-4.6-1-4.7 1.2-.1 2.1-4.2-2.3-6.3-3-2.1-.7-8.7 6-5.5 7.7zM1183.8 109.2c1.8-.4-1.3-3.6-4.3-4.1s-5.8 2-5.5 2.5c.9 1.3 8 2 9.8 1.6zM1192.9 96.7c2.3.2 3.5 2.4 8 2.7 4.5.3 7.8-.6 7.9-1.6s-4.1-2.4-5.4-1.7c-1.3.8-2.2-1.3-3.8-.8-1.6.5-3.7.4-4.5-1-.7-1.2-3.4 2.3-2.2 2.4z"></path><path d="M1331.4 154.4c1.1.8 2.9.8 3.7.8.8 0 0-.8-.8-.9-.8-.1.1-.8.7-.3s1.7.8 1.8.2c.1-.6.7-1.8 1.7-1.8s1.4-.5.4-.9c-1-.3-4.1-2.3-4.9-3.5-.8-1.1-4.5-1.7-4.5-1.1 0 .6-1.2-.1-1.5-.8-.3-.6-4.2-.7-4.3-.1 0 .7.9.7 1.5 1.5s-.8 1.2-.5 2.1c.3.9-1.5-.4-2.1-.9s-.3-2.4-.1-3.4c.2-1-1.1-.8-1.3-1.8-.1-1-4.5-3-6.4-3.7-1.9-.8-4.2-1.5-4.9-2.4-.6-1-3.9-1.1-5.2-2.4-1.3-1.3-6.8-3.6-9.2-3.8-2.4-.1-1.9-1.5-3-1.3-1.2.2-6.2 0-7.7-.3-1.6-.2-1.9.9-3 .5s-6.9-2.5-7.6-1.8c-.7.8-.4 1.9-1.1 2.1-.7.2 0 1.2 1.6 2.6 1.6 1.5.6 2.6-.8 3.2-1.5.6-3.8-.6-4.5-1.7-.7-1.1-2.7-.6-3.2-2.1s.6-1.7 1.6-.9 2.3.1 2.4-.9c.1-1.1-2.6-1.8-4.1-1.7s-2.3 2.2-3.9 3.1c-1.6.9-7.6-.3-8.2-.9-.6-.6-9.1 0-9.9.6-.9.6-.2 2.9-.7 3.1-.4.2-.9-2.6-.9-3.2 0-.5-1-.9-2.5-.9s-2.4-.1-1.8-.7c.6-.6-.6-1.3.6-2.1s-2.1-3.4-5.4-4.7c-3.2-1.3-10.5-.5-12.5 0-1.9.6-5.8.4-7.7.4-1.9.1-.3-.7-.9-1.6-.5-.9-3.7-1.9-4.1-1.2-.4.7-1.3 0-1.3-.5s-3-1.6-4.1-1.4c-1.2.2-1.7-1.1-.3-1.1s3.7.3 2.7-1.3-9.8-2-10.6-1.8c-.8.3 0 1.4-1.9 3.2-1.9 1.8-3.7.6-3.5-.3s2.6-.7 2.6-1.6-3.2-.4-3.7-1.1.7-1.2 1.8-.9c1.2.3 3.2.5 3.3 0 .1-.5-1.2-.6-3.2-1-1.9-.3-6.7-1.5-9.1-1.2-2.5.2-3.6-.9-5-1s-1.4.7-.7 1.5c.6.8-1.3 1.3-2.9 1-1.6-.2-3.9.9-3 2 .9 1.2 1.8-.3 2.6.1s-2 1.2-.9 1.8c1.2.5 1 1.7 1 2.2 0 .6-1.9.9-2.7 0-.7-.9-1.8-.1-3.1-.2-1.4-.1-2.4.5-.9.7s1.9 1.1 0 1.3c-1.9.2-1.5-1.8-2.6-1.6-1.2.2-3.7-.9-5.1-.9s-2 1.1-3.8 1.3c-1.8.1-4.2-.9-5-1.9-.7-1-1-1.3-1.8-.1-.9 1.1-.9 3.3-1.8 3.4s-1.2 2-2.1 2.5-.9-.7-2-.6-4.7-3.4-4.9-4.4c-.2-1-2.4-3-3-3.4s.6-.6 1.3 0c.7.6 1.7.6 2.4.2.7-.4.6-2.2-.6-2.2-1.3 0-.8-1.1-.1-1.3.6-.2-1.5-2.1-.7-2.3.8-.2.4-1-.6-1.2-1.1-.1-2.2-1-2.2-1.6 0-.5-4.6-.7-4.4 0 .2.8-1.5.5-1.2-.1.2-.6-1.6-.4-3.7-1s-2.2-2.1-2.9-2.2c-.7-.1-.5 2.1-1.6 1.6s-2.2.4-1.7 1.7c.6 1.3.1 1.5 0 2.5s-.7.6-1.9.1c-1.3-.4-1.3 1.1-4 .4s-3.9 0-4.4-.8c-.5-.9-1.3-1-1.4-.2-.1.7-4.3.4-4.6-.6-.3-1.1.7-1.3 1.4-1.6.6-.3-.7-.7-3-.6s-3.7-1.2-6.1-.9c-2.3.2-7.5.7-8.3 1.1-.7.3.7 1.7-.4 1.8-1.1.1-.3-2.1-.5-3.2s-1.9-1.2-1.7-.4c.2.8-2.7 1.1-3.4.5-.7-.6-1.9-1.5-3.8-1.9-1.9-.5-4.2 1.6-3.7 2.1.5.6 1.9.1 2 .5.1.8-4 .5-4 1.2s-3.8 1.6-5 1.8c-3.2.4-3.9.4-5.4 1.7-1.5 1.3-.3-1.1.8-2.3 1.2-1.2 2.4-.7 3.1-1.6s1.8-.8 3.6-1.1c1.9-.3 1.8-1.4 2.6-1.8.9-.4 3-1.2 3.4-2.1s4.8-2.3 5.6-2.3c.9.1 1.1-1.8 1.6-1.8s3-1.1 4-1.6c1-.4 1.5-1.4 1.5-2s-1.3-.5-1.5-1.1c-.1-.6.6-.2 1.7-.6 1-.4 0-1.8-.8-1.5-.8.2.4-.7-.3-1.6-.7-.9-2.2.5-2.1-.4s-.1-2.1-.7-2.7-1.7 1-2.9.1-4.8-1.5-4.8-1.1-1.7-.6-2-.2-3.2.3-4 .1c-.9-.2-2.1.3-2.1 1.2 0 .9-3.5.5-4.1.4s2.4-2.6 2.4-3.1c0-.4-5.1.1-5.4-.4s-2.8-.6-3.9-.6 0-.3 1-.4 1.9-1 3.1-1.2c1.1-.2.9-.6.4-1.3-.5-.7-1.7-.3-2.8-.7-1.1-.3-2.5-.8-3.5-.9-1 0-2 .5-4.3.9s-2.5 2.2-3.7 2.7-3.2 2.7-2.2 2.9c1 .2.5.8.6 1.4s-.7.8-1.8.6c-1.1-.2-5.1-.1-5 .7s2.3 1.2 2.1 1.7c-.1.4-1.7 0-2.5-.5-.8-.4-2.5-.2-2.9.6-.3.8-1.7.6-2.1.4s-1.4.4-2.1.1c-.7-.2 1.5-1.3.9-1.9-.5-.5-2.9 0-3.1.8-.2.9-1.7-.6-2.2-.3-.5.3-1.1.6-2.1 1.1-1 .4-2.8-.5-3.2.3s1.9 1 2 1.4c0 .3-5.3.3-5.5.8-.1.5-1.9.5-4.1.6-2.2 0-1.3 1.1-3.1 1.5-1.8.3-2.5.4-3.1 1.3s-1.9 1-2.5.3-2.2.3-1.3.4 0 1-.5.8-2.1.9-1.2.8c.9-.1 1.3.6.9 1.2-.4.5-2.3-.6-2.8-.1s.9 1.1 1.8 1c.9-.1 1.4.5 1.5 1.1s-2-.4-2.5.1c-.4.5.3.8 1.3.9.9.1.2.4 1.1 1.2l.2.2c.5.6-.4.8-.4 1.4.1.6-.9.9-.9.3s-2.6-.8-3.1-.1c-.5.6-.9 1.1-1.6.5-.6-.6-2.5.1-4.9.2s-7.3.3-8.5.7c-1.2.4-2.2 2.1-1.1 3.3 1.1 1.1 0 1.6 0 2.3 0 .7 2.9 2.2 4.5 2.4 1.6.1 2.8 2 1.9 3.2-.9 1.2-3.7-.3-5.6-1.8-1.9-1.5-6.1-2-7.5-1.9s-.6-1.3-2.4-1.2c-1.8.1-3.3 1.7-2.1 1.7s2-.1 1.4.5.3.4 1.8 1.1c1.5.6-1.2 1.5-2.7.5s-3.1-.1-3.6.7c-.4.8 1.8 3 4.4 3.4 2.6.4 1.8 1.2 3 1.7 1.2.4.3.9-.5 1-.8 0-2.5-1.3-3.8-1.9-1.3-.7-4.9.3-5.6-.5-.7-.8.5-1.6-.2-2.1-.7-.6-.1-1.9.8-3.3s-.1-3.7-1.4-4.1c-1.3-.4-1.2.9-.9 1.3s.1 2.2-.8 3.5c-1 1.2-3.9 1.2-3.9 2s-2 1.5-1.3 2c.7.6 3.4 3.6 3.7 4.5.4.9-2.4 3.8-1.9 5.5.4 1.7-.4 2.5.1 3.3s1.8.1 2.5.4c.8.3 2-.5 3.8-.8s5.1 1.6 6.3 2.1c1.2.6.6 1.6 1.2 2.5.6 1-1.5 1-1.5 2.4 0 1.5 3.7 2.1 3.8 2.5s-2.6.1-3.7-.3-1.2-1.8-1.5-2.1.7-1.5.8-2.4-1.2-1.5-1.7-2.1c-.4-.6-1.2-1.6-2.1-1.4-.9.2-4.1.5-5.1 1.4s.1 3.4.7 4.6c.5 1.2-2.8 2.9-2.7 3.9s-1 1.4-2.5 2.2-3.1 1.4-3 2.6c.1 1.3-1.9.6-3 0-1-.6-2.3.3-3.8.3s-1.5-1.3-2.6-.8c-1.2.4-1.9-.5-1.6-1.4.3-.9 1.7-.2 1.8.4.1.6.9.3 1.9-.2s.5.7 1.9.8.6-.7 1.7-.6c1.1.1 1.1-.2.8-.8-.3-.5.8-.9 1.5-1.2.8-.3.4-1.4 1-1.8.6-.3.2-1 .9-1.1.7 0 1-1.1 1.6-1.1s1-1 .6-1.6c-.4-.5.2-2 .9-2.2.6-.2.7-.8.1-1.2-.6-.4-2.7-1.9-2.6-2.8.1-.9-.4-2.6-.1-3.4.3-.7.1-2.2 0-3.1s.5-1.8.8-3.5c.3-1.6-1.7-3.3-2.7-3.7-1-.4-.3-1.3 1.1-2.5 1.4-1.2 1.5-4.8 1.4-5.6-.1-.8-3-1.5-4.1-1.4s-5.3-.1-6.3-.3c-1-.2-1.4.9-1.9 1.8-.5 1-1.6 2.5-2.2 4.7-.6 2.2-3.2 2.9-4.4 3.4s-1.9 2.1-1.4 2.9 1.3.1 1.9.4c.5.3 0 2.3-.4 2.6-.3.3.6 1-.2 1.6-.8.5-1.6 1.7-1.1 2.2.5.6 2.9.9 3.9 1.5s.6 1.7 1.4 2.7c.8 1 1.6.4 2 1s-1.4 3.2-2 3.3-3.2-2.6-4-3.2c-.8-.6-3.8-1.5-5.3-2.3s-2.7-.7-4.4-1.8-3.1-1.7-6.1-1.6c-3 0-5-.7-6-.5-1 .1-.6-1-2.4-1.8-1.8-.8-3-1.9-4-1.3-1 .5-.6 2.5.9 2.7 1.6.2.8 1.1 2.4 1 1.7-.1 2.1.5 2.1 1.5s.8 2 1.5 2.7.3 1.8-1 1.8-2.8.2-2.2 1.1c.6.9-.4 1.2-1.7.7s-.5-1.4 0-1.9-1.2-1.2-2-1.5-4.1 2.1-5.1 2.5c-.9.4-3.2-.6-5.5 0s-2.2 2.4-3.1 2.2c-.9-.2-3.5.2-4.4-.3-1-.6-.2-.9.8-.9 1 .1 1.4-.3.8-1-.6-.7.8-1.8.7-2.2 0-.5-3.8.8-4.5 1.3-.6.5 0 1.5-.6 1.9-.7.3-.7-.6-1.5-.9-.8-.3-6.5 1-7.5 2.2-1.1 1.2-3.2 1.3-3.2 1.9 0 .7-2.6.6-3.6 1.1s-.3 2.5-.7 3.5c0 .1-.2.2-.3.3-.8 3.4-18.4 81.8-29.2 94.4.3 0 .6.1.6.2.3.6-3.4 2.1-4.1 2.4-.7.2 1.3 1.3 1.3 1.8 0 .6-2.1.7-1.9 1.9.2 1.2-.7 1.4-1.8 1.4s-1.4.7-.9.8.5 1.6 2.6 2.1 4.3 2.5 6.1 4.4c.3.3.5.5.9.7 1.9 1.1 4.7.8 5.1 2.8.4 2.3 1.8 1.4 1.3 3.4-.1.4-.4.8-.8 1.1l-.2.2.4.1c1.5.1 3 .1 3.5-.1 1.1-.5 1.5.7 2.3 1.9.9 1.2.3 1.4.9 2.8.6 1.5 2 .7 2.5 1.1.2.2.4.7.6 1.2h.3c1.4.3.5 1.8 2 2.5 1.4.7-.7.9 2.2 1.3s5.1-2.1 6.6-2.9c1.6-.8.9 2.5.7 3-.2.4 1.1 1.2 2.4 1.7.1 1.9 1.8 3.9 4 3.9 3 0 3.2 3.7 6.1 3.6 2.8-.1 6.6-.8 7.1-1.6.1-.2.1-.9.1-1.7 1 0 2.4-.1 2.7-.5.5-.7 2-2 2.9-2s1.9.4 2.3-.3c.5-.7 3.3-.5 3.8.1s2 1.1 2.4 1.1.6.9 1.6.8 2.8.3 2.8.9.7 1.2 1.5 1.2 1.5 2 2.2 1.9c.8-.1 2.3-.1 2.3.4 0 .4.1 2.7.6 4-.4.2-.8.7-.7 1.5.1 1.3-1.2 2.1-1.3 2.6s-.9 2.1-.4 2.9-.7 2.1 0 3.5.3 3.3.5 3.8c.3.5 2.7.3 3.3 1.7.5 1.4-3.3 3.9-3.4 4.7-.1.8 1.8 1.8 2.2 2.9.4 1.2 1.8 2.2 3.4 2.9 1.6.7.8 3.4 1.6 3.7.8.3 1.8 2.3.8 2.5-1 .1-2 .4-3 .9s-2.2 1.8-2.1 3.4v.3c2.6 0 5.5-.1 5.8-.4.5-.6 1.8-.9 2.5-.4s4 .7 5.3 0c1.6-.9 2.6 0 2.6.8s.8 1.1 1.5 1.8.2 1.5.7 2.2c.5.8 1.5.6 2.9 1.3.2.1.4.2.5.3 1 .8 1.4 2.2 3 2.8 1.9.7 3.6-1.2 3.6.2s-4.5 1.1-4.6 1.6c-.1.4 4.6 6.1 7 5.7s4.1-3 3.5-3.4c-.7-.4.4-2 1-1.7s.1 2.8.8 3.4.5 1.7 0 3c-.5 1.4.5 4 .6 5.5s1.2 3.7 1.5 5.9c.3 2.2 1.8 6.3 3.1 8.8s2.3 7.3 3.2 8.5 3.1 4.7 3.1 6.9 2.4 5.3 3.2 5.8c.8.6 2.6-.7 3.1-2 .4-1.4 2.9-1.9 3.1-3.1.1-1.2.4-2.1 1.3-2.2.9-.1.9-1.1.9-2.3 0-1.3.1-3.1 1-4.2s1-4.1.5-5.4c-.5-1.2-.2-2.9.2-4.1.5-1.2.3-2.6 1.2-2.7s2.3-.9 3.3-2.2c1-1.3 3.9-3.1 5-4s4.3-3.7 5.3-5.4c1-1.6 3.7-2.1 5-3.5 1.3-1.3.8-2 1-3.4s4.3-2 5.9-2c.3 0 .6 0 .8-.1.9-.2 1.3-.6 2.2-.6 1.1 0 2.5-.1 2.6-1.3.1-1.1 1.3-1.9 2-1.6s1.7 3.1 1.8 4.5c0 .5.2 1 .5 1.7.6 1.3 1.8 2.7 3.1 3.3 1.9.8 3.2 4.6 3.7 6.7.6 2 .2 4.1-.5 5.3-.7 1.2.2 1.2 1.4 1.8 1.1.6 2.4.8 3.2-.4.8-1.2 2.5-2 2.8-3.3.2-1.3 1 .6 1.7 1.3.7.7 1.2 2 1.3 3.6.1 1.7.3 5.8 1.7 7.1 1.4 1.3 1.7 4.2 1.3 5.2-.4 1 .7 2.8.4 3.9-.1.2-.1.5-.2.9-.3 1.4-.6 3.6-.9 4.8-.4 1.5-.7 2.8.2 2.9.9.1 2.6 2.1 4.3 4.2.4.5.7 1.1 1 1.6.8 1.7.9 3.6.9 5 .1 1.9 2.9 5.1 3.4 6.3.4 1.3 1.3 1.7 3.2 3 1.9 1.4 5.6 3.6 6.3 3.2.7-.3-1.1-3.6-2.2-4.7s-.1-4.1 0-6.3c0-2.2-2-1.9-2.5-3.5-.5-1.5-1.3-.6-1.6-1.6 0-.1-.1-.3-.3-.5-.7-.9-2.4-2.1-3.8-2.2-1.7-.1-2.4-2.6-2.3-3.7s-1.2-2.1-1.2-3.1-1-1-2.1-1.6c-1.1-.5.2-3.8.4-5.3.1-1.4 2.5-5.5 1.8-6.7-.7-1.3 2.4-2.2 2.8-.8.4 1.4.5 2.1 2.5 2 1.9-.1 1.9 1.4 3.5 1.9.1 0 .2.1.2.1 1.2.5.8 2.1.9 3s1.4.4 2 .3c.7 0-.4 1.1.1 1.8.6.7 2.3-.6 2.6.2.1.2.2.4.3.5.4.5.9.7 1.5 1.1.8.5-1 1.3-.9 2.9 0 1.6 1.2 1.9 1.7 1.3.4-.6 2.2-2 3-2.3.7-.2 0-1.3.8-1.3s.5-1.1.9-1.8c.3-.6.9-.4 2-.3 1.2 0 2.8-1.1 4.5-2.1 1.7-1.1 1.9-1.3 2.6-4.4.6-3.1-.7-6.7-.8-7.6 0-.9-2.3-5.2-3.1-5.2-.8 0-4.6-3.8-5.3-4.5-.7-.6-.5-1.7-1.5-2.5s-1.1-3-.8-4.5c.2-1.5 2.4-1.9 2.3-2.9 0-1 .2-1.9 1.3-1.9 1.1-.1 2.1-.9 2.6-1.7.1-.1.2-.2.3-.2.6-.3 1.8.2 2-.5.3-.9 1.4-.6 1.8.1s.9.9 1.9 0 1.5.9.9 1.4-.2 2 .7 2.9c.9.9 1.1-.5.9-1.4s1.6-1.8 4.6-2.8c3.1-1 6.4-3.3 6.4-3.7 0-.5 2.2.9 3.2.1s4.7-.9 5.7-.9.9-.9 1.9-1.7c1-.8.8-1.2 1.9-1.6 1.2-.3 1.9-1.4 1.9-2s2.2-.8 2.2-1.4 1.7-.8 1.7-1.6 1-.6 1.4-1.2-.3-2.3.4-2.5c.8-.2-.3-1.2-.4-1.6s1.5-.5 2.3-1.1c.8-.5 1.4-1.4 1.5-2.3s1.5-1.8 2.1-2 .9-1.6.7-2.7c-.2-1.1 1.1-.8.5-1.3-.6-.4.2-1.7 1.4-2 1.2-.3-.7-.9-1.4-.4-.6.5-1.3-1.4-1.9-.7-.6.7-2.2-.4-1.2-.7 1.1-.2 2.7-1.5 3.5-1.7.7-.2-1.1-1.9-2-1.8-.9 0-1.9-2.1-2.9-2.1s.7-.7 1.8-.1 2.4 1.1 2.9.6-1.9-2.4-2.8-3.1 0-1.6-.6-2c-.5-.4-1.7-2.9-2.1-4s-2.4-1.3-2.9-2 0-2.4 1.6-3.1c1.5-.6.9-1.9 1.6-1.8s1.3-.1 1.8-1.3c.5-1.1 1.5-.4 2-1s2.9-.5 3.7-1.1c.8-.6-.8-2.4-1.9-2.1s-2.4-.1-3.2-1.3c-.8-1.2-2.8 2.1-4.4 2.9-1.6.7-2.6-1.3-2-2.6.5-1.3-1.2-1.3-3.4-1.2-2.2.1-1.4-3.9 0-4.1 1.3-.2 3.3 1.2 4.1-1.2.8-2.4 2-.5 3.8-2.7 1.8-2.1 4-3.5 5.6-2.2s-1.7 3.3-2.2 4.5.5 1.6-.5 2.5.4 1.2 2.3 0 4.2-2.7 6.1-3.4c.5-.2 1-.2 1.6-.2 1.5.1 3.1 1 3.8 1.9.9 1.2-1.1 2.5-1.9 3.6-.9 1.1.5 1.1.6 2s1.2 1.6 1.7.8c.4-.8 1.2-.5 2.5-.5.4 0 .6.2.8.4.4.6.3 1.7 1 1.7 1 .1.9 1.7-.2 1.4-1.1-.2-1.1 1.5-.1 3s-1.8 3.2-1.1 4c.8.8.1 1.7.5 2.2.3.5 4.5-.2 6.3-2 1.8-1.9 2.3-1.6 3.2-1.4.9.2 1.9-.7 1.4-1.4s-1-2.5-.9-4.8c.1-1.3-1.7-3.7-3.4-5.5-1.2-1.4-2.5-2.5-2.9-2.7-1.1-.7-.4-2.6.9-2.9 1.4-.3 4.7-2.9 5.7-3.5s.3-2.5 1.2-4c.4-.8 2-2.3 3.7-3.5.3-.2.5-.4.8-.6 1.2-.9 2.3-1.5 2.7-1.5 1.2 0 2.4 2.1 3.8 2.1 1.4.1 7.5-4.1 7.6-4.8s3.7-4.1 5.4-5.9c1.7-1.8 3.9-4.4 4.8-6.5.5-1.3 2.9-3.7 3.5-4.7s1-1.1 2-3.4c1.1-2.3 1.1-8.3 1.4-8.7s.1-1.4.6-2 .2-1.5 1.2-2.3.8-1.6.5-2.2c-.2-.6 0-2-.2-2.5-.2-.4-.2-.6.4-1 .6-.3-.4-1.2-1.2-1.6-.8-.4-1.9-.7-2-1.7-.1-.9-1.5-2-2.6-1.9s-3.1-.6-2.8.1c.2.7-.1 1.3-.6 1.1-.5-.1-.8.3-1.4 1.3s-2.9 1.1-1.9.1c1-.9-.3-1-.1-1.9.2-1 1-1.9-.1-1.3-1.1.6-1.1 2.1-2 2.3s-.6-2.6-.4-3.4c.2-.7-1.7 0-3.7-.1s-1.5-1.6.1-2.4c1.7-.9 1.4-1.7 2.2-2 .8-.3 3-1.8 4.2-2.5 1.3-.7 1.5-1.6 1.8-2.4.3-.8 2.6-1.9 4.7-3.6 2.1-1.7 3.1-2.7 3.6-3.7s3.6-2.3 3.6-3.1 3.7-2.7 6.2-3.2 6.4.1 7.2.9c.7.7 1.3.4 1.7 0 .4-.5 1.4-.2 3.1 0s2-.8 3.2-.4c1.1.3 2 .5 2.7-.8s3.9-1.1 4.6-.5c.7.5 1.3 1.3 2.5.5s1.2 1 2.3 1.2c1.1.1.4 1.1-.6 1s-2.2.5-1.1 1.1 2.4-.6 3.3-.5 2.2.2 3.5-.6c1.2-.8 1.6.6 2.3 0 .8-.7 2.5-.9 3.4-.8.9 0 .1-1-1.3-1-1.5 0-1.4-.8-.2-2.8 1.2-2 3.4-3.1 4.8-4.3s2.4-.6 2.4-1.4c0-.8.7-3 1.8-3 1.1-.1 3.7.4 5.4-.5 1.7-.9 1.5.7 2.2.9s1.6-1.4 2.4-.9-1.2 1.7-1.6 3.1c-.4 1.4 1 .9 1.8 1.3s-1.1 1-.9 1.4 1.8.4 4-1.8c2.1-2.1 4.1-2.7 5.5-2.6 1.4.1.6-1.2.7-3.2s4.3-2.6 5.6-2c1.4.6 1.3 1.1-.1.8-1.3-.3-2.5.8-2.5 2.5.1 1.7-1.2 2.2-.5 2.8.6.6-.9.8-1 1.5 0 .7 0 1.2-1 1.5s-4.2.6-4.3 1.9c-.1 1.3-1.8 1.4-2.7 3-.8 1.6-4 2.5-6.1 5.6s-5.4 3.1-5.4 3.7c0 .6-2.3.5-3.1.6-.8.1.7 2-1.1 4-1.9 2-3.1 4.8-3 7.5 0 2.8 1 10.8 1.8 12.2s.3 4.9 1 5.6.4 1.9.9 2.4c.4.4 2.2-1.9 3.5-3 1.2-1 .8-1.4 1.7-1.9.8-.5.5-2.8.7-3.4.2-.6 1.8-.9 2.2-1.5.5-.6 1.8-.2 2.4-.5.7-.2-.1-1.8-.3-2.8-.2-.9 2-2.2 3.2-3s2.6.5 3.9-.7-.1-2.6-.6-3.3c-.5-.6 1.3-3.7 2.3-4s1.6.7 2.5-.1c1-.9-.9-2.3-1.6-2.2s-.9-2.5.7-3.7 1-1.5-.1-1.8-1.3.1-2.1.1-1.7-1.7-.4-3.4c1.3-1.7 2.5-1.5 2.8-2.9s2-3.4 2.5-4.1c.4-.7 2.2 0 2.9-.1.7-.1.4 1.3 1.3.6.8-.7 2.2-3.2 3.3-3.2 1.1 0 .4 1.8.7 2.9.3 1.1.9-.3 3.1-1.8 2.1-1.5 6.8-1.3 8.2-.6 1.4.7 1.7 2.3 2.4 2.1 1.2-.3.2-1.6 1.4-1.9 1.2-.3 3.2-1.6 4.8-2.7 1.6-1.1 1.1-.3 1.9-1.3s1.7-.6 1.9-1.3c.2-.7 2.5-1.8 5.6-2.5s7.1-2.7 6.9-3.4c-.2-.6 1.2-.9 1.3-.3.1.6 1.3.4 2.9.7s2.3 1 3.6-.3c1.3-1.3-.1-1.7-.1-2.7s-2.2-2-1.9-3c.3-1-1.7-3.7-2.2-3.2-.6.5-1.9-.4-1.9-1.2s-.1-1.7-1-1.1c-.9.6-2.5.3-2.8-.6-.3-.9 1.8-1.5 3.3-.9s1 1.2 1.8 1.6c.7.4 2.7.2 3.7-.2 1-.5 3.9-1.4 4.4-2.2s0-1.2.9-1.7c1-.5.2-1.5-.6-1.9s-.6-1.6.2-1.6c.9 0 .6-1 1.2-1.1.6 0 .7.4 1.8-.1s0 .8-.4 1.8c-.5.9 1 1.7 1.2 2.2.1.5 2.2.7 3.4.1 1.2-.6 4.9.8 5.2 1.7.2.9.8 2 2.3 2.8 1.6.8 3 .4 3.3 1.2.3.7.9 1.1 1.8.9.9-.2 1.4.8 2 .2s1 .3 1.8-.4-1.8-1.2-1.5-1.8.9.4 1.6.4-.2-1.5.3-1.6.1-3.1-.5-3.3c-1.4.6-.9-.4.2.4zM1022.8 63c0 1.1-3.1 2.1-2.2 2.9.8.7 1.5.5 2.4.7 1 .2 1.5 2.6 3.2 2.2 1.8-.4 6.5 1.9 9.3 1.9s3.1-2.3 2.2-2.4-.1-1.5 1.5-3.7-4.9-3.9-4.9-2.1-1.8-.4-2.4-1.5c-.6-1-9.1.9-9.1 2z"></path>
              <path d="M1017.6 60.3c1.8.8 1.2 1.3-.8 1.3-1.9 0-3.6.7-2.3 1.2 1 .4.9 1.5 2.9 1.9 2 .5 4.1-1.2 3.9-2.3-.2-1.2 7.1-2.2 9.1-2.7 1.9-.5-1.3-2.5.9-2.7 2.1-.2 1.3-1.2-1.4-1.6-2.6-.4-1.6-2.6-2.4-3.4-.9-.8-1.4 1-4.8 1.7s-5.1 1.6-3.7 2.2c1.4.7 0 2.3-1.5 2.2-1.5-.2-1.8 1.4.1 2.2zM1037.8 76.7c1.4.8 5.7-1 8.7-.9 2.9.1 11.1-2.2 11.4-3.8.3-1.6-3-1.5-4.3-2.8-1.3-1.4-4.1-.2-4.8 1-.7 1.2-1.5.1.4-1.8s-1.8-3.3-1.9-2.1c-.1 1.2-3.5.2-3.5 1.3s-1.3 1.6-1.2 2.6c.1 1.1-2.3-.6-2.4 1.9-.1 2.4-3.8 3.8-2.4 4.6zM945.7 110c1.3.2 4.7-.5 5.1-1.2.4-.7-1.4-1.5-3.6-1.5-2.3.1-2.6 2.5-1.5 2.7zM1015.1 53.3c.4-1.5-6.1-.8-4.4.6.6.5 4 .9 4.4-.6zM1079.9 101c-.4.8-2.5.8-1.9 1.6 1 1.3 5.8.6 5.9-1 .1-1.5-3.6-1.3-4-.6zM974.1 111.5c1.6.8 2.7.5 2.5-1.1-.2-1.6-3.8.4-2.5 1.1zM1176 102.8c0-1.5-5.3.5-3.1 1.3 1.1.3 3.1.2 3.1-1.3zM1029.4 406.2c-.2 1 .9 3.8 2 2.6 1.2-1.1-1.8-3.6-2-2.6zM1096.4 438.2c-.4.9-2 1.1-3 .4s-2.2.9-1.6 1.8c.3.4 2.3 1.9 4.8.8 2.4-1.2 4.1-.1 4.7-1.4s-4.5-2.5-4.9-1.6zM1094 415.7c1.8-1.1 2.1-3.1 1.9-5.1-.2-1.9 4.3-2 5-2.8s-1-2-2.2-2.6c-1.3-.6-.2-1.8-1.1-2.6-.9-.8-2.3-2.8-1.1-2.9 1.3-.1-.9-1.9.2-2.4.1-.1.3-.2.5-.2 1.2-.6 2.8-1.3 2-2-.9-.8 2.6-.1 3-1.3.4-1.2-1.4-2.1-2.2-1.9-.9.2-2.9.1-2.9-.8s-1.9-2.5-3-2.5c-1.2 0-2.5 2.3-2.6 3.3s-1.9.9-1.8 2.2c.1.5-.3.8-.7.9-.7.2-1.6.2-1.6.7 0 .9-1.5-.3-2.3-.4h-.1c-.8 0-2.5 2.7-2.9 4.6s-2.1 1.3-4.8 1.5c-2.6.2-1.6 2.9-2.1 4.2-.5 1.2-3.4-.9-4.9-1.2h-.4c-1.3.1-3.4 3.4-2.1 4.6 1.5 1.4 1.1 3.5 1.8 4.6.7 1.1 2.8 1.3 2.8 3.3s1.8 5.3 3.1 4.4c1.3-.9 2.2.4 2.6 1.3s3.4-.7 4.4-.5 4 .8 4.2 1.9c.2 1.2 2.9-.1 4.8-.8 1.8-.8.8-6.4 2.5-7.5zM1066 420.5c0-.9-2.5-.5-1.8.8.8 1.2 1.8.1 1.8-.8zM1124.8 422c.4 1.6 3.2 2.4 4 1.1.7-1.4-4.5-2.9-4-1.1zM1103.4 413.2c-.9.5-.9 3.5-2.6 6.3-1.8 2.8.6 3.2 2 3.3 1.5.1 1.3 2.2 1 3.5s-.9 4.3.4 3.8c1.6-.6 2.5-2.5 1.7-3.2-.9-.7-.8-5-.4-6 .4-1.1 3-.3 2.1 1.4-.9 1.7 1.7 1.5 1.7 3.3s1.5.9 3 .4c1.6-.5 1.3-1.4.2-2.5-1.1-1.2.8-2.8-.7-3.8s-2.4-2.4-1.1-2.7c1.4-.3 5.5-2.6 5-3.6s-6.2.2-6.7 1.9c-.5 1.8-4.6-.2-4.1-3.2s8.6-3.5 10.9-2.4 4.9-1.8 5.7-3.4c.9-1.7-1.8.3-3.5 1.4s-6-.1-8.3-.9c-2.2-.8-2.1 1.4-4 1.7-1.8.1-1.4 4.2-2.3 4.7zM1086.6 437.3c-.1-1.2-3.9-.1-5.7-.9-1.8-.8 2-1.5 3.3-2.2 1.3-.8-.8-1.1-3.9-.1s-6.7-2.1-6.8-.8c-.1 1.4-5.6-.6-7-1.6s-6.6-2.2-7.7-.4c-1.1 1.9-2 .2-1.6 1.9.3 1.2 1.6.5 2.4.5s.5 1.7 1.8 1.8c1.3.2 5.5 1.4 5.8.5.4-.9 4.3 0 6.2 1.6 1.9 1.6 6.4 1.7 8.2 1.4 1.8-.3 3.7 1.2 4.4.2.7-1 1.9 1.6 3.9.1 2-1.4-3.2-.8-3.3-2zM1034.1 414.6c-.2.5.9 2.4 1.6 1.8.7-.6-.9-3.4-1.6-1.8zM1117.1 438.4c-2.6-.4-4.4 1.6-7 .6s-6.6 0-6.1.9c.4.8 2.7.9 5.4 1 2.6.1 5-1.4 6.7-1.5 1.7-.1 3.6-.6 1-1zM1132.7 409.8c2.1.2 1.2-1.1 1.2-2.4 0-1.4-1.9-.2-1.9-.9s-.7-3.4-2.2-1.3c-1.6 2.1.5 7.4 1.8 7.2 1-.2-1-2.8 1.1-2.6zM1058.4 425.4c-.1-1.4.5-2.7.5-3.4 0-.7.5-1 1.4-.8s.8-1.9.1-2c-.7-.2-1.1-2.6-2.7-2.6-1.7 0-1.4 1.4-.4 1.5s1.6.9 1.3 1.6c-.3.7-.7-.7-2-.6-1.4.1-.5-1.7-2-1.8-1.6-.1-1.3-2.9-2.9-2.9-1.7 0-1.8-1.4-.7-2.3 1.1-1-1.7-1.9-1.7-3 0-1.2-1.8-.5-1.8-1.5s-.8-.5-1.7-1.7c-.9-1.2-1.3-.1-2-1-.8-.9-1.8-1.4-2.5-1.1s-2.2-1.3-2.8-2.8c-.5-1.2-5-3.3-5.5-5-.6-1.7-2.1-2.3-4.8-2.2-2.6.1-3.7-2.6-4.3-1.3-.8 1.7 2.8 5.4 4.5 6.3 1.7 1 2.5 4.5 4.5 4.7 1.9.2 2.1 6.3 3.6 6.6 1.5.3 4.6 5.1 5.1 7.6s3.7 3.8 4.8 5.6c1.1 1.9 5.4 4.4 5.9 5.2.6.8 1.2 2.5 1.7 1.7.5-.9 2.5 0 3.5.1.7 0 1-3.6.9-4.9zM1137.9 420.6c-2.5-.8-6.9-.1-6.4 1.2.4 1.2 2.4.7 4.5.7 2 0 3.1 1.5 4.2 1.5 1-.1.2-2.6-2.3-3.4zM1101.3 443c.6.9 2.2.9 2.9 1.5.7.6 3.1 1.9 3.1.2s-6.6-2.7-6-1.7zM1124.2 438.8c-1.3-.1-1.8 1-2.8 1.8-.1.1-.2.1-.3.2-.3.2-.6.4-1.1.5-.1 0-.3.1-.4.1h-.1c-.4 0-.7.1-1.1.3-1.9.8-2.9 3-1.6 3.7s3.1-1.1 4.1-2.4c.2-.2.3-.4.4-.6l.3-.3c.1-.1.2-.1.3-.2 1.9-1.1 6.7-2.5 6.9-3.2.5-.8-2.7.2-4.6.1z"></path></g>
          <g id="m-59" class="karte-kontinent" fill="#e3e3e3"><path d="M825.4 286c-.7.6-2.5 1.3-4.7 1.4s-2.9 1.5-1.5 2.3c1.8 1 4.6-.5 4.5-1s.6-1.7 1.8-2.1c.2-.1.3-.2.4-.3l-.1-.6c-.1.2-.2.2-.4.3zM744.4 264.1c1.4-.2 1.2-6.1.7-6.1s-.7.9-2 1.8c-1.4.7 0 4.5 1.3 4.3zM722.1 272c1.5 1 3.1.7 2.9-1-.3-1.7-3.6.5-2.9 1zM797 287.4c-.8-.4-4.3.3-5.2-.6s-2.8.7-2 .8c1.2.2 2.9 1.2 4.8 1.3 1.9.1 4.5-.9 4.4-1.4 0-.4-1.2.3-2-.1zM688.6 219.8c1.7-1.6 2.5-.1 4-.8 1.5-.8.6-6.5 0-7.6-.1-.2-.1-.4-.1-.5.2-.7 1.7-.8 2.5-1.6 1-1-.5-2.4-1.8-3.7-1.2-1.2-2.8.7-4.1.7-.1 0-.3 0-.4-.1-1.4-.5-3.3-.5-3.3.7s1.5.8 1.6 1.6c0 .8-1.6.6-2.7 1.4-1.1.8-2.3-.5-3.5 0-1.2.6 1.3 1.3.4 2.5s0 1.2 1.5 2.3c1.5 1.2-.9 1.5-.9 2.8s-1.8 1.3-2.2 2.1c-.4.9 1.6 2.6 3.3 2.6 1.2-.1 4-.9 5.7-2.4z"></path><path d="M694.4 196.6c1.3.1-1 1.1-1.2 2.4-.2 1.4 1.7.8 1.8 1.8s-2.7 1.1-2.7 2 1.6-.4 2.3-.8c.7-.4-.4 2.3 1.4 2 1.8-.3 1.3-2.7 1.9-2.6.6.1-.3 1.3.2 2.3s-1.3 2.6-1.2 3.3 3.6.7 4.7-.4c1.1-1.2 1.7.1.9 1s-.4 1.7.5 2c1 .3 1.3.4.9 1.2-.4.8-.1 2.2-.3 3-.2.7-3.3.6-3.4.1-.1-.5-1.4-.1-1 .5.3.7-1.1 1.4-1 2s1.9.5 1.9 1.3-1.3 1.7-3.2 2.2.4 2 1.3 1.4c.9-.6.7.4 1.9.4 1.3 0 2 1 3.5.5 1.4-.5 1.4 0 .3.8-1.1.8-2.7 0-3.6.5-1 .5-4.9 4.2-4.2 5.2.4.5 1-.8 2.4-1.4 1.4-.6 1.7.4 2.4.5.8.1.8-1.6 1.5-1.5.6.1 1.2-.5 2.4-.3s2-.2 2.6-.7 2.1 1 2.6.6c.5-.3 2.6-.7 3.7-.7 1.1.1 3.8-1.2 4.6-1.9.7-.7-.4-.8-1.4-.7s-.8-1 .2-1.9c1-1 2.6-1.7 2.7-3.2.1-1.5-3.1-2.5-3.5-1.7-.3.8-1.1.7-1.6-.2s.5-1.7 0-1.8-1.2-1.3-1.1-1.8c.1-.5-.8-3.6-2.5-4s-1.9-2.7-2.2-4-1.4-.6-2.2-1.7c-.8-1.1-2.2-.5-3-.5-.7 0 0-1.4 1.2-2.1 1.2-.8 2.5-4.9 2.5-5.7s-5.1-.8-6.1-.3-1.9-.7-1.1-1.1c.8-.3 2.6-2 2.5-2.7s1.2-1.3.5-1.9c-.7-.6-.8.8-1.5 1.3-.6.5-2 .3-3.6 0-1.5-.3-2.1 1.8-2 2.8 0 .9-1.8 1.5-1.5 2.2.3.8-.3 1.4-.8.9-.5-.4-1-1.5-2-.7-.8.9 1.3 1.9 2.6 2.1zM753.8 66.9c1.4.3-1.5 1.8-1.9 3.2-.4 1.4 2.2 2.6 3.3 3.6s3.7.9 4.7.3c.9-.6.7-2.6 1.9-2.6 1.2.1.6-1.1 1.6-1.5s1.2.9.3 2c-.9 1 1.5.9 2.8-.3 1.3-1.2 1.6-.1 1.3 1.1s-3 .5-3.9 1.8-3.9.3-5.2 1.8 1.2 1.5 3 1.2c1.8-.4 5.3-.6 6.6-.3 1.3.3-.8.7-3 .7s-2.9.7-2.8 1.2c.1.6-3.1-.7-3.2.7-.1 1.3 2.9 1.8 3.3 2.6.4.8 2.4.1 3.2.4s-1.3.9-1.6 1.2c-.3.4 2.3.9 2.7 1.6s2.3.4 2.2-.7c-.1-1.3 1.6-5.1 3.8-5.9s.9-1.5 1.2-2.8c.3-1.2 2-.2 1.5-1.2s-.2-1.5 1.2-2.8 2.3-.4 3.9-1.2c1.7-.8 2.5.6.7.7-1.6.1-.8 2 .5 2.5s.1.9 1.2 1.2c1 .2.7 1.8-.6 3.1-1.3 1.4.4 1.7 3.1.7 2.8-1 1 .9 1.8 1.7.8.8 3-.6 4.2-2s2.9-1.2 2.8-1.9c-.1-.8-1.3-1-2.3-.6s-3.6.1-2.7-.7c.9-.8.7-1.5-.6-1.3-1.3.1-3.7-.5-2.6-.9s-.8-1.9-1.8-1.8-.7-1.1-.7-1.9c.1-.8-2.9-1.2-2.3-1.5.6-.3-1.2-.9-1.7-.4-.4.6-1.3.4-1.3-.4 0-.9-2.2-.7-3.1-.6-.9.1-.4-1.9-1.3-2.6-.9-.7-2 1.3-2.7 1.2-.7-.1.5-1.5.9-2.3.4-.9-3.1-2-3.4-1.2-.4.9-1-1.3-1.8-1.5-.7-.2-.1 1.5-.8 1.6s-1.5.8-.4 1.5 2.2 4.4 2 5c-.1.6-3.5-2.6-3.6-4.2-.1-1.5-1.8-2.8-2.3-1.7-.4 1.1-1.7 1.5-1.3 2.6s-.9 1.5-.9.6-1.8-1.9-2.5-2 1.7-.5 2.8-1-.9-1.2-1.9-.7c-.9.6-2.2-.4-2.8.4-.6.8-1.3 0-2.3-.2s-1.9 1.5-2.6 1.2c-.7-.3-1.2 1.5 0 3.3 1.2 2.1 2-.3 3.4 0zM774.1 61c.7.5-1.1.5-.4 1.2 2.2 2.2 10.8-.3 12 .4s-7.2 1.5-6.9 2.3c.4.9 7.2 1.6 7.7 1s1.7 1.2 3.9 1.3c2.3.1 2-.9 3.7-.9 1.7-.1 4.2-.9 4.2-1.8.1-.9 5-2.1 4.5-3.7-.4-1.6-5.2-.5-6.5-1.2s-4.4-1.5-4.9-.5-1.4 1.3-1.8.9c-.4-.4.2-2.8-1.9-2.1-2.1.7-.1 2.9-.6 3.2-.4.3-2.5-.4-2.6-1.5-.1-1-2.4 1.1-2.7-.1-.3-1.2-3-2.1-3.6-2s.6.9.2 1.5c-.4.6-1.8-.6-2.4-.7-.6-.1.4 1.2.1 1.8-.3.6-1.5-1.8-2.5-1.8s-.7 1.2-1.4 1.2c-.6.1 1.2.9 1.9 1.5z"></path><path d="M864.7 146.5c-1.2.1-1.7-2.3-2.6-2.5-1-.1-.4-1.5-.1-2.1.3-.6 1.1-.1 2.3-.9 1.2-.8 2.4.4 2.9-.1s-1.9-1.9-2-3.2c-.1-1.2-2.7-1.6-4.2-1.2-1.5.4-3.1 0-4.1-.4-1-.5-.9.9.6 1.3s.7 1.6 1 2.3c.2.7-.4 2.4-1.3 3.7-.9 1.3-.2 1.2 1.1 1.2s1.2 1.7 1.2 2.9c0 1.3-1 1.6-1 2.5s-1.1-.4-1.4 0c-.3.4-.8-.2-1-1s-2.2-.3-3.3-.6-1.6.2-2.1 1-2.1 1.2-2.9 1.3c-.9.1-2.3 1.7-3.2 2.3s-1 1.7.2 2.9 1.5 1.9 1.4 2.6c-.1.6-3.4.4-3.9-.2-.5-.7-2.7-.9-3.4-.8-.7.1-2.7-2.2-3.7-2.2s-1.7 1.2-2 1.8.5.8 1 1.9c.5 1.1 2.3 1.1 3.2 1.1s.6 1.4.3 2-2 1-2.5.4-2.5 0-2.6-.8c0-.8-1.5-1.9-3-1.7s-1.8-.7-1.7-1.9-.8-1.8-.8-2.4c0-.5-.7-1.6.1-2.1s.2-1.4.2-2.1c0-.7-1.3-1.9-2.5-1.9s-1-1.2-2-1.5c-1-.2-3.1-1.9-3.2-2.7-.1-.7-1.7-.8-1.2-1.1.5-.2 1.8.1 2.6 1 .9.9 2.3 1.7 4.6 1.9 2.3.3 3.2 1.4 5.7 1.8 2.5.4 4 .7 7.7 1.3 3.7.5 8.5-3.2 9.5-4.2s-.3-3.1-.3-3.9c0-.8-1.7-.9-1.9-1.5s-1.3-1.7-2.7-1.7-1.6-1.6-2.7-1.5c-1.1.1-1.9-.5-4.8-2.4s-7-3.4-7.7-3c-.7.3-1.2.5-1.7-.2s-1.6-.6-2.4 0c-.8.6-1.6-.5-3-.2-1.5.3-2.2-.6-1.9-1.1.4-.4 2.5 0 2.4-.8-.1-.7-.9 0-2.2-.9s-2-.3-2.3.4-1.3.5-2-.1l-.2-.2c-.8-.5-2.3-.6-2.5.1-.2.7-1.5.6-1.5-.1s-2-1.3-2.1-1.7c-.1-.3.9-.3 1.7.1s1.3.1 2.2-.7c.9-.8 2.1-.1 2.2-.9.1-.7-1.4-1.2-1.7-1.7-.3-.4-1.4-1-2.5-.8s-1.1-.2-1.8-.8c-.6-.6-2.6.4-2.6 1.8s-1.2 1-.8.3-.6-1.6.4-1.9c1-.2.4-1.7-1.4-1.8-1.8-.1-2.5 1.4-2 1.8.4.5-1.2 2.6-1.9 2.6s.1-1.8.1-2.8c-.1-1-.7-.4-2.1 1.1-1.4 1.6-2.4 3-3.2 3.1s-.7-1.4.6-2.1 1.3-2.5 2.1-2.5.8-1-.4-1.3-1.4 1.1-1.8 1.5c-.4.4-2.4-.7-2.3-.3 0 .4-1.1.5-.6 1.3.5.7-.2 1.4-.7.5s-1.7-.2-2.3.8-1.4.9-.8 1.3c.6.3.5 1.7-.3 1.9-.9.2-.5-2.4-1.2-2.1-.7.2-.2-1.3.7-1.3s1.9-1.4 1.8-1.7c-.2-.6-1.2-.4-1.2.3s-1.5.6-2.7.5c-1.2 0-1.2 1.4.2 2.2 1.4.8-.2 1.3-.9.7-.7-.6-1.8-.3-2.5 0s1.8 1.2 1.8 1.7c.1.4-1.3-.5-1.6-.2s-1.7-.2-1.8-1.1c-.1-.8-2.3.3-1.1.6 1.2.3.8 1.1.8 2.1s-1.4.2-1.1-.7c.3-.9-.9-.7-1.8-.1-1 .6.1-1.1-.2-1.9-.4-.8-1.3 0-2.3.2s-1.6.2-.9.9c.6.7.5 1.7-.3 1.5-.8-.1-1.2 0-1.1.8.1.8-1.1.8-1.2.1-.1-.7-1.8-.5-2.2.3-.5.8-1.9 1.4-1.7 2.2.1.9 1.2-.4 2.1-.1.9.3 0 .7.4 1.2.5.4.4 1.5-.3.9s-1.6-.8-1.7.2c-.1 1-.9-.1-1.5-.9-.6-.7-1.2 1.4-1.8.9s1.3-2 .8-2.7-.8.4-1.9 1.6c-1.1 1.1-2.6 1.1-2.1 1.6s-1.1.8-1.4 1.8c-.3.9-2.6 1.3-4 2.2-1.5 1 .3 1 1.1.1s1.1-.4 2.4-1.2c1.3-.8 2.7-1.5 3.2-1.2s1.3.6 1.9-.3c.6-.9 1.4-.7 2-.1.6.5-1.1 1-.3 1.8s-.9 1.2-.9.5-1-1.3-1.3-.6c-.3.6-.9 1.3-1.6 1.4-.6 0-1.3 1.2-1.3 2.4s-1.1 0-1.2 1c-.1 1-1.7 2.8-3 4.1-1.4 1.3-.1 1.6-.5 2.4-.4.8-2 .1-2.6.4-.5.3.3 2.4-.4 3s0 1.5 0 2.2-1.9-.4-2 .3-1.8.5-2.3.7 1 1.4 1.9 2c.9.7-.8 1.2-1 .4s-1.4.5-2.9 1.2-.9 2-2 2.1c-1.2 0-.8 1.9-1.6 2.5s-.6-1.4-1.8-1.4-1.1.8-.4 1.8c.7 1-1.1.2-1.8 1.1-.7.9-2.6.4-3.2 1.2-.5.7 1.5.7 1.8 1.3s-1.8.3-2.8 0c-1.1-.2-.8 1.4-1.8 1.2s-2.2.8-1.5 1.5-.5.8-1.2.3c-.7-.4-1.3.6-1.5 1.5-.2.8 1.3 1.3 1.3 1.7s-1.3 1-.4 1.2c.9.2.2 1-.3 1.2-.6.2-.6.8 0 1.6.6.7-1 .9-.2 2s1.4-.3 1.7.5 1.3.1 2.3-.9c1.1-1 1.5 1.1.6 1-.9 0-1.9.5-1.7 1.4s-1.4.7-1.3-.3c0-1.1-1.8.2-1.1 1s-.2 1.2-.2 1.9 1.3.6 1.8-.2 1.4-.6 1.8.2c.3.8-.8.2-.8 1.3s-.7.1-1.4 1c-.6.9 2.5 2.5 3.5 2.7s1.9 1.3 3.8 1c1.9-.3 5.6-3.9 6.1-4.5s1.6.1 2.3-.5.3-2.1.8-2.4c.5-.3.8 1.6 1.3 1.8.4.2.8.5.8 1.5v.3c0 1.2.4 2.4 1.5 3.3 1.1.9.2 2.2 1.2 3.4.9 1.2.6 2.1 1.7 3 1 .9 1.1 1.4.7 2.5-.4 1.1.9.8.9 1.5.1.7-.3 2.1.1 2.8.3.7 1 0 2.6 0s1.2-1 1.2-1.9.8-.5 1-1.1 1.6-.7 2.7-.2c1.1.5 1.7-.3 1.9-1.5s.8.2 1.2.5c.3.2 1.4-1.8 1.8-3.1.5-1.3 0-1.1-1.2.2-1.1 1.3-.5-1.3 0-2.3.4-1 .4-4 .5-4.7s.4-1.7 1.8-2c1.4-.3 3.3-2 3-2.8-.3-.7 1.9-1.9 1.9-2.7 0-.7-2.3-3-3.1-3.5s-2.5-.1-2.3-.6c.1-.5-.2-2.6-.4-3.7s1.2-2.2 1.2-3.2 0-2.2.9-2.5.3-1.2 1.6-1.5c1.2-.3 1-2 2.3-2.6 1.3-.5 1.4-1 3.1-1.8 1.7-.8 4.6-2.8 5.1-3.8s-1.8-2.1-.3-3.2.2-2.3 1.3-2.7c1-.4 1.4-.9 2.1-1.7.7-.8 1.7 0 3.5-.3.6-.1 1.2-.1 1.8.1 1 .2 1.8.7 2.6 1.1 1.3.6 1.1 1.5 1.2 2.5 0 1 .1 1.6-.6 1.2-.7-.4-1.4 0-1.8 1.5-.4 1.5-2.2 3.2-3.4 3.3-1.1.1-1 1.3-1.9 1.5s-1.8.8-1.8 1.8-1.4 1.1-2.3 1.1c-.9 0-.7 1.7-1.5 2.1-.7.4-.6 1 .1 1.9.7.9.1 1.7.3 2.3s1.3 2.1.6 3.7c-.7 1.6-1.5 3.6-.9 3.4.6-.2 2.1 1.3 3.1 1.2s1.1 1.4 2 1.1c.9-.3.9.9 3.6.8 2.7-.1 8.1-2.3 10.2-2.3 1.2 0 2.2-.1 3-.3.6-.1 1-.3 1.4-.5.8-.4 1.3 1.5 2.1 2.1s2.3 0 2.9.6c.5.6-.4.6-1.6.4-1.1-.2-1.4.5-3.2 1.1-.4.1-.6.2-.8.4-.5.3-.5.6-.8.9-.1.1-.4.2-.7.3-1.4.4-4.5-1-6.2-.6-1.8.3-5.3.3-6.1 1.2s-2.9 1.1-2 1.9c.9.8 0 1.2.7 2.1.7.9 1 1.3 1.9 1.1s1.7.3.7 1.3v.1c-.9 1-.3 1.7-.3 3.3s-1.8 1.3-2.7 1.3-2.4-2.8-2.9-3.4c-.5-.6-2 .8-3.2 1.5-1.1.7-.5 2-1.3 2.6s-1.3 1.7-.5 3.1c0 .1.1.1.1.2.7 1.4.4 2.7-.3 3.6-.5.6-.2.7.2.9.2.1.4.3.5.5.4.8-1.8.9-1.1 1.8s-1.6 1-1.6 0-2.3-.5-2.2.1c0 .2 0 .5-.2.8-.3.5-.9.9-1.8.9-1.4 0-1.5-1.4-1.6-2 0-.6-5.7.5-7.2 2s-5 .9-5.1 1.8c-.1.6-.6.9-.9.7-.1-.1-.2-.2-.3-.4-.1-.8-.7-1.1-1.9-1.1-1.3 0 .8-1.3.3-1.9-.5-.6-1.8 1.2-2.9.8-1.2-.4-2.7 1.4-3.7 2.1-1 .8-2.5-.1-1.7-1.3.8-1.1 0-1-1.2-.6s-2.6-.1-2.4-1.2c0-.3 0-.5-.2-.8-.4-.7-1.4-1.3-1.3-1.8.1-.7 1-.2 1.7.3.7.6 2.2.7 2.3 0 .1-.4-.2-2.5-1.2-2-.9.5-1.2.3-1.5-.2s.7-1.3.9-2c.2-.8 1.8-.5 2.1-1.1.2-.6-1.1-1.3-1.6-1.6-.5-.2-.7-1.8-.1-2.3.6-.5.8-2.3.3-2.8s-2.2 0-2.4 1.3c-.1 1.3-1.6.7-1.9 1-.4.3.8.9.1 1.5-.6.6-.9-.9-1.9-1s-1.1 1.6-1.7 2.4c-.5.8-.2 2.6 0 3.7.2 1.2 1.6 1.9 1.3 2.9-.2.5.2 1 .5 1.5.4.6.8 1.1.6 1.6-.4.8.2 1.6.9 2.8.6 1.2-1.4.5-1.4 1.3s-1.8 0-2.4-.3c-.6-.3-2.5-.1-2.5.4 0 .2 0 .5-.1.7-.1.3-.4.6-.8.3-.7-.4-1.8-.2-3.3.1s-1.9 1.7-1.4 2.3-1.4.9-1.6.1c-.1-.8-1.6-.2-1.5.8s-1.6 1.4-1.5 2.7-1.6 2.4-2.6 3.1c-.2.1-.3.2-.5.3-.7.4-1.5.8-2.2.9-.2.1-.5.1-.7.1-1.2 0-2.2.9-2 2.8.2 1.9-1.4 2.1-3.4 2.3-2 .1-1.3 1.7-2.1 2.3s-3.7-.3-4.1-1.4c-.4-1.1-3 0-1.9 1.3s1.1 3 .4 3.5c-.6.5-2-.8-2.9-.1-.9.6-.9-.6-2-1s-1.5.5-3.2.3c-1.7-.1-2.7.8-2 1.6.6.7-.1 1.4.4 2s2.7.5 4.4 1.4 2 .1 2.9.8c.8.6 1 .2 1.1 1.5.1 1.2 1 2.4 2.6 2.8 1.6.4.4 1.5.9 2.6s-.7 2.6-.5 3.9c.2 1.3-.8 5.5-1.6 5.9h-.2c-1 .2-3.8-.9-5.7-.6-2 .2-8.4-.3-10.9-.1-2.5.2-2.6-1-4-1s-.8 1.7-2.7 1.7-2.1 1.3-.7 2.4c.8.6.7 2 .6 3.2-.1.9-.2 1.8.1 2.2.6 1-.8 6.4-2 7.9-1.3 1.5 0 1.9 1.3 2.9s.4 4.7.4 5.6 1.2.6 2.5.6c.8 0 1.7-.4 2.6-.5.6-.1 1.2-.1 1.8.1 1.4.6 2.2 4 4 3.8.8-.1.4-.7.8-1.1.4-.4 1.1-.1 1.9-.1.8 0 1.2-1.1 3-1.2 1.9 0 3-.2 4.2-.1 1.2 0 2.1-.3 2.4-1.2.3-.8 1.3-1.6 2.6-1.8 1.3-.2 1.1-1.6 1.2-2.3.1-.8 2.3-1.9 2.4-2.5.1-.6-1.3-2.8 0-4.8s2.7-2.1 2.7-3.2c0-1 1.4-1.4 3-1.6 1.7-.2 2.2-1.3 3.6-1.9 1.2-.5 1.6-1.4 1.4-2.8 0-.3-.1-.5-.2-.8-.6-1.9 1.1-3 2.7-3.3 1.6-.2 5.1.7 6 1.3.9.6 2.2.4 3.8-1.3.8-.9 1.5-1.2 2.1-1.3.6-.2 1.1-.2 1.6-.5 1-.5.6-1.5 2.3-1.9 1.7-.5 3.9.9 4.6 1.9.7 1 .9 1.1 1 1.9.1.8.8 2.5 3.1 4s3.3 3.2 4.5 3.8c1.2.6 2.4.5 3.2 1.4.7.9 1.7 1.4 2.9 1.9s1.2 1.8 2.3 1.9.4 1.1 1.1 1.9c.7.8.9 2.6.1 3.6-.7 1-.3 2.6.1 2.6.5 0 1.5-1.8 1.7-2.7.1-1 1.1-.9 1.9-1.9.8-1-1.2-1.3-1.5-2.6-.3-1.3 1.5-2.5 3.2-1.4s2.4 1.8 2.5.1c.1-1.7-5.3-3.8-6.5-4.6-1.3-.8-.4-2-2.4-1.9s-4.4-2.4-5.1-5.3c-.7-2.9-3.8-3-4.6-4.7s.7-1.9.1-3.3c-.4-.8.5-1.5 1.5-1.9.8-.3 1.7-.4 2.1-.3.4.2.5.6.6 1 .1.7.1 1.4.6 1.4.9 0 2.5-.1 2.5 1.1 0 1.2 2.1 3.7 2.9 4.6.8.9 2.5.7 2.6 1.4s1.4 1.4 2.8 1.5c.4 0 .9.3 1.4.6.5.3 1.1.8 1.7 1.2.9.7 1.7 1.4 2.3 1.7.1 0 .1.1.2.1 1.3.7 1.8 1.2.9 2-.9.9-1.1 4-.1 4.9 1 .8 1.3 2.4 2.2 2.8l.1.1c1.1.3 1.9 1.6 1.8 2.8-.1 1.2 1.6 1.7 2.3.8.8-.9 3 .5 3 1.1s-2.2-.6-3.5.3 1 1.8.7 2.8.6 2.3 1.7 2.3 2.4 1.8 3.1 1.5c.7-.3-.8-2.9-.6-3.3s1.6.7 2.3-.1c.7-.8-.5-1.4-1.5-1.3-1 0 0-1.4 1.2-.6 1.2.7 1.8-.2 2.4-.3.6-.1.7-2.2-1.1-2.7s-1.6 1.3-2.7.1c-1.2-1.2 1.1-.7 1.1-1.8 0-1-1.8-2.5-2.7-3.7s1.2-1.8 1.7-.9 1.8.7 2.6.4c.8-.3-.9-1.9.6-2.5s1.5.4 2 .6.9-1.2 2.5-1.2c.8 0 1.5.5 2.2 1.1.6.5 1.3.9 1.9.9 1.4 0 1.9-1.5 3.1-1.9 1.2-.4 3.8.1 4.4-.4.6-.6-1.7-1.3-2.5-2-.5-.4-.6-1.1-.8-1.7-.1-.4-.2-.7-.5-.8-.5-.1-1.4-2.3-.7-2.5.7-.1 1.6-2.5 2.6-2.8.4-.1.6-.4.7-.7.1-.5 0-1.1 0-1.7 0-1 .6-2.6 1.7-2.7 1-.1 1.9-.1 1.7-1.8v-.2c-.1-1.5.2-1.4 1.6-2.5 1.4-1.1 1.6-3.1 2.8-3.3 1.1-.2 1.6-.6 2.8-.6.2 0 .5 0 .8.1 1.9.3-.9 1.5.3 2.1 1.3.7 5.2-.2 5.4.8s-4.5 1.9-4.4 2.4 2.5 1 3.3 1.5-.2 2 .1 2.5c.4.5 1.7.1 2.7-.6 1-.7 1.8-.5 3.2-1.4 1.3-.9 4-.1 4.4-.6.3-.5-.8-1.1-3.3-.9-2.5.2-2.7-2.2-2.7-2.7s2.6-2.5 4.1-2.6 2.7-.6 4.2-1.3c.6-.3 1.6-.6 2.7-.8 1-.2 2.1-.3 2.7-.3 10.8-12.6 28.5-91 29.2-94.4-1.8 1-5 .8-6 .8zm-83-12.7c.1.1.2.1.3.2-.1-.1-.2-.1-.3-.2zm27.5-1.4zm-18.8 78.4z"></path>
              <path d="M762.1 277.1c-2 .4-2.8.6-4 0s-3.1.5-2.8 1.3c.2.5 1 1.2 3.4 1.9 2.4.6 2.7 2.3 3.7 2.3s1.1-.9.9-2.2c-.2-1.3 1.2-2.8 1.4-3.1.2-.3-.6-.7-2.6-.2zM743.2 266c-1.1.9-2-.2-2.4.6-.5.9 1.7 2.3 1.2 4.2-.4 1.9.2 4.3 1.4 3.2 1.1-1.1 1.7-.6 2.3-1.4s.1-3.9.5-5.4c.5-1.4-1.9-2.1-3-1.2zM667 153.4c-1.2 0-2-.9-1.8-1.6.2-.7-.6-1.6-.6-2 0-.5-1.5-.1-2.2.1-.8.2-2.4-1.9-3.2-1.5-.7.4-.2 1.4-.4 2s-1.9-.5-1.9.1c0 .7-.7.8-1.3 0-.6-.7-1.9-.3-1.9.3s-.6.1-1.7-.6-2.3.8-2.2 1.5-.4.9-1.3-.7-2 .1-1.5 1 .3 1.9-.4 1.5-1.7.3-2.1 1c-.4.7-2-2-.9-2.6s-3.6-3.3-5-3.3-.5 1.1.5 1.9c1 .8-.7.6-1.2-.1s-1.6-.1-2.1.8c-.6 1-1.6 1.5-1.7 2.2-.1.7 1.7 1.4 3.2.8 1.5-.6 3.2-.7 4 0s-1.4 1-.6 1.6c.8.6.1 1.1-1.7.9-1.9-.1-4.1.4-3.7 1 .3.6 4.7-.5 4.8.1 0 .6 0 1.7 1.2 1.2s.4.9 1 1.1c.6.2.4 1.4-1.1 1.5-1.6.1-2.3.4-1.7 1.1.8.8 2.5.2 4.2-.1 1.7-.4 4 1.6 6 2.4 1.9.8 5.3-.3 5.7-1.3s3-.6 4.1-1.4c1.1-.7 2.5-1.6 4.4-1.7 1.9-.1 1.9-2.2 2.6-2.1.8.1 2-1.5 2.5-2.4.2-1-.8-2.7-2-2.7z"></path></g>
          <g id="m-64" class="karte-kontinent" fill="#e3e3e3"><path class="st0" d="M841.9 299.5h1.2c-.3-.1-.7-.1-1.2 0zm5.8-8.5c.1-.1.2-.1.2-.1s-.1 0-.2.1zm3.7-10.8l1.2.4h.1l-1.3-.4z"></path><path d="M921.6 317.3c-.8-.3 0-3-1.6-3.7s-3-1.7-3.4-2.9c-.4-1-2.3-2.1-2.2-2.9s3.9-3.3 3.4-4.7c-.5-1.4-3-1.2-3.3-1.7s.1-2.3-.5-3.8c-.7-1.4.5-2.7 0-3.5s.3-2.3.4-2.9c.1-.5 1.4-1.3 1.3-2.6-.1-.8.3-1.3.7-1.5-.4-1.3-.6-3.6-.6-4 0-.5-1.6-.5-2.3-.4-.8.1-1.5-1.9-2.2-1.9s-1.5-.6-1.5-1.2-1.9-1-2.8-.9c-1 .1-1.2-.8-1.6-.8s-2-.5-2.4-1.1c-.5-.6-3.3-.8-3.8-.1-.5.7-1.5.3-2.3.3-.9 0-2.4 1.4-2.9 2-.3.4-1.7.5-2.7.5 0 .8 0 1.5-.1 1.7-.5.8-4.3 1.5-7.1 1.6s-3-3.6-6.1-3.6c-2.2 0-3.9-2-4-3.9-1.3-.5-2.5-1.4-2.4-1.7.3-.5.9-3.8-.7-3-1.6.8-3.8 3.3-6.6 2.9-2.9-.4-.8-.7-2.2-1.3-1.4-.7-.5-2.2-2-2.5h-.3c-.2-.6-.4-1.1-.6-1.2-.5-.4-2 .4-2.5-1.1-.6-1.5 0-1.7-.9-2.8-.9-1.2-1.3-2.3-2.3-1.9-.5.2-1.9.2-3.5.1l-.4-.1c-1.7 1.3-4.9 2.2-5.9 1.9-1.3-.5-3.8.1-5.7.1s-2.4-1.4-3.9-1.3-1.5-1.3-2.9-1.3-.3-.7-4.9-1.3c-1.5-.2-3-.1-4.3.3-2.6.6-4.7 2-5.6 2.8-1.5 1.3-6.7 0-7.2.4-.5.3.1 1.8-1.7 2.5s-5.6 0-6.9.6c-1.3.6-1.8 2.5-.7 2.4s1.7.4 1.4.9.9 1.9.3 2.4c-.6.6-.7 1.7.1 2.3.8.6.9 1.7 0 1.8-.9.1 1.6 1.2 1.7 1.7 0 .5 2.1.7 2.1 1.3 0 .6.6.8 1.7.5 1-.3 1.4 1.1 2 2.1s4.2.3 4.2-.8 1.1-1.4 2.7-1.2c1.6.1 3.7 2.3 4.5 2.6.8.3 2.4-.6 3.4-.6.6 0 1.5-.6 2.1-1.2.4-.3.7-.6 1-.8.6-.3 1.6 1.1 2.5.6s1.9-1 2.5-.7-1.4 1.8-.9 2.6c.2.3.2.7.1 1.1-.1.6-.4 1.2 0 1.7.5.6-.1 1.4-.3 2.4v.4c0 1-1.6 3.1-2.4 4.9-.2.5-.4 1.1-.5 1.5-.3 1.8-1.8 4.7-2.6 5.9-.2.3-.3.4-.4.5-.4.4-2-.6-3.5-.2s-2.7-.1-4.1-.9c-1.5-.7-6.2.2-6.9 1.1-.6.9-2.2.9-3.7.3s-3.4-1.5-6-1.7c-2.2-.2-4.1-.5-4.8-1l-.2.2c-.1.3-.2.6-.3.8-.8 2.2.6 2.9-.4 4.1s0 2.6 0 4.9v25.4h20.1l1.2-.8c.6-.4 1.6.6 1.6.6h4.3s.8 1 1.8 1 .4-1.6 2-1.6 1.2-2.3 2.1-2.3c1 0 .8.2 1.8-1.2l.1-.1.1-.1c0-.1-.1-.3-.1-.4-.1-.4-.1-.9 0-1.3.2-1.6-.8-1.5-1.5-3.7s-3.4-5.5-3.5-6.7c-.1-1.3-1.6-2-1.6-3.4s-.7-1.5-2.2-3.7c-1.5-2.1-1.9-5.9-1.5-6s1.7 3.2 2.2 4.2c.5 1.1 2.1 4.3 3.3 4.3s1.6-4.9 2-4.7l.1.1c.2.7-.1 3.5.6 3.7.7.2 1.1 1.6 2.7 3.3 1.6 1.7 4.7 6.3 4.8 7.4 0 1.1.6 2.3 2.5 3.7 1.9 1.3 1.9 2.9 3 3.7 1 .8.8 1.7.8 3.6s.9 4.5 2.7 5.6 3 2.2 3.8 4.3c.8 2.1 1.9 3.9 3 5s.5 1.7 1.1 2.5c.3.4.8 1.2 1.1 1.9.3.7.5 1.5.3 2-.4 1.1 0 3.7 1 5.3 1 1.5.6 4.3 1.1 4.8s4.3.4 6-.7 2.9-1.3 4.2-1.3c1.4 0 3.2-1.2 3.6-1.8.4-.6 2.4-.6 3.3-.5.8.1 1.7-.8 2.6-1.8.9-.9 3.8-1.3 7-2.3 3.1-1 2.4-2.4 3.2-3.3.6-.7 1.5-.5 2.8-1.1.3-.1.5-.2.8-.4 1.9-1.1 3.9-.5 5.4-.9 1.4-.4 0-1.6 1.3-2.6 1.2-1 3-.2 3.6-.6.6-.3 1.1-2.6 2.1-3 1.1-.4 2.2-.1 2.1-1.1-.1-.9.1-4.2 1.1-4.4 1-.2 2.6-1.3 2.7-1.8 0-.6 2.1-2.8 2.7-3.8.6-1.1.7-1.7-.2-1.8-.9-.1-2.4-2.7-2.8-3.5-.4-.7-3.2-.2-5.5-2-.9-.7-1.4-2.1-1.8-3.5-.5-2-.6-4.1-.9-4.1-.6 0-3 2.5-3.9 4.4-1 1.9-3.8 3.4-6.2 2.9-2.4-.4-3.3.6-3.9 1-.2.1-.4 0-.7-.2-.5-.4-1.2-1.3-1.4-2.1-.1-.3-.1-.7.1-.9.6-1.1 1-3.8-.4-4.2-1.4-.4-2.2 2.4-2.2 3.2 0 .1-.1.1-.2 0-.6-.4-2.4-2.9-1.8-3.5.7-.8-.4-2.6-1.5-3.6s-3.3-2.8-3.4-3.9c0-.3-.2-.8-.4-1.4-.6-1.5-1.6-3.6-1.6-4.2 0-.2.1-.4.3-.5.3-.3.9-.6 1.4-.8.3-.1.6-.1.8-.1.9 0 .8-1 1.5-.4s1.6-.1 2.3-.1 2.5 3.5 3.4 5.2c.8 1.7.8 2.3 1.9 3 1.1.7 2.4.3 4 2s5.7 2.8 7.5 2.9 3.1-1.9 5.3-1.5 1.7 3.3 2.5 4.3 9.9 1.7 11.5 2.1c.6.2 1.9.3 3.4.3h.3v-.3c-.1-1.6 1-2.9 2.1-3.4 1-.5 2-.8 3-.9.4 1-.6-1.1-1.4-1.4zm-79.7-17.8h1.2c-.3-.1-.7-.1-1.2 0zm5.8-8.5c.1-.1.2-.1.2-.1s-.1 0-.2.1zm3.7-10.8l1.2.4h.1l-1.3-.4z"></path></g>
</svg>
    </div>
    <div class="filters bg-outside">
        <div class="row">
            <div class="container">
                <h4 class="uppercase">Sortieren nach:</h4>
                <div class="views-exposed-form">
                    <div class="form-item form-inline kontinent">
                        <select class="form-select" id="continentselect">
                            <option selected value="all">-- {{'Kontinent' | t }} --</option>
                            {% for cont in content['#continents'] %}
                                <option value="m-{{cont.id}}" class="m-{{cont.id}}">{{cont.getName()}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-item form-inline land">
                        <select class="form-select" id="landselect" disabled="">
                     
                        </select>
                    </div>
                    <div class="form-item form-inline kategorie">
                        <select class="form-select" id="kategorieelect" disabled="">
                          
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rows-item row">
        {% for node in content['#nodes'] %}
        
            {% set countryname = drupal_field('field_address', 'node', node.id).0['country']['#value'] %}

            {% if (node.field_continent.value.0.target_id | length > 0 ) and (node.field_kategorie|map(u => u.entity.name.value) is not empty) and (countryname is not empty)%}
            <div class="col-xs-12 col-sm-4 views-row active" data-continent="m-{{node.field_continent.value.0.target_id}}" data-countrycode="{{node.field_address.value.0.country_code}}" data-country="{{countryname}}" data-categorie="{{node.field_kategorie|map(u => u.entity.name.value) | join('|') | replace({' ': '_'})}}" data-categorieid="{{node.field_kategorie.value|map(u => u.target_id)|join(', ')}}">
                <div class="box">
                    <h5>{{ node.getTitle() }}</h5>
                    <div class="details">
                        {% if node.field_address is not empty%}
                            <div class="info"><i class="icon-location"></i>{{drupal_field('field_address', 'node', node.id).0}}</div>
                        {% endif %}
                         {% if node.field_e_mail is not empty%}
                            <div class="info"><i class="icon-email"></i>{{node.field_e_mail.value}}</div>
                        {% endif %}
                        {% if node.field_telefon is not empty%}
                            <div class="info"><i class="icon-telephone"></i>{{node.field_telefon.value}}</div>
                        {% endif %}
                        {% if node.field_fax is not empty%}
                            <div class="info"><i class="icon-print"></i>{{node.field_fax.value}}</div>
                        {% endif %}
                        {% if node.field_url is not empty%}
                            <div class="info"><i class="icon-globe"></i>{{node.field_url.value.0.uri}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
  {% endblock %}
</div>
