

{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{% set left = left|render %}
{% set right = right|render %}
{% set pdf_url = content.field_katalog_file.0['#urlFile'] %}
{% set parentCategory = content['#taxonomy_term'].parent.target_id %}
{% set view = drupal_view_result('produkte_views', 'block_1')|length %}
{% if childrens is not empty %}
    {% set layout_class = [
        'group-one-column',
        'section-category'
        ] 
    %}
{% else %}
    {% set layout_class = [
        'group-one-column',
        'section-sub-category'
        ] 
    %}
{% endif %}
<section {{ attributes.addClass(layout_class, 'section', 'clearfix') }}>
    {{ title_suffix.contextual_links }}
    
    {% if childrens is not empty %}
        <div class="group-header header-landing-category">
            {{content.field_kategorie_image_landing}}
            <div class="container">
                {{ header }}
            </div>
        </div>
        <div class="breadcrumb-container">
            {{ drupal_block('system_breadcrumb_block') }}
        </div>
        <div class="group-content">
            <div class="container">
                <div class="row">
                    {% if content.field_katalog_file |render  %}
                        {% if left %}
                            <div class="group-left col-xs-12 col-sm-6">
                                {{ left }}
                            </div>
                        {% endif %}
                        <div class="separator col-xs-12 col-sm-1"></div>
                        <div class="group-right col-xs-12 col-sm-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 pdf-thumnail">
                                    
                                    <img data-pdf-thumbnail-file="{{  pdf_url }}" data-pdf-thumbnail-width="170" src="/themes/basic/images/pdf.png" width="170" height="auto" style="max-width: 100%;">
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="btn-list">
                                        {{content.field_katalog_file}}
                                        <a class="btn btn-border" href="{{  pdf_url }}" target="_blank">{{ 'Online ansehen'|t }}<i class="icon-visibility"></i></a>
                                    </div>
                                </div>
                            </div>
                          {{ right }}
                        </div>
                    {% else %}
                        {% if left %}
                            <div class="group-left col-xs-12">
                                {{ left }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="group-footer">
            {% if content.field_intro_description | render %}
            <div  class="section-download-produkt">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-l">
                            {{content.field_intro_description}}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-r">
                            {{content.field_intro_dokument}}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="container">
                <div class="sub-categories-section">
                    {% if parentCategory !=  '0' or HasNotMultipleChildrens ==  'false' %}
                        {% set view = drupal_view_result('categories_block', 'block_3')|length %}
                        {% if view > 0 %}
                            <h3 class="rel-cat uppercase">{{name}}</h3>
                            {{ drupal_view('categories_block', 'block_3') }}
                        {% endif %}
                    {% else %}
                        {% set view = drupal_view_result('categories_block', 'block_7')|length %}
                        {% if view > 0 %}
                            <h3 class="rel-cat uppercase">{{name}}</h3>
                            {{ drupal_view('categories_block', 'block_7') }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {{ footer }}
            {% if content.field_katalog_file |render  %}
                <div class="paragraph text-media-block cat-text-media-block out-of-container content-right">
                  <div class="container">
                      <div class="shell">
                          <div class="media">
                            {% if content.field_katalog_image |render is not empty  %}
                                {{content.field_katalog_image}}
                              {% else %}
                                <img src="/themes/basic/images/background/default-image.jpg" alt="Nabertherm" title="Nabertherm">
                            {% endif %}
                          </div>
                          <div class="content">
                             <h2 class="uppercase title-inline">{{ 'Katalog'|t }} {{ name }}</h2>
                              {{ content.field_katalog_description}}
                                <div class="btn-list">
                                    {{content.field_katalog_file}}
                                    <a class="btn btn-border" href="{{  pdf_url }}" target="_blank">{{ 'Online ansehen'|t }} <i class="icon-visibility"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    
    
    {% else %}
    
        {% set viewRelatedCategori = drupal_view_result('categories_block', 'block_4')|length %}
        <div class="group-header header-landing-category">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-l">
                        {{ left }}
                        <div class="btn-list btn-list-inline">
                            {{content.field_katalog_file}}
                            <a class="btn btn-border show-form" href="#contactform" target="_blank">{{ 'Informationen anfordern'|t }}</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-r">
                        {{content.field_kategorie_images.0}}
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-container">
            {{ drupal_block('system_breadcrumb_block') }}
        </div>
        <div class="group-content">
           
            <div class="container">
                {% if view > 0 %}
                    <h3 class="rel-cat uppercase">{{ name }}</h3>
                    {{ drupal_view('produkte_views', 'block_1') }}
                {% endif %}
            </div>
            {% if relatedChildrensItems is not empty%}
                <div class="caroucel-container">
                    <div class="container">
                        <div class="related-category">
                            <h3 class="rel-cat uppercase">{{ 'Weitere' |t }} {{ drupal_field('name', 'taxonomy_term', parentCategory) }} {{ 'Öfen' |t }}</h3>
                            <div class="sub-categories-block related-categories row">
                                <div class="swiper-container caroucel-slide">
                                    <div class="swiper-wrapper">
                                        {% for item in relatedChildrensItems %}
                                        <div class="col-xs-12 col-sm-3 views-row anim swiper-slide">
                                            <div class="views-field kategorie-image">
                                                <div class="field-content">
                                                    <a href="{{item.url}}" hreflang="">
                                                        {% if item.image %}
                                                            <img src="{{item.image}}" alt="test" loading="lazy" typeof="foaf:Image">
                                                        {% else %}
                                                            <img src="/themes/basic/images/no-image.png" alt="" title="no image">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="views-field views-field-name">
                                                <span class="field-content">
                                                    <a href="{{item.url}}" hreflang="">{{item.name}}</a>
                                                </span>
                                            </span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="group-footer">

            {{ footer }}
            <div class="paragraph text-media-block cat-text-media-block out-of-container content-right">
              <div class="container">
                  <div class="shell">
                      <div class="media">
                        {% if drupal_field('field_katalog_image', 'taxonomy_term', parentCategory) %}
                            {{ drupal_field('field_katalog_image', 'taxonomy_term', parentCategory, 'full') }}
                        {% else %}
                            <img src="/themes/basic/images/background/default-image.jpg" alt="Nabertherm" title="Nabertherm">
                        {% endif %}
                      </div>
                      <div class="content">
                            <h2 class="uppercase">{{ drupal_field('name', 'taxonomy_term', parentCategory) }}</h2>
                            {{ drupal_field('field_katalog_description', 'taxonomy_term', parentCategory, 'full') }}
                            <div class="btn-list btn-list-inline">
                                {{ drupal_field('field_katalog_file', 'taxonomy_term', parentCategory, 'full') }}
                                <a class="btn btn-border" href="{{  pdf_url }}" target="_blank">{{ 'Online ansehen'|t }}<i class="icon-visibility"></i></a>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    {% endif %}

</section>
