{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
  {{ title_prefix }}
  {% if name and not page %}
    <a {{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).setAttribute('href', url).addClass(classes, 'category-link') }}> 
        {{content.field_kategorie_image_landing.0}}
        <h4 class="category-name">
            <span>
            {% if content.field_display_name | render%}
                {{ content.field_display_name }}
            {% else %}
                {{ name }}
            {% endif %}
            </span>
        </h4>
    </a>
  {% endif %}
  {{ title_suffix }}

