@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?7920974');
  src: url('../font/fontello.eot?7920974#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?7920974') format('woff2'),
       url('../font/fontello.woff?7920974') format('woff'),
       url('../font/fontello.ttf?7920974') format('truetype'),
       url('../font/fontello.svg?7920974#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7920974#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-open-mini:before { content: '\e800'; } /* '' */
.icon-left-open-mini:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-right-arrow:before { content: '\e804'; } /* '' */
.icon-arrow-right:before { content: '\e805'; } /* '' */
.icon-line-left-arrow:before { content: '\e806'; } /* '' */
.icon-line-top-arrow:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-down-open-mini:before { content: '\e80a'; } /* '' */
.icon-up-open-mini:before { content: '\e80b'; } /* '' */
.icon-up-open-big:before { content: '\e80c'; } /* '' */
.icon-down-open-big:before { content: '\e80d'; } /* '' */
.icon-full-screen:before { content: '\e80e'; } /* '' */
.icon-play:before { content: '\e80f'; } /* '' */
.icon-email:before { content: '\e810'; } /* '' */
.icon-telephone:before { content: '\e811'; } /* '' */
.icon-visibility:before { content: '\e812';    font-size: 12px; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-print:before { content: '\e816'; } /* '' */
.icon-arrow-button:before { content: '\e81a'; } /* '' */
.icon-close:before { content: '\e81f'; } /* '' */
.icon-foreign:before { content: '\e823'; } /* '' */
.icon-suche:before { content: '\e829'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */