{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="video-gallery accordion">
    <h3 class="uppercase">{{ title }} <span class="show-hide"><i class="icon-down-open-big"></i></span></h3>
    <div class="accordion-item">
        <div class="top">
            <div class="actions">
                <a href="#" class="a-slide" data-type="list"><span>show list</span><i class="icon-th-list"></i></a>
                <a href="#" class="active a-grid" data-type="slide"><span>show grid</span><i class="icon-th-thumb-empty"></i></a>
            </div>
        </div>
        <div class="swiper-container caroucel-video">
            <div class="rows-item swiper-wrapper item-wrapper">
                {% for row in rows %}
                    {%
                        set row_classes = [
                        default_row_class ? 'views-row',
                        'swiper-slide',
                        'item-slide',
                        ]
                    %}
                    <div{{ row.attributes.addClass(row_classes) }}>
                        {{- row.content -}}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
